*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F3F5F9;
}
.overflow-auto {
    overflow: auto;
}
.nav-link {
    font-weight: 500;
    color: #495057;
    text-wrap: nowrap;
}
.nav-link.active {
    color: #657ff7;
}
.nav-link:hover {
    color: #657ff7;
}
#logo:hover {
    filter: brightness(0.8);
}
.fw-500 {
    font-weight: 500;
}
.trancate {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.space-prewrap {
    white-space: pre-wrap;
}


/* colors */
.filter-white {
    filter: invert(1);
}
.filter-secondary {
    filter: invert(54%) sepia(5%) saturate(776%) hue-rotate(167deg) brightness(100%);
}
.filter-primary,
.filter-hover-primary:hover {
    filter: invert(42%) sepia(65%) saturate(1255%) hue-rotate(209deg);
}

.text-primary {
    color: #657ff7 !important;
}
.text-hover-primary:hover {
    color: #657ff7 !important;
}

.bg-primary {
    background-color: #657ff7 !important;
}
.bg-aux {
    background-color: #e8f0fe !important;
}
.dropdown-menu {
    --bs-dropdown-link-active-bg: #657ff7;
}
.btn-aux {
    --bs-btn-bg: #e8f0fe;
    --bs-btn-border-color: #dee2e6;
    --bs-btn-hover-bg: #c3d0f4;
    --bs-btn-hover-border-color: #c3d0f4;
    --bs-btn-active-bg: #c3d0f4;
    --bs-btn-active-border-color: #dee2e6;
    --bs-btn-disabled-bg: #c3d0f4;
    --bs-btn-disabled-border-color: #c3d0f4;
}
.btn-primary {
    --bs-btn-bg: #657ff7;
    --bs-btn-border-color: #657ff7;
    --bs-btn-hover-bg: #4a62cc;
    --bs-btn-hover-border-color: #4a62cc;;
    --bs-btn-active-bg: #657ff7;
    --bs-btn-active-border-color: #4a62cc;
    --bs-btn-disabled-bg: #4a62cc;
    --bs-btn-disabled-border-color: #4a62cc;
}
.btn-outline-primary {
    --bs-btn-color: #657ff7;
    --bs-btn-border-color: #657ff7;
    --bs-btn-hover-bg: #657ff7;
    --bs-btn-hover-border-color: #657ff7;
    --bs-btn-active-bg: #657ff7;
    --bs-btn-active-border-color: #657ff7;
    --bs-btn-disabled-color: #657ff7;
    --bs-btn-disabled-border-color: #657ff7;
}
.btn-danger {
    --bs-btn-bg: #ec4884;
    --bs-btn-border-color: #ec4884;
    --bs-btn-hover-bg: #c23b6a;
    --bs-btn-hover-border-color: #c23b6a;
    --bs-btn-active-bg: #ec4884;
    --bs-btn-active-border-color: #c23b6a;
    --bs-btn-disabled-bg: #c23b6a;
    --bs-btn-disabled-border-color: #c23b6a;
}

.form-check-input:checked {
    background-color: #657ff7;
    border-color: #657ff7;
}
.form-control::placeholder {
    color: #21252980;
}
.form-control[disabled],
.form-select[disabled] {
    background-color: #f8f9fa;
}
.form-check-input:focus {
    border-color: #dee2e6;
    box-shadow: none;
}

/* buttons */
.btn-img {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.btn-img.active img,
.btn-img.active svg {
    filter: invert(46%) sepia(50%) saturate(2348%) hue-rotate(211deg);
}
.btn-link {
    border: none;
    background: none;
    padding: 0;
    text-decoration: none;
}
.btn-link.active {
    filter: invert(47%) sepia(56%) saturate(600%) brightness(90%) hue-rotate(192deg);
}
button.disabled,
button.disabled:hover {
    color: #252525;
    filter: invert(68%) sepia(64%) saturate(0%) hue-rotate(235deg) !important;
    cursor: default;
}

/* main */
main {
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

/* footer */
footer {
    background-color: #657ff7;
    border-top-color: #b9b9b9;
    border-top-style: solid;
    border-top-width: 3px;
    margin-top: auto;
}
.mail_ref {
    color: #b9b9b9;
    text-decoration: none;
}
.mail_ref:hover {
    color: black;
}
.contact_ico {
    height: 25px;
    filter: invert(1);
}
.contact_ico:hover {
    filter: brightness();
}

/* common */
table th {
    font-weight: 500;
}
table th {
    font-weight: 500;
}
.fw-500 {
    font-weight: 500;
}
.pointer {
    cursor: pointer;
}
.w-fit {
    width: fit-content;
}
.h-fit {
    height: fit-content;
}

/* cards */
.card-header {
    border-bottom-color: #ced3d7;
}
.card-header .prev-arrow,
.card-header .next-arrow {
    cursor: pointer;
    font-size: 24px;
    padding: 0 1rem 0.25rem 1rem;
}
.card-header .prev-arrow { 
    border-top-left-radius: 5px; 
} 
.card-header .next-arrow { 
    border-top-right-radius: 5px; 
} 
.card-header .prev-arrow:hover,
.card-header .next-arrow:hover {
    background: #3FADFF;
}
.card-footer {
    border-top-color: #ced3d7;
}
.draggable {
    z-index: 5;
    position: fixed;
}
.draggable .card-header:hover {
    cursor: default;
}
@media (min-width: 576px) {
    .draggable {
        left: 1.5rem;
    }
}

/* scroll */
::-webkit-scrollbar {
    max-width: 9px;
    max-height: 9px;
}
::-webkit-scrollbar-thumb {
    background-color: #d8e0ff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #b0bbe6;
}
::-webkit-scrollbar-track {
    background-color: #F3F5F9;
}
