#photo-access-btn .check-circle {
    display: none;
}
#photo-access-btn .x-circle {
    display: inline;
}
#photo-access-btn.allowed .check-circle {
    display: inline;
}
#photo-access-btn.allowed .x-circle {
    display: none;
}

#anthropo-metrics .photo-card {
    width: 100%;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    min-width: 13rem;
    height: fit-content;
}
@media (min-width: 576px) {
    #anthropo-metrics .photo-card {
        top: unset;
        left: 1.5rem;
        bottom: 4.5rem;
        right: unset;
        width: unset;
        transform: unset;
        max-width: 33rem;
        max-height: 90%;
    }
}