/* comments */
.comment {
    left: 0;
    width: 100%;
    bottom: 2rem;
    overflow: auto;
    resize: both;
}
@media (min-width: 576px) {
    .comment {
        left: 1.5rem;
        width: 350px;
    }
}
.comment-text {
    text-align: start;
    white-space: pre-line;
}

/* metrics */
#select-days-form button {
    width: 25px;
}
#select-days-form #id_days {
    width: 5rem;
}

/* colouring */
#algorithm {
    max-width: 500px;
}
.list-group-item:hover {
    color: #657ff7;
}
.list-group-item.active {
    color: #657ff7;
    background-color: unset;
    border-color: #dee2e6;
}
