/* comments */
.comment {
    left: 0;
    bottom: 0;
    max-height: 90vh;
    width: 100%;
    overflow: auto;
}
@media (min-width: 576px) {
    .comment {
        left: 1.5rem;
        bottom: 1.5rem;
        width: 350px;
        resize: both;
    }
}
.comment-text {
    text-align: start;
    white-space: pre-line;
}

/* metrics */
#select-days-form button {
    width: 25px;
}
#select-days-form #id_days {
    width: 5rem;
}

/* colouring */
#algorithm {
    max-width: 500px;
}
.list-group-item:hover {
    color: #657ff7;
}
.list-group-item.active {
    color: #657ff7;
    background-color: unset;
    border-color: #dee2e6;
}

/* estimation */
#estimation {
    bottom: 0;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 576px) {
    #estimation {
        left: 1.5rem;
        bottom: 1.5rem;
        width: fit-content;
    }
}
