{% load static %}

<button id="chat-btn" class="btn-img rounded-circle bg-white shadow" title="Чат">
  <span class="badge position-absolute translate-middle rounded-pill bg-primary">{% if new_msgs_count > 0 %}{{ new_msgs_count }}{% endif %}</span>
  <img src="{% static 'chat/img/chat.png' %}" width="50" class="filter-secondary filter-hover-primary">
</button>

<div id="chat" class="card draggable shadow" data-first-open="true" style="display: none;">
  <params
    data-url-get-last="{% url 'chat:get_last_msgs' %}"
    data-url-get-old="{% url 'chat:get_old_msgs' %}" 
    data-url-get-new="{% url 'chat:get_new_msgs' %}"
    data-url-count-new="{% url 'chat:count_new_msgs' %}"
    data-url-set-seen="{% url 'chat:set_seen' %}">
  </params>
  <div class="card-header draggable-point d-flex align-items-center bg-aux gap-2 justify-content-between">
    <div class="col-1"></div>
    <h6 class="mb-0 text-nowrap col-auto">Чат</h6>
    <button type="button" class="col-1 btn-close" title="Закрыть чат"></button>
  </div>
  <div class="card-body position-relative py-0 pe-0">
    <div id="chat-history" class="d-flex flex-column">
      <template id="message-template-user">
        <div id="" class="chat-message user-message d-flex flex-column align-items-end my-2 me-2 p-1" data-id="">
          <div class="chat-message-header d-flex flex-row gap-1">
            <small>Я</small>
            <small> • </small>
            <small class="created-at"></small>
          </div>
          <p class="message-text m-0"></p>
          <div class="message-audio"></div>
          <div class="message-image"></div>
        </div>
      </template>
      <template id="message-template-partner">
        <div id="" class="chat-message partner-message rounded d-flex flex-column my-2 me-2 p-1" data-id="">
          <div class="chat-message-header d-flex flex-row gap-1">
            <small>{{ partner.username|title }}</small>
            <small> • </small>
            <small class="created-at"></small>
          </div>
          <p class="message-text m-0"></p>
          <div class="message-audio"></div>
          <div class="message-image"></div>
        </div>
      </template>
    </div>
    <button id="chat-scroll-btn" type="button" title="Вниз" style="display: none;" 
      class="btn-img rounded-circle position-absolute shadow-sm bg-white">
      <img src="{% static 'chat/img/arrow-down-circle.svg' %}" width="25" 
        class="filter-secondary filter-hover-primary">
    </button>
  </div>
  <div class="card-footer bg-aux px-2">
    <form id="message-form" method="POST" action="{% url 'chat:save_msg' %}" enctype="multipart/form-data">
      {% csrf_token %}
      {{ message_form.sender }}
      {{ message_form.recipient }}
      <div style="display: none;">
        {{ message_form.image }}
        {{ message_form.audio }}
      </div>
      <div id="attach-files-preview" class="d-flex flex-column gap-1 mb-1">
        <div id="input-img-preview" style="display: none;">
          <img src="{% static 'chat/img/file-earmark-image.svg' %}" width="19"
            title="Прикрепляемое изображение" class="file-type filter-primary">
          <span class="trancate mx-2"></span>
          <img src="{% static 'chat/img/x.svg' %}" id="input-img-delete" width="25"
            title="Удалить" class="filter-secondary filter-hover-primary pointer">
        </div>
        <div id="input-audio-preview" style="display: none;">
          <img src="{% static 'chat/img/file-earmark-music.svg' %}" width="19"
            title="Прикрепляемое аудио" class="file-type filter-primary">
          <div class="status"></div>
          <img src="{% static 'chat/img/stop-fill.svg' %}" id="stop-audio" width="22"
            title="Завершить запись" class="filter-secondary filter-hover-primary pointer">
          <img src="{% static 'chat/img/x.svg' %}" id="input-audio-delete" width="25"
            title="Удалить" class="filter-secondary filter-hover-primary pointer">
        </div>
      </div>
      <div class="d-flex gap-2">
        <div class="d-flex flex-column justify-content-end gap-2 pb-1">
          <label id="input-img-label" for="id_image" title="Прикрепить изображение" class="btn-img align-self-center">
            <img src="{% static 'chat/img/card-image.svg' %}" width="22" class="filter-secondary filter-hover-primary">
          </label>
          <button type="button" id="audio-record-btn" title="Голосовое сообщение" class="btn-img">
            <img src="{% static 'chat/img/mic.svg' %}" width="25" class="filter-secondary filter-hover-primary">
          </button>
        </div>
        {{ message_form.text }}
        <div class="d-flex flex-column justify-content-end gap-2 pb-1">
          <button type="submit" title="Отправить сообщение (Enter)" class="btn-img">
            <img src="{% static 'chat/img/send-fill.svg' %}" width="23" class="filter-secondary filter-hover-primary">
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
