@media screen and (min-width: 576px) {
    .questionary_container {
        border: 1px solid #dee2e6;
        border-radius: 10px;
        box-shadow: 0 0 8px 1px #9fbfc5;
    } 
}
#fullname_label, #birthdate_label {
    margin-bottom: 5px;
}
.birthdate_container {
    display: flex;
    justify-content: center;
}
#id_birth_date_day {
    width: 5rem;
    text-align: center;
    z-index: 2;
}
#id_birth_date_month {
    width: 9rem;
    text-align: center;
    z-index: 2;
}
#id_birth_date_year {
    width: 6rem;
    text-align: center;
    z-index: 2;
}
.side_hr {
    margin-top: -20px;
    z-index: 1;
}
.boolquestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.confirmquestion {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boolanswers {
    display: flex;
    flex-direction: row;
    min-width: 7em;
    justify-content: space-between;
    font-size: 20px;
}
@media screen and (max-width: 500px) {
    .boolanswers {
        flex-direction: column;
        align-items: flex-end;
        min-width: 3em;
        margin-right: 5px;
    }
}
.boolanswers p {
    margin-right: 5px;
    margin-bottom: 3px;
}
.exp_question {
    margin-right: 3rem;
    margin-bottom: unset;
    white-space: nowrap;
}
.question {
    margin-right: 2rem;
    margin-bottom: unset;
}
.radioanswers {
    display: flex;
    flex-direction: column;
}
.radioanswer {
    display: flex;
    padding: 1px;
}
.label_for_radio {
    margin-left: 10px;
}
.radioanswer_line {
    display: flex;
    margin: 10px 15px;
}
.radioanswer_line input[type="radio"] {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
