{% extends 'client/layout.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'client/css/contacts.css' %}">
{% endblock %}

{% block title %}
	<title>{{ user.username|capfirst }}: контакты</title>
{% endblock %}

{% block content %}
<section id="client-contacts-section">
    <div class="container">
        <div class="card shadow-sm mx-auto" style="max-width: 936px;">
			<div class="card-header bg-primary text-light text-center">
                <h5 class="mb-0">{{ contacts_form.header }}</h5>
			</div>
			<div class="card-body">
                <form id="contacts-form" method="post" class="d-flex flex-column gap-4 mt-3">
                    {% csrf_token %}
                    {% for field in email_form %}
                        <div id="{{ field.name }}">
                            {{ field.label_tag }}
                            {{ field }}
                            {% for error in field.errors %}
                                <small class="text-danger ms-4">• {{ error|striptags }}</small><br>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {% for field in contacts_form %}
                        <div id="{{ field.name }}">
                            {{ field.label_tag }}
                            {% if field.name != 'preferred_contact' %}
                                <img src="{% static 'client/img/question-circle.svg' %}" alt="help-icon" title="Инструкция"
                                class="help-icon svg-hover-primary hover-pointer float-end mt-1">
                            {% endif %}
                            {{ field }}
                            {% for error in field.errors %}
                                <small class="text-danger ms-4">• {{ error|striptags }}</small><br>
                            {% endfor %}
                            {% if field.name != 'preferred_contact' %}
                                <div class="help-detail my-3" style="display: none;">
                                    <p>{{ field.help_text }}</p>
                                    <div class="d-flex justify-content-center flex-column flex-md-row gap-3">
                                        <img data-src="{{ help_img_folder }}{{ field.name }}1.jpg" class="lazy border rounded">
                                        <img data-src="{{ help_img_folder }}{{ field.name }}2.jpg" class="lazy border rounded" onerror="this.remove();">
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="d-flex justify-content-between mt-4">
						<button type="button" onclick="history.back();" class="btn btn-outline-primary">Назад</button>
                        <input type="submit" class="btn btn-primary" value="Сохранить">
					</div>
                </form>
			</div>
		</div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script src="{% static 'client/js/contacts.js' %}"></script>
{% endblock %}
