{% extends layout %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'client/css/feedback.css' %}">
{% endblock %}

{% block title %}
	<title>{{ client|capfirst }}: отзыв</title>
{% endblock %}

{% block content %}
{% with user.is_expert as is_expert %}
<section id="client-feedback-section">
    <div class="container">
        <div class="card shadow-sm mx-auto" style="max-width: 936px;">
            <div class="card-header bg-primary text-light text-center">
				<h5 class="mb-0">Отзыв</h5>
			</div>
            <div class="card-body">
                <form id="feedback-form" method="post" class="d-flex flex-column gap-3">
                    {% csrf_token %}
                    {% if is_expert and not form.instance.id %}
                        <p class="text-center my-3">
                            Отзыв отсутствует
                        </p>
                    {% else %}
                        <div id="created_at" class="d-flex justify-content-center">
                            {% if form.instance.created_at.value %}
                                {{ form.created_at.value|date:"n E Y H:i" }}
                            {% else %}
                                {% now "n E Y" %}
                            {% endif %}
                        </div>
                        <div class="row align-items-center g-3 g-sm-5">
                            <div id="{{ form.name.name }}" class="form-group text-center col-sm-6">
                                <div>{{ form.name.label_tag }}</div>
                                <div>{{ form.name }}</div>
                                {% for error in form.name.errors %}
                                    <small class="text-danger ms-4">• {{ error|striptags }}</small><br>
                                {% endfor %}
                            </div>
                            <div id="{{ form.rate.name }}" class="form-group text-center col-sm-6">
                                <div>{{ form.rate.label_tag }}</div>
                                {{ form.rate }}
                                <div class="d-flex align-items-center justify-content-center py-1 gap-1">
                                    {% for i in 1|ljust:5 %}
                                        <div class="star empty">
                                            <img src="{% static 'client/img/star.svg' %}" width="29" class="empty pointer filter-primary">
                                            <img src="{% static 'client/img/star-half.svg' %}" width="29" class="half pointer filter-primary">
                                            <img src="{% static 'client/img/star-fill.svg' %}" width="29" class="fill pointer filter-primary">
                                        </div>
                                    {% endfor %}
                                </div>
                                {% for error in form.rate.errors %}
                                    <small class="text-danger ms-4">• {{ error|striptags }}</small><br>
                                {% endfor %}
                            </div>
                        </div>
                        <div id="{{ form.text.name }}" class="form-group">
                            <div>{{ form.text }}</div>
                            <small class="helptext text-secondary">{{ form.text.help_text }}</small>
                            {% for error in form.text.errors %}
                                <small class="text-danger ms-4">• {{ error|striptags }}</small><br>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if is_expert %}
                        <div class="d-flex justify-content-center gap-2">
                            <label>Ссылка для клиента:</label>
                            <a id="client-link" href="{% url 'client:feedback' %}">
                                {{ request.scheme }}://{{ request.get_host }}{% url 'client:feedback' %}
                            </a>
                            <button id="copy-btn" type="button" class="btn-img" title="Скопировать ссылку">
                                <img src="{% static 'client/img/check2.svg' %}" width="18" class="copied mb-1" style="display: none;">
                                <img src="{% static 'client/img/copy.svg' %}" width="18" class="not-copied mb-1">
                            </button>
                        </div>
                    {% endif %}
                    <div class="d-flex justify-content-between">
                        <button type="button" onclick="history.back();" class="btn btn-outline-primary">Назад</button>
                        {% if not is_expert %}
                            <input type="submit" class="btn btn-primary" value="Сохранить">
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endwith %}
{% endblock %}

{% block script %}
    <script src="{% static 'client/js/feedback.js' %}?update=1"></script>
{% endblock %}