{% extends 'client/layout.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'client/css/link_fatsecret.css' %}">
{% endblock %}

{% block title %}
	<title>{{ user.username|capfirst }}: привязка FatSecret</title>
{% endblock %}

{% block content %}
<section id="link-fatsecret-section">
    <div class="container">
        <div class="card shadow-sm mx-auto">
            <div class="card-header bg-primary text-light text-center">
                <h5 class="mb-0">Подключение FatSecret к аккаунту</h5>
            </div>
            <div class="card-body p-lg-4">
                <p>
                    Для эффективного и удобного подсчета калорий и нутриентов мы рекомендуем приложение 
                    <a href="https://www.fatsecret.com" target="_blank" class="color-fatsecret fw-500 text-decoration-none">FatSecret</a>.
                    <br>
                    FatSecret бесплатен, прост в использовании и не содержит навязчивой рекламы.
                </p>
                <p>
                    Вам нужно будет вносить употребляемые продукты в приложение на своем смартфоне, 
                    а вся необходимая для анализа информация будет собираться автоматически.
                </p>
                <p>
                    Помимо ручного внесения, приложение позволяет добавлять продукты 
                    с помошью сканирования штрих-кода или наведения на продукт камеры.
                </p>
                <div class="d-flex flex-column flex-lg-row justify-content-between gap-3 mt-4">
                    <div class="d-flex flex-column justify-content-center col-12 col-lg-5">
                        <h5 class="ms-3">Порядок действий:</h5>
                        <ol class="d-grid gap-3">
                            <li>
                                <p class="mb-1">Установите приложение.</p>
                                <div class="d-flex flex-wrap gap-3">
                                    <a target="blank" href="https://itunes.apple.com/ru/app/calorie-counter-by-fatsecret/id347184248?mt=8" style="text-decoration:none">
                                        <img src="https://a.ftscrt.com/static/images/mobi/ios/Download_on_the_App_Store_Badge_RU_RGB_blk_100317.svg" id="fsapp_apple">
                                    </a>
                                    <a target="blank" href="https://play.google.com/store/apps/details?id=com.fatsecret.android" style="text-decoration:none">
                                        <img src="https://a.ftscrt.com/static/images/mobi/android/ru_get_2.svg" id="fsapp_googleplay">
                                    </a>
                                </div>
                            </li>
                            <li>
                                Войдите в свой аккаунт на сайте 
                                <a href="https://www.fatsecret.com/Auth.aspx?pa=s" target="_blank" 
                                    class="color-fatsecret fw-500 text-decoration-none">FatSecret</a>.
                                <wbr> 
                                Возможно, его потребуется подтвердить.
                            </li>
                            <li>
                                <p class="mb-1">Свяжите свои аккаунты в прочный союз с помощью этой кнопки:</p>
                                <a href="{% url 'nutrition:link_fatsecret' %}" class='btn btn-outline-primary'>
                                    Привязать FatSecret
                                </a>
                            </li>
                        </ol>
                    </div>
                    <div class="d-flex justify-content-between align-items-center col-lg-6 gap-3">
                        <div>
                            <img src="{% static 'client/img/fs_apple.webp' %}" class="rounded w-100">
                        </div>
                        <div>
                            <img src="{% static 'client/img/fs_meal.webp' %}" class="rounded w-100">
                        </div>
                        <div class="d-none d-sm-block">
                            <img src="{% static 'client/img/fs_photo.webp' %}" class="rounded w-100">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
