{% extends 'client/layout.html' %}
{% load static %}
{% load nutrition_recommendations %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'client/css/metrics.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/page_menu.css' %}">
{% endblock %}

{% block title %}
	<title>{{ user.username|capfirst }}: измерения</title>
{% endblock %}

{% block content %}
{% include 'metrics/daily_metrics_period_select.html' %}
{% nutrition_recommendations %}
<section id="metrics-menu-section">
    <div class="container">
        {% include 'metrics/daily_metrics_page_menu.html' %}
    </div>
</section>
<section id="metrics-table-section" class="mb-4">
    <div class="container">
        {% include 'metrics/daily_metrics_table.html' %}
    </div>
</section>
{% endblock %}

{% block script %}
    <script src="{% static 'client/js/metrics.js' %}"></script>
{% endblock %}
