{% extends 'client/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/alerts.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/metrics.css' %}">
    <link rel="stylesheet" href="{% static 'client/css/extra_menu.css' %}">
{% endblock %}

{% block title %}
	<title>{{ user.username|capfirst }}: измерения</title>
{% endblock %}

{% block content %}
{% include 'home/alerts.html' %}
<section id="metrics-menu-section">
    <div class="container">
        <div class="extra-menu mx-auto mb-4">
            <div class="extra-menu-date bg-primary text-white col-auto col-lg-2 m-lg-0 shadow-sm py-2 px-3">
                <h5 class="mb-0 mx-2 text-nowrap">{% now "j E" %}</h5>
            </div>
            <div class="extra-menu-btns bg-white col-auto shadow-sm gap-2 gap-md-4 py-2 px-3">
                <div class="text-nowrap align-middle btn-link-blackblue" title="Добавить измерения">
                    <a href="{% url 'client:metrics_add' %}" class="text-nowrap text-decoration-none">
                        <img src="{% static 'client/img/plus-square.svg' %}" width="20">
                        <span class="d-none d-sm-inline">Измерение</span>
                    </a>
                </div>
                <div id="colouring-btn" class="text-nowrap align-middle btn-link-blackblue" 
                    title="Окрашивание измерений" data-get-url="{% url 'metrics:get_сolouring_data' %}">
                    <img src="{% static 'client/img/palette.svg' %}" width="20">
                    <span class="d-none d-sm-inline">Окрашивание</span>
                </div>
                <div id="recommendations-btn" class="text-nowrap align-middle btn-link-blackblue" 
                    title="Рекомендации по питанию">
                    <img src="{% static 'client/img/file-ruled.svg' %}" width="20">
                    <span class="d-none d-sm-inline">Кбжу</span>
                </div>
                <div class="text-nowrap align-middle btn-link-blackblue" title="Страница антропометрии">
                    <a class="text-nowrap text-decoration-none" href="">
                        <img src="{% static 'client/img/person-lines-fill.svg' %}" width="20">
                        <span class="d-none d-sm-inline">Антропометрия</span>
                    </a>
                </div>
            </div>
            <div class="col-2">
            </div>
        </div>
    </div>
</section>

<section id="metrics-section">
    <div class="container">
        <div id="metrics" class="card shadow-sm mx-auto">
            <div class="card-header bg-primary text-light text-center">
                <h5 class="mb-0">Таблица дневных измерений</h5>
            </div>
            <div class="card-body p-0">
                {% if not metrics %}
                    <p class="text-center my-4">Нет измерений за указанный период.</p>
                    {% if start_date > end_date %}
                        <p class="text-center mb-4">Интересно, почему же...</p>
                    {% endif %}
                {% else %}
                    <table id="metrics-table" class="table table-bordered align-middle text-center d-block d-md-table overflow-auto w-100">
                        <thead class="table-light align-middle">
                            <tr> 
                                <th title="Дата измерения">
                                    Дата
                                </th>
                                <th title="Самочувствие">
                                    <img src="{% static 'client/img/emoji-smile.svg' %}" width="20" class="d-lg-none">
                                    <label class="d-none d-lg-inline">Самочувствие</label>
                                </th>
                                <th title="Вес">
                                    <img src="{% static 'client/img/feather.svg' %}" width="20" class="d-lg-none">
                                    <label class="d-none d-lg-inline">Вес</label>
                                </th>
                                <th title="Процент жира">
                                    <img src="{% static 'client/img/fats-percent.png' %}" width="20" class="d-lg-none">
                                    <label class="d-none d-lg-inline">Процент жира</label>
                                </th>
                                <th title="Пульс в покое">
                                    <img src="{% static 'client/img/heart-pulse.svg' %}" width="20" class="d-lg-none">
                                    <label class="d-none d-lg-inline">Пульс</label>
                                </th>
                                {% if metrics_avg.pressure_upper and metrics_avg.pressure_lower %}
                                    <th title="Давление">
                                        <img src="{% static 'client/img/heart.svg' %}" width="20" class="d-lg-none">
                                        <label class="d-none d-lg-inline">Давление</label>
                                    </th>
                                {% endif%}
                                <th title="Калории">
                                    <img src="{% static 'client/img/fire.svg' %}" width="20" class="d-lg-none">
                                    <label class="d-none d-lg-inline">Калории</label>
                                </th>
                                <th title="Белки">
                                    <img src="{% static 'client/img/protein.png' %}" width="20" class="d-lg-none">
                                    <label class="d-none d-lg-inline">Белки</label>
                                </th>
                                <th title="Жиры">
                                    <img src="{% static 'client/img/fats.png' %}" width="20" class="d-lg-none">
                                    <label class="d-none d-lg-inline">Жиры</label>
                                </th>
                                <th title="Углеводы">
                                    <img src="{% static 'client/img/carbo.png' %}" width="20" class="d-lg-none">
                                    <label class="d-none d-lg-inline">Углеводы</label>
                                </th>
                                <td>&nbsp</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for day in metrics %}
                            <tr>
                                <td title="Дата измерения">{{ day.date|date:"j.m" }}</td>
                                <td class="td_feel" value="{{ day.feel }}" title="Самочувствие" data-levels="{{ metrics_levels.feel }}">
                                    {{ day.feel|default:"" }}
                                </td>
                                <td class="td_weight text-nowrap" value="{{ day.weight }}" title="Вес">{{ day.weight|floatformat|default:"" }}</td>
                                <td class="td_fat_percentage" value="{{ day.fat_percentage }}" title="Процент жира">{{ day.fat_percentage|floatformat|default:"" }}</td>
                                <td class="td_pulse" value="{{ day.pulse }}" title="Пульс">{{ day.pulse|floatformat|default:"" }}</td>
                                {% if metrics_avg.pressure_upper and metrics_avg.pressure_lower %}
                                    {% if day.pressure_upper and day.pressure_lower %}
                                        <td class="td_pressure" value="{{ day.pressure_upper }}/{{ day.pressure_lower }}" title="Артериальное давление">
                                            {{ day.pressure_upper|floatformat }}/{{ day.pressure_lower|floatformat }}
                                        </td>
                                    {% else %}
                                        <td class="td_pressure" value="" title="Артериальное давление"></td>
                                    {% endif %}
                                {% endif%}
                                <td class="td_calories" value="{{ day.calories }}" title="Калории">{{ day.calories|floatformat|default:"" }}</td>
                                <td class="td_protein" value="{{ day.protein }}" title="Белки">{{ day.protein|floatformat|default:"" }}</td>
                                <td class="td_fat" value="{{ day.fat }}" title="Жиры">{{ day.fat|floatformat|default:"" }}</td>
                                <td class="td_carbohydrate" value="{{ day.carbohydrate }}" title="Углеводы">{{ day.carbohydrate|floatformat|default:"" }}</td>
                                <td>
                                    <div class="d-flex flex-nowrap justify-content-around gap-2">
                                        {% if day.comment %}
                                            <img src="{% static 'client/img/chat-text.svg' %}" id="comment-btn-{{ forloop.counter }}" value="{{ day.date }}" 
                                                title="показать комментарий" class="comment-btn btn-link-blackblue" data-number="{{ forloop.counter }}">
                                            <div id="comment-{{ forloop.counter }}" class="comment draggable border-0 card shadow" data-number="{{ forloop.counter }}">
                                                <div class="card-header draggable-point d-flex align-items-center bg-auxiliary gap-2 text-light justify-content-between">
                                                    <div class="col-1"></div>
                                                    <h6 class="mb-0 text-nowrap col-auto">{{ day.date|date:"j E" }}</h6>
                                                    <button type="button" class="col-1 btn-close btn-close-white"></button>
                                                </div>
                                                <div class="card-body bg-white pt-0 pb-4">
                                                    <p class="comment-text mb-0">
                                                        {{ day.comment|safe }}
                                                    </p>
                                                </div>
                                            </div>
                                        {% else %}
                                            <img src="{% static 'client/img/chat.svg' %}" title="комментария нет">
                                        {% endif %}
                                        <a href="{% url 'client:metrics_add' %}?date={{ day.date|date:'Y-m-d' }}" class="svg-hover-primary hover-pointer">
                                            <img src="{% static 'client/img/pencil-square.svg' %}" title="редактировать">
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot class="table-light">
                            <tr>
                                <th class="text-nowrap" title="Средние значения">
                                    <img src="{% static 'client/img/bar-chart-line.svg' %}" width="20" class="d-lg-none">
                                    <label class="d-none d-lg-inline">Среднее:</label>
                                </th>
                                <th>{{ metrics_avg.feel|floatformat|default:"" }}</th>
                                <th class="text-nowrap">{{ metrics_avg.weight|floatformat|default:"" }}</th>
                                <th>{{ metrics_avg.fat_percentage|floatformat|default:"" }}</th>
                                <th>{{ metrics_avg.pulse|floatformat|default:"" }}</th>
                                {% if metrics_avg.pressure_upper and metrics_avg.pressure_lower %}
                                    <th>{{ metrics_avg.pressure_upper|floatformat }}/{{ metrics_avg.pressure_lower|floatformat }}</th>
                                {% endif%}
                                <th>{{ metrics_avg.calories|floatformat }}</th>
                                <th>{{ metrics_avg.protein|floatformat }}</th>
                                <th>{{ metrics_avg.fat|floatformat }}</th>
                                <th>{{ metrics_avg.carbohydrate|floatformat }}</th>
                                <td>
                                    <img src="{% static 'client/img/question-circle.svg' %}" id="avg-detail-btn" class="btn-link-blackblue"
                                    data-bs-toggle="popover" data-bs-title="Расчет средних значений" 
                                    data-bs-content="Средние значения высчитываются по выбранному периоду.
                                    Данные КБЖУ за сегодня не учитываются при подсчетах среднего значения, 
                                    так как могут измениться в течение дня, и соответственно расчеты будут не информативными.">
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                {% endif %}
                <div id="metrics-btns" class="d-flex flex-column flex-sm-row justify-content-between align-items-center gap-2 mb-3 mx-3">
                    <div class="d-flex align-items-center">
                        <label for="select-period-btn" class="fw-500 me-2">Даты:</label>
                        <button type="button" id="select-period-btn" class="btn-link-blackblue"
                        data-bs-toggle="modal" data-bs-target="#select-period-modal" title="Выбрать период">
                            {{ start_date|date:'d b y' }} ↔ {{ end_date|date:'d b y' }}
                        </button>
                    </div>
                    <form method="get" class="d-flex align-items-center gap-2">
                        <label for="id_days" class="fw-500">Дни:</label>
                        <input type="number" id="id_days" name="days" min="1" class="form-control pe-1 py-0 text-center" value="{{ metrics|length }}" style="width:5rem">
                        <button type="submit" class="btn btn-primary py-0 px-1" style="width: 25px;" title="Получить измерения">✓</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="recommendations" class="card overflow-auto draggable border-0 shadow">
    <div class="card-header draggable-point d-flex align-items-center bg-auxiliary gap-2 text-light justify-content-between">
        <div class="col-1"></div>
        <h6 class="mb-0 text-nowrap col-auto">КБЖУ рекомендации</h6>
        <button type="button" class="col-1 btn-close btn-close-white"></button>
    </div>
    <div class="card-body bg-white d-flex flex-column gap-2">
        {% if not recommedations_form.instance.pk %}
            <p class="text-center my-4">Рекомендации пока не установлены</p>
        {% else %}
            {% for field in recommedations_form %}
                {% if field.name != "comment" %}
                <div class="d-flex align-items-center gap-3">
                    <label for="{{ field.id_for_label }}" class="w-50">{{ field.label }}:</label>
                    {{ field|append_attr:"disabled" }}
                </div>
                {% endif %}
            {% endfor %}
            <div class="mt-3">
                {{ recommedations_form.comment|append_attr:"readonly" }}
            </div>
        {% endif %}
    </div>
</div>

<div id="select-period-modal" class="modal fade" tabindex="-1">
    <div class="modal-dialog shadow">
        <div class="modal-content">
            <div class="modal-header justify-content-center bg-primary">
                <h5 class="modal-title text-white">Выбор периода измерений</h5>
            </div>
            <div class="modal-body px-2 px-sm-3">
                <form method="get">
                    <div class="d-flex flex-row justify-content-around justify-content-sm-center gap-sm-4 mb-4">
                        <div>
                            <label for="id_start" class="form-label text-center w-100">Старт</label>
                            <input type="date" id="id_start" class="form-control text-center ps-0" name="start" value="{{ start_date|date:'Y-m-d' }}">
                        </div>
                        <div>
                            <label for="id_end" class="form-label text-center w-100">Конец</label>
                            <input type="date" id="id_end" class="form-control text-center ps-0" name="end" value="{{ end_date|date:'Y-m-d' }}">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary float-end">Получить</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{% static 'home/js/draggable.js' %}"></script>
    <script src="{% static 'home/js/alerts.js' %}"></script>
    <script src="{% static 'client/js/metrics.js' %}"></script>
{% endblock %}
