{% extends 'controlpage/layout.html' %}
{% load static %}

{% block title %}{{ clientname }}: анкета здоровья{% endblock %}

{% block content %}

<div class="container pt-5">
    <div class="health_questionary_container">
        <h2 class="text-center">Оценка здоровья и физической формы</h2>
        <br>
        <div class="fullname_question">
            <span id="fullname_label">{{ health_questionary_form.fullname.label }}:</span><span class="fs-5">{{ health_questionary.fullname }}</span>
        </div>
        <br>
        <div class="birthdate_question">
            <span id="birthdate_label">{{ health_questionary_form.birth_date.label }}:</span><span class="fs-5">{{ health_questionary.birth_date }}</span>
        </div>
        <br>
        <br>

        <h4 class="text-center">1.Наличие потенциально опасных субъективных ощущений</h4>

        <h6 class="p-3">Имеются ли в настоящее время:</h6>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter11.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter11" value="yes" class="simple_bool_radio" id="id_parameter11_1" disabled {% if health_questionary.parameter11 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter11" value="no" class="simple_bool_radio" id="id_parameter11_0" disabled {% if health_questionary.parameter11 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter12.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter12" value="yes" class="simple_bool_radio" id="id_parameter12_1" disabled {% if health_questionary.parameter12 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter12" value="no" class="simple_bool_radio" id="id_parameter12_0" disabled {% if health_questionary.parameter12 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter13.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter13" value="yes" class="simple_bool_radio" id="id_parameter13_1" disabled {% if health_questionary.parameter13 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter13" value="no" class="simple_bool_radio" id="id_parameter13_0" disabled {% if health_questionary.parameter13 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter14.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter14" value="yes" class="simple_bool_radio" id="id_parameter14_1" disabled {% if health_questionary.parameter14 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter14" value="no" class="simple_bool_radio" id="id_parameter14_0" disabled {% if health_questionary.parameter14 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter15.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter15" value="yes" class="simple_bool_radio" id="id_parameter15_1" disabled {% if health_questionary.parameter15 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter15" value="no" class="simple_bool_radio" id="id_parameter15_0" disabled {% if health_questionary.parameter15 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter16.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter16" value="yes" class="simple_bool_radio" id="id_parameter16_1" disabled {% if health_questionary.parameter16 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter16" value="no" class="simple_bool_radio" id="id_parameter16_0" disabled {% if health_questionary.parameter16 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter17.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter17" value="yes" class="simple_bool_radio" id="id_parameter17_1" disabled {% if health_questionary.parameter17 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter17" value="no" class="simple_bool_radio" id="id_parameter17_0" disabled {% if health_questionary.parameter17 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <p class="text-secondary p-3">Если клиент ответил «да» на любой вопрос в Разделе 1, для начала или возобновления тренировок он должен пройти
            медицинский осмотр и получить медицинское заключение о допуске к занятиям физической культурой.</p>
        <br>
        <h4 class="text-center">2.Привычный уровень физической активности</h4>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter20.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter20" value="yes" class="simple_bool_radio" id="id_parameter20_1" disabled {% if health_questionary.parameter20 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter20" value="no" class="simple_bool_radio" id="id_parameter20_0" disabled {% if health_questionary.parameter20 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <br>

        <h4 class="text-center">3.Наличие диагностированных заболеваний</h4>

        <h6 class="p-3">Были в прошлом или есть в настоящее время:</h6>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter31.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter31" value="yes" class="simple_bool_radio" id="id_parameter31_1" disabled {% if health_questionary.parameter31 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter31" value="no" class="simple_bool_radio" id="id_parameter31_0" disabled {% if health_questionary.parameter31 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter32.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter32" value="yes" class="simple_bool_radio" id="id_parameter32_1" disabled {% if health_questionary.parameter32 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter32" value="no" class="simple_bool_radio" id="id_parameter32_0" disabled {% if health_questionary.parameter32 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter33.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter33" value="yes" class="simple_bool_radio" id="id_parameter33_1" disabled {% if health_questionary.parameter33 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter33" value="no" class="simple_bool_radio" id="id_parameter33_0" disabled {% if health_questionary.parameter33 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter34.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter34" value="yes" class="simple_bool_radio" id="id_parameter34_1" disabled {% if health_questionary.parameter34 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter34" value="no" class="simple_bool_radio" id="id_parameter34_0" disabled {% if health_questionary.parameter34 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter35.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter35" value="yes" class="simple_bool_radio" id="id_parameter35_1" disabled {% if health_questionary.parameter35 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter35" value="no" class="simple_bool_radio" id="id_parameter35_0" disabled {% if health_questionary.parameter35 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <br>
        <div class="boolquestion">  
            <p class="question">{{ health_questionary_form.parameter36.label }}</p>
            <div class="boolanswers">
                <div class="d-flex align-items-center">
                    <p>да</p>
                    <input type="radio" name="parameter36" value="yes" class="simple_bool_radio" id="id_parameter36_1" disabled {% if health_questionary.parameter36 == 'yes' %} checked {% endif %}>
                </div>
                <div class="d-flex align-items-center">
                    <p>нет</p>
                    <input type="radio" name="parameter36" value="no" class="simple_bool_radio" id="id_parameter36_0" disabled {% if health_questionary.parameter36 == 'no' %} checked {% endif %}> 
                </div>
            </div>
        </div>
        <p class="text-secondary p-3">Если клиент ответил «да» в Разделе 2 и одновременно ответил «да» хотя бы на один вопрос в Разделе 3, тренировки
            легкой или умеренной интенсивности можно начинать или продолжать без проведения медицинского осмотра
            и получения медицинского заключения о допуске к занятиям физической культурой. Но допуск к тренировкам высокой
            интенсивности производится только на основании медицинского заключения. <br>
            Если клиент ответил «нет» в Разделе 2 и одновременно ответил «да» хотя бы на один вопрос в Разделе 3, допуск
            к любым тренировкам производится только на основании письменного медицинского заключения.</p>
        <br>

        <h4 class="text-center">4.Дополнительная информация о состоянии здоровья</h4>

        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.norm_pressure.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="norm_pressure" value="" class="complex_bool_radio" id="id_norm_pressure_1" disabled {% if health_questionary.norm_pressure != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="norm_pressure" value="no" class="complex_bool_radio" id="id_norm_pressure_0" disabled {% if health_questionary.norm_pressure == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.norm_pressure != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.norm_pressure }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter42.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter42" value="" class="complex_bool_radio" id="id_parameter42_1" disabled {% if health_questionary.parameter42 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter42" value="no" class="complex_bool_radio" id="id_parameter42_0" disabled {% if health_questionary.parameter42 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter42 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter42 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter43.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter43" value="" class="complex_bool_radio" id="id_parameter43_1" disabled {% if health_questionary.parameter43 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter43" value="no" class="complex_bool_radio" id="id_parameter43_0" disabled {% if health_questionary.parameter43 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter43 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter43 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter44.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter44" value="" class="complex_bool_radio" id="id_parameter44_1" disabled {% if health_questionary.parameter44 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter44" value="no" class="complex_bool_radio" id="id_parameter44_0" disabled {% if health_questionary.parameter44 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter44 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter44 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter45.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter45" value="" class="complex_bool_radio" id="id_parameter45_1" disabled {% if health_questionary.parameter45 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter45" value="no" class="complex_bool_radio" id="id_parameter45_0" disabled {% if health_questionary.parameter45 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter45 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter45 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter46.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter46" value="" class="complex_bool_radio" id="id_parameter46_1" disabled {% if health_questionary.parameter46 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter46" value="no" class="complex_bool_radio" id="id_parameter46_0" disabled {% if health_questionary.parameter46 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter46 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter46 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter47.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter47" value="" class="complex_bool_radio" id="id_parameter47_1" disabled {% if health_questionary.parameter47 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter47" value="no" class="complex_bool_radio" id="id_parameter47_0" disabled {% if health_questionary.parameter47 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter47 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter47 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter48.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter48" value="" class="complex_bool_radio" id="id_parameter48_1" disabled {% if health_questionary.parameter48 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter48" value="no" class="complex_bool_radio" id="id_parameter48_0" disabled {% if health_questionary.parameter48 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter48 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter48 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter49.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter49" value="" class="complex_bool_radio" id="id_parameter49_1" disabled {% if health_questionary.parameter49 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter49" value="no" class="complex_bool_radio" id="id_parameter49_0" disabled {% if health_questionary.parameter49 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter49 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter49 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter410.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter410" value="" class="complex_bool_radio" id="id_parameter410_1" disabled {% if health_questionary.parameter410 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter410" value="no" class="complex_bool_radio" id="id_parameter410_0" disabled {% if health_questionary.parameter410 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter410 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter410 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter411.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter411" value="" class="complex_bool_radio" id="id_parameter411_1" disabled {% if health_questionary.parameter411 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter411" value="no" class="complex_bool_radio" id="id_parameter411_0" disabled {% if health_questionary.parameter411 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter411 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter411 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter412.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter412" value="" class="complex_bool_radio" id="id_parameter412_1" disabled {% if health_questionary.parameter412 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter412" value="no" class="complex_bool_radio" id="id_parameter412_0" disabled {% if health_questionary.parameter412 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter412 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter412 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter413.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter413" value="" class="complex_bool_radio" id="id_parameter413_1" disabled {% if health_questionary.parameter413 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter413" value="no" class="complex_bool_radio" id="id_parameter413_0" disabled {% if health_questionary.parameter413 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter413 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter413 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter414.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter414" value="" class="complex_bool_radio" id="id_parameter414_1" disabled {% if health_questionary.parameter414 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter414" value="no" class="complex_bool_radio" id="id_parameter414_0" disabled {% if health_questionary.parameter414 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter414 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter414 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter415.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter415" value="" class="complex_bool_radio" id="id_parameter415_1" disabled {% if health_questionary.parameter415 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter415" value="no" class="complex_bool_radio" id="id_parameter415_0" disabled {% if health_questionary.parameter415 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter415 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter415 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <p class="question">{{ health_questionary_form.parameter416.label }}</p>
            <div class="radioanswer_line">
                <input type="radio" name="parameter416" value="high" class="par416_radio" id="id_parameter416_3" disabled {% if health_questionary.parameter416 == 'high' %} checked {% endif %}>
                3 занятия в неделю или больше, занятия регулярные, нагрузки от значительных до предельных
            </div>
            <div class="radioanswer_line">
                <input type="radio" name="parameter416" value="medium" class="par416_radio" id="id_parameter416_2" disabled {% if health_questionary.parameter416 == 'medium' %} checked {% endif %}>
                2–3 занятия в неделю, занятия достаточно регулярные, нагрузки от умеренных до значительных
            </div>
            <div class="radioanswer_line">
                <input type="radio" name="parameter416" value="low" class="par416_radio" id="id_parameter416_1" disabled {% if health_questionary.parameter416 == 'low' %} checked {% endif %}>
                меньше 2 занятий в неделю, занятия нерегулярные, нагрузки от незначительных до умеренных
            </div>
            <div class="radioanswer_line">
                <input type="radio" name="parameter416" value="no" class="par416_radio" id="id_parameter416_0" disabled {% if health_questionary.parameter416 == 'no' %} checked {% endif %}>
                нет
            </div>
            {% if health_questionary.parameter416 != 'no' %}
            <p class="question">стаж занятий:</p>
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter416_exp }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter417.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter417" value="" class="complex_bool_radio" id="id_parameter417_1" disabled {% if health_questionary.parameter417 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter417" value="no" class="complex_bool_radio" id="id_parameter417_0" disabled {% if health_questionary.parameter417 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter417 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter417 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter418.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter418" value="" class="complex_bool_radio" id="id_parameter418_1" disabled {% if health_questionary.parameter418 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter418" value="no" class="complex_bool_radio" id="id_parameter418_0" disabled {% if health_questionary.parameter418 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter418 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter418 }}</p>
            {% endif %}
        </div>
        <br>
        <div class="openquestion">
            <div class="openquestion_line">
                <p class="question">{{ health_questionary_form.parameter419.label }}</p>
                <div class="boolanswers">
                    <div class="d-flex align-items-center">
                        <p>да</p>
                        <input type="radio" name="parameter419" value="" class="complex_bool_radio" id="id_parameter419_1" disabled {% if health_questionary.parameter419 != 'no' %} checked {% endif %}>
                    </div>
                    <div class="d-flex align-items-center">
                        <p>нет</p>
                        <input type="radio" name="parameter419" value="no" class="complex_bool_radio" id="id_parameter419_0" disabled {% if health_questionary.parameter419 == 'no' %} checked {% endif %}>
                    </div>
                </div>
            </div>
            {% if health_questionary.parameter419 != 'no' %}
            <p class="form-control mb-0 bg-light">{{ health_questionary.parameter419 }}</p>
            {% endif %}
        </div>
    </div>
</div>
<br>

{% endblock %}