{% extends 'controlpage/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ clientname }}: питание{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div class="container pt-5">

    {% if client_not_connected %}
        <h4 class="text-center text-danger">FatSecret не подключен!</h4><br>
    {% else %}

        <!-- Сводка за сегодня -->
        {% if daily_food %}
            <table class="table table-bordered caption-top">
                <caption><h3>Сегодня</h3></caption>
                <thead class="table-light">
                    <tr>
                        <th>Категория</th>
                        <th>Продукт</th>
                        <th class="text-center">Количество</th>
                        <th class="text-center">Калории</th>
                        <th class="text-center">Белки</th>
                        <th class="text-center">Жиры</th>
                        <th class="text-center">Углеводы</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    {% for category, count in daily_food.count_by_category.items %}
                        {% if count > 0 %}
                            <td rowspan="{{ count }}">{% translate category %}</td>
                        {% endif %}
                        {% for food in daily_food.entries %}
                            {% if food.meal == category %}
                            <td>{{ food.food_entry_name }}</td>
                            <td class="text-center">{{ food.norm_amount|default:"?" }} {{ food.serving.metric_serving_unit|default_if_none:"" }}</td>
                            <td class="text-center">{{ food.calories }}</td>
                            <td class="text-center">{{ food.protein }}</td>
                            <td class="text-center">{{ food.fat }}</td>
                            <td class="text-center">{{ food.carbohydrate }}</td> 
                        </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <tr class="table-light">
                        <th colspan="2" class="text-end">Всего:</th>
                        <th class="text-center">{{ daily_food.nutrition.amount }} g/ml</th>
                        <th class="text-center">{{ daily_food.nutrition.calories }}</th>
                        <th class="text-center">{{ daily_food.nutrition.protein }}</th>
                        <th class="text-center">{{ daily_food.nutrition.fat }}</th>
                        <th class="text-center">{{ daily_food.nutrition.carbohydrate }}</th>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <h3>Сегодня</h3>
            <p class="text-center my-4">Данные отсутствуют</p>
        {% endif %}

        <!-- Выбор сводки за другое число -->
        <div class="d-flex mt-4 mb-5 my-sm-4">
            <hr class="d-none d-sm-block w-fill" style="margin-top: 51px;">
            <div class="mx-auto ms-am-auto me-sm-0" id="select_date_section_mealjournal">
                <h5 class="text-center fw-normal">Cводка за другое <b class="fw-bold">число</b></h5>
                <form action = "{% url 'client_foodbydate' %}" method = "get" class="d-flex justify-content-between">
                    <input type="hidden" value="{{ client_id }}" name="client_id">
                    <input type="date" class="form-control text-center me-3" name="date" id="input_briefdate" value="{% now 'Y-m-d' %}">
                    <button type="submit" class="btn btn-primary" name="submit" data-bs-toggle="modal" data-bs-target="#load_cat">Получить</button>
                </form>
            </div>
        </div>

        <!-- Сводка за текущий месяц -->
        {% if monthly_food %}
            <table class="table table-bordered table-hover caption-top text-center">
                <caption><h3>Текущий месяц</h3></caption>
                <thead class="table-light">
                    <tr>
                        <th>Дата</th>
                        <th>Калории</th>
                        <th>Белки</th>
                        <th>Жиры</th>
                        <th>Углеводы</th>
                    </tr>
                </thead>
                <tbody>
                    {% for day in monthly_food.entries %}
                    <tr>
                        <td>{{ day.date_datetime|date:"j E - D" }}</td>
                        <td>{{ day.calories }}</td>
                        <td>{{ day.protein }}</td>
                        <td>{{ day.fat }}</td>
                        <td>{{ day.carbohydrate }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="table-light">
                        <th>В среднем:</th>
                        <th>{{ monthly_food.monthly_avg.calories }}</th>
                        <th>{{ monthly_food.monthly_avg.protein }}</th>
                        <th>{{ monthly_food.monthly_avg.fat }}</th>
                        <th>{{ monthly_food.monthly_avg.carbo }}</th>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <h3>Текущий месяц</h3>
            <p class="text-center">Данные отсутствуют</p>
        {% endif %}

        <!-- топ-10 продуктов за текущий месяц -->
        <!-- заполняется данными от ajax запроса -->
        <div class="hidden_element" id="top_section">
            <ol class="top_table_ol my-4">
            <table class="table top_table caption-top" id="table_top_amount">
                <caption><h4 class="text-center">Топ по количеству</h4></caption>
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>Название продукта</th>
                        <th class="text-center">Съедено</th>
                        <th class="text-center">Получено калорий</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </ol>

            <ol class="top_table_ol mt-4 mb-5">
            <table class="table top_table caption-top" id="table_top_calories">
                <caption><h4 class="text-center">Топ по калориям</h4></caption>
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>Название продукта</th>
                        <th class="text-center">Съедено</th>
                        <th class="text-center">Получено калорий</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </ol>
        </div>

        <!-- запрос топ-10 за месяц -->
        {% if monthly_food %}
            <div id="waiting_cat" class="waiting_container hidden_element d-flex flex-column my-5">
                <img src="{% static 'general/img/cat_with_coffee.gif' %}" id="cat_with_coffee"><br>
                <h6 class="text-center text-muted"><i>нужно немножечко подождать...</i></h6>
            </div>
            <form action="{% url 'get_monthly_top' %}" method="get" class="" id="get_top_form">
                <input type="hidden" value="{{ client_id }}" name="client_id">
                <input type="hidden" value="{% now 'Y-m' %}" name="month">
                <button type="submit" class="btn btn-primary d-block mx-auto ms-sm-0 my-4 mb-sm-0" id="calc_top_btn">
                    ТОП-10
                </button>
            </form>
            <span class="text-danger d-block text-center mb-2" id="top_error"></span>
        {% endif %}

        <!-- Сводка (итоговая средняя) за последний полный месяц - сделать! -->

        <!-- Выбор сводки за другой месяц-->
        <div class="d-flex my-4 mt-sm-0">
            <hr class="d-none d-sm-block w-fill" style="margin-top: 51px;">
            <div class="mx-auto ms-am-auto me-sm-0" id="select_date_section_mealjournal">
                <h5 class="text-center fw-normal">Сводка за другой <b class="fw-bold">месяц</b></h5>
                <form action = "{% url 'client_foodbymonth' %}" method = "get" class="d-flex justify-content-between">
                    <input type="hidden" value="{{ client_id }}" name="client_id">
                    <input type="month" class="form-control text-center me-3" name="month" id="input_briefmonth" value="{{ previous_month }}">
                    <button type="submit" class="btn btn-primary" name="submit" data-bs-toggle="modal" data-bs-target="#load_cat">Получить</button>
                </form>
            </div>
        </div>
    {% endif %}
    <br>
</div>

<!-- модальное окно для обработки продуктов без метрики -->
<div class="modal" id="WithoutInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-blueshadow">
            <div class="modal-header align-items-baseline">
                <h4 class="text-center modal-title">Некоторые продукты не удалось посчитать :(</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">Укажите их массу, пожалуйста</h5>
                <form method="POST" action="{% url 'foodmetricsave' %}" id="add_metric_form">
                    {% csrf_token %}
                    <div id="without_info_list">
                        {% if prods_without_info %}
                            {% for id, info in prods_without_info.items %}
                                <div class="without_info_row mt-5">
                                    <div class="d-flex">
                                        <span class="text-royalblue me-2"><b>Продукт:</b></span>
                                        {{ info.food_entry_name }}
                                    </div>
                                    <div class="d-flex align-items-center text-nowrap my-2">
                                        {{ info.serving_description }} = 
                                        <input type="hidden" value="{{ id }}" name="food_id">
                                        <input type="hidden" value="{{ info.serving_id }}" name="serving_id">
                                        <input type="number" class="form-control mx-2" min="0" name="metric_serving_amount" required>
                                        <select class="form-select" name="metric_serving_unit">
                                            <option value="g">г</option>
                                            <option value="ml">мл</option>
                                        </select>
                                    </div>
                                    <p>Калорийность этой порции: {{ info.calories_per_serving }} ккал</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <p class="text-center" id="foodmetricsave_status">&nbsp;</p>
                    <button type="button" class="btn btn-primary hidden_element" id="recalculation_btn">Пересчитать</button>
                    <button type="submit" class="btn btn-primary btn_rigth">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'controlpage/js/client_mealjournal.js' %}"></script>
{% endblock %}