{% extends 'layouts/expertpage_layout.html' %}
{% load static %}

{% block title %}{{ clientname }}: антропометрия{% endblock %}

{% block content %}

<div class="container main_container d-flex flex-column justify-content-between pt-5">

    <!-- записанные измерения -->
    <section name="anthropometry_entries">
        {% if not entries %}
            <p class="text-center">Данные измерений отсутствуют</p><br>
        {% else %}
            {% if show_all_entries %}
                <!-- все измерения -->
                <h5 class="text-center text-sm-start ms-sm-3">Все измерения</h5>
                <div class="overflow-auto">
                    <table class="table table-bordered table-hover align-middle text-center mb-0" id="all_anthropo_table">
                        <thead class="table-light">
                            <tr class="d-none d-md-table-row">
                                <th class="d-none d-md-table-cell">Дата</th>
                                <th>Плечо</th>
                                <th>Грудь</th>
                                <th>Талия</th>
                                <th>Живот</th>
                                <th>Ягодицы</th>
                                <th>Бедро</th>
                                <th>Голень</th>
                                {% if photoaccess_allowed %}
                                    <th>Фото</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for metric in entries.all|dictsort:"date" %}
                            <tr class="d-md-none table-light">
                                <th colspan="8" class="text-start text-sm-center ps-3 ps-sm-0">{{ metric.date|date:"j E Y" }}</th>
                            </tr>
                            <tr class="d-md-none">
                                <td>Плечо</td>
                                <td>Грудь</td>
                                <td>Талия</td>
                                <td>Живот</td>
                                <td>Ягод.</td>
                                <td>Бедро</td>
                                <td>Голень</td>
                                {% if photoaccess_allowed %}
                                    <td>Фото</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="d-none d-md-table-cell">{{ metric.date|date:"j E Y" }}</td>
                                <td>{{ metric.shoulder|default_if_none:"-" }}</td>
                                <td>{{ metric.chest|default_if_none:"-" }}</td>
                                <td>{{ metric.waist|default_if_none:"-" }}</td>
                                <td>{{ metric.belly|default_if_none:"-" }}</td>
                                <td>{{ metric.buttocks|default_if_none:"-" }}</td>
                                <td>{{ metric.hip|default_if_none:"-" }}</td>
                                <td>{{ metric.shin|default_if_none:"-" }}</td>
                                {% if photoaccess_allowed %}
                                    <td>
                                        {% if metric.photo_1 %}
                                            <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" value="" id="btn_photo_1_metric{{ forloop.counter }}">
                                            <div class="container_photo hidden_element" id="photo_1_metric{{ forloop.counter }}">
                                                <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                id="close_photo_1_metric{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                <p class="text-center">{{ metric.date }}</p>
                                                <img src="{{ metric.photo_1.url }}">
                                            </div>
                                        {% endif %}
                                        {% if metric.photo_2 %}
                                            <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" value="" id="btn_photo_2_metric{{ forloop.counter }}">
                                            <div class="container_photo hidden_element" id="photo_2_metric{{ forloop.counter }}">
                                                <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                id="close_photo_2_metric{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                <p class="text-center">{{ metric.date }}</p>
                                                <img src="{{ metric.photo_2.url }}">
                                            </div>
                                        {% endif %}
                                        {% if metric.photo_3 %}
                                            <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" value="" id="btn_photo_3_metric{{ forloop.counter }}">
                                            <div class="container_photo hidden_element" id="photo_3_metric{{ forloop.counter }}">
                                                <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                id="close_photo_3_metric{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                <p class="text-center">{{ metric.date }}</p>
                                                <img src="{{ metric.photo_3.url }}">
                                            </div>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <!-- первое измерение -->
                <h5 class="text-center text-sm-start ms-sm-3">Первое измерение</h5>
                <div class="overflow-auto">
                    <table class="table table-bordered table-hover align-middle text-center mb-0">
                        <thead class="table-light">
                            <tr class="d-none d-md-table-row">
                                <th class="d-none d-md-table-cell">Дата</th>
                                <th>Плечо</th>
                                <th>Грудь</th>
                                <th>Талия</th>
                                <th>Живот</th>
                                <th>Ягодицы</th>
                                <th>Бедро</th>
                                <th>Голень</th>
                                {% if photoaccess_allowed %}
                                    {% if entries.first.photo_1 or entries.first.photo_2 or entries.first.photo_3 %}
                                        <th>Фото</th>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="d-md-none table-light">
                                <th colspan="8" class="text-start text-sm-center ps-3 ps-sm-0">{{ entries.first.date|date:"j E Y" }}</th>
                            </tr>
                            <tr class="d-md-none">
                                <td>Плечо</td>
                                <td>Грудь</td>
                                <td>Талия</td>
                                <td>Живот</td>
                                <td>Ягод.</td>
                                <td>Бедро</td>
                                <td>Голень</td>
                                {% if entries.first.photo_1 or entries.first.photo_2 or entries.first.photo_3 %}
                                    <td>Фото</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="d-none d-md-table-cell">{{ entries.first.date|date:"j E Y" }}</td>
                                <td>{{ entries.first.shoulder|default_if_none:"-" }}</td>
                                <td>{{ entries.first.chest|default_if_none:"-" }}</td>
                                <td>{{ entries.first.waist|default_if_none:"-" }}</td>
                                <td>{{ entries.first.belly|default_if_none:"-" }}</td>
                                <td>{{ entries.first.buttocks|default_if_none:"-" }}</td>
                                <td>{{ entries.first.hip|default_if_none:"-" }}</td>
                                <td>{{ entries.first.shin|default_if_none:"-" }}</td>
                                {% if photoaccess_allowed %}
                                    {% if entries.first.photo_1 or entries.first.photo_2 or entries.first.photo_3 %}
                                    <td class="td_photo_btns">
                                        {% if entries.first.photo_1 %}
                                            <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" id="btn_photo_1_entries.first{{ forloop.counter }}">
                                            <div class="container_photo hidden_element" id="photo_1_entries.first{{ forloop.counter }}">
                                                <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                id="close_photo_1_entries.first{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                <p class="text-center">{{ entries.first.date }}</p>
                                                <img src="{{ entries.first.photo_1.url }}">
                                            </div>
                                        {% endif %}
                                        {% if entries.first.photo_2 %}
                                            <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" id="btn_photo_2_entries.first{{ forloop.counter }}">
                                            <div class="container_photo hidden_element" id="photo_2_entries.first{{ forloop.counter }}">
                                                <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                id="close_photo_2_entries.first{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                <p class="text-center">{{ entries.first.date }}</p>
                                                <img src="{{ entries.first.photo_2.url }}">
                                            </div>
                                        {% endif %}
                                        {% if entries.first.photo_3 %}
                                            <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" id="btn_photo_3_entries.first{{ forloop.counter }}">
                                            <div class="container_photo hidden_element" id="photo_3_entries.first{{ forloop.counter }}">
                                                <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                id="close_photo_3_entries.first{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                <p class="text-center">{{ entries.first.date }}</p>
                                                <img src="{{ entries.first.photo_3.url }}">
                                            </div>
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                {% if entries.last %}
                    <!-- последние измерения -->
                    <h5 class="text-center text-sm-start ms-sm-3">Последние измерения</h5>
                    <div class="overflow-auto">
                        <table class="table table-bordered table-hover align-middle text-center mb-0">
                            <thead class="table-light">
                                <tr class="d-none d-md-table-row">
                                    <th class="d-none d-md-table-cell">Дата</th>
                                    <th>Плечо</th>
                                    <th>Грудь</th>
                                    <th>Талия</th>
                                    <th>Живот</th>
                                    <th>Ягодицы</th>
                                    <th>Бедро</th>
                                    <th>Голень</th>
                                    {% if photoaccess_allowed %}
                                        <th>Фото</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                            {% for metrics in entries.last %}
                                <tr class="d-md-none table-light">
                                    <th colspan="8" class="text-start text-sm-center ps-3 ps-sm-0">{{ metrics.date|date:"j E Y" }}</th>
                                </tr>
                                <tr class="d-md-none">
                                    <td>Плечо</td>
                                    <td>Грудь</td>
                                    <td>Талия</td>
                                    <td>Живот</td>
                                    <td>Ягод.</td>
                                    <td>Бедро</td>
                                    <td>Голень</td>
                                    <td>Фото</td>
                                </tr>
                                <tr>
                                    <td class="d-none d-md-table-cell">{{ metrics.date|date:"j E Y" }}</td>
                                    <td>{{ metrics.shoulder|default_if_none:"-" }}</td>
                                    <td>{{ metrics.chest|default_if_none:"-" }}</td>
                                    <td>{{ metrics.waist|default_if_none:"-" }}</td>
                                    <td>{{ metrics.belly|default_if_none:"-" }}</td>
                                    <td>{{ metrics.buttocks|default_if_none:"-" }}</td>
                                    <td>{{ metrics.hip|default_if_none:"-" }}</td>
                                    <td>{{ metrics.shin|default_if_none:"-" }}</td>
                                    {% if photoaccess_allowed %}
                                        <td class="td_photo_btns">
                                            {% if metrics.photo_1 %}
                                                <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                                                class="show_photo_btn" value="" id="btn_photo_1_metrics{{ forloop.counter }}">
                                                <div class="container_photo hidden_element" id="photo_1_metrics{{ forloop.counter }}">
                                                    <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                    id="close_photo_1_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                    <p class="text-center">{{ metrics.date }}</p>
                                                    <img src="{{ metrics.photo_1.url }}">
                                                </div>
                                            {% endif %}
                                            {% if metrics.photo_2 %}
                                                <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                                                class="show_photo_btn" value="" id="btn_photo_2_metrics{{ forloop.counter }}">
                                                <div class="container_photo hidden_element" id="photo_2_metrics{{ forloop.counter }}">
                                                    <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                    id="close_photo_2_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                    <p class="text-center">{{ metrics.date }}</p>
                                                    <img src="{{ metrics.photo_2.url }}">
                                                </div>
                                            {% endif %}
                                            {% if metrics.photo_3 %}
                                                <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                                                class="show_photo_btn" value="" id="btn_photo_3_metrics{{ forloop.counter }}">
                                                <div class="container_photo hidden_element" id="photo_3_metrics{{ forloop.counter }}">
                                                    <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                    id="close_photo_3_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                    <p class="text-center cursor-move">{{ metrics.date }}</p>
                                                    <img src="{{ metrics.photo_3.url }}">
                                                </div>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% if entries.all.count > 3 %}
                        <!-- кнопка для открытия всех измерений -->
                        <form method="get" class="text-center">
                            <input type="hidden" value="{{ client_id }}" name="client_id">
                            <input type="hidden" name="show_all_entries" value="True">
                            <input type="image" name="submit" id="btn_show_all" src="{% static 'personalpage/img/arrow_down_tab.svg' %}" style="width: 125px;" title="Все записи">
                        </form>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </section>

    <br>

    <!-- переход к ежедневным показателям -->
    <a href="{% url 'client_measurements' %}?client_id={{ client_id }}" class="w-fit mt-auto mb-3">
        <img src="{% static 'common/img/arrow_back_royalblue.svg' %}" class="hover_brigh" height="38" title="К измерениям">
    </a>

</div>

<script src="{% static 'controlpage/js/client_anthropometry.js' %}"></script>
{% endblock %}