{% extends 'controlpage/layout.html' %}
{% load static %}

{% block title %}{{ clientname }}: фитнес-контроль{% endblock %}

{% block content %}

<h2 class="text-center clientname">{{ clientname }}</h2>
<br><br>
<!-- анкета -->
{% if questionary %}
<form method="get" action="{% url 'client_questionary' %}">
    <input type="hidden" value="{{ client_id }}" name="client_id">
    <input type="hidden" value="{{ clientname }}" name="clientname">
    <button type="submit" class="btn btn-info">Анкета здоровья</button>
</form>
{% else %}
<p>Анкета здоровья не заполнена</p>
{% endif %}

<br>

<!-- дневник питания -->
{% if fs_connected %}
<form method="get" action="{% url 'client_mealjournal' %}">
    <input type="hidden" value="{{ client_id }}" name="client_id">
    <input type="hidden" value="{{ clientname }}" name="clientname">
    <button type="submit" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#load_cat">Дневник питания</button>
</form>



{% else %}
<p>FatSecret не подключен</p>
{% endif %}

<br>

<!-- ежедневные показатели -->
<div class="measurements_container">
    <!-- сегодня -->
    {% if today_measure %}
    <table class="table table-bordered caption-top align-middle text-center">
        <caption class="text-body"><h3>Сегодня</h3></caption>
        <thead class="table-light">
            <tr>
                <th>Дата</th>
                <th>День</th>
                <th>Самочувствие</th>
                <th>Масса</th>
                <th>Жирность</th>
                <th>Пульс</th>
                {% if today_measure.pressure_upper and today_measure.pressure_lower %}
                <th>Давление</th>
                {% endif %}
                <th>Калории</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <td class="borderless">&nbsp</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ today_measure.date|date:"j b" }}</td>
                <td>{{ today_measure.date|date:"D" }}</td>
                <td>{% if today_measure.feel %}{{ today_measure.feel }}/10{% endif %}</td>
                <td>{% if today_measure.weight %}{{ today_measure.weight }} кг{% endif %}</td>
                <td>{% if today_measure.fat %}{{ today_measure.fat }} %{% endif %}</td>
                <td>{{ today_measure.pulse|default_if_none:"" }}</td>
                {% if today_measure.pressure_upper and today_measure.pressure_lower %}
                <td>{{ today_measure.pressure_upper }}/{{ today_measure.pressure_lower }}</td>
                {% endif %}
                <td>{{ today_measure.calories|default_if_none:"" }}</td>
                <td>{{ today_measure.protein|default_if_none:"" }}</td>
                <td>{{ today_measure.fats|default_if_none:"" }}</td>
                <td>{{ today_measure.carbohydrates|default_if_none:"" }}</td>
                <td class="borderless">
                    <img src="{% static 'personalpage/img/comment_pic_24x20.png' %}" title="показать комментарий"
                    {% if today_measure.comment %}class="comment_btn noluminosity"{% else %}class="comment_btn luminosity"{% endif %}
                    value="{{ today_measure.date }}" id="comment_btn_today_measure">
                </td>
            </tr>
        </tbody>
    </table>

    <!-- всплывающий коммент за сегодня -->
    <div class="container_commentform hidden_element" id="comment_today_measure">
        <div class="comment_container">
            {{ today_measure.comment }}
        </div>
    </div>

    {% else %}
    <p>За сегодня измерений не сделано.</p>
    {% endif %}

    {% if week_measures %}
    <!-- неделя -->
    <table class="table table-bordered caption-top align-middle text-center">
        <caption class="text-body"><h3>Неделя</h3></caption>
        <thead class="table-light">
            <tr>
                <th>Дата</th>
                <th>День</th>
                <th>Самочувствие</th>
                <th>Масса</th>
                <th>Жирность</th>
                <th>Пульс</th>
                {% if show_pressure_week %}
                <th>Давление</th>
                {% endif %}
                <th>Калории</th>
                <th>Белки</th>
                <th>Жиры</th>
                <th>Углеводы</th>
                <td class="borderless">&nbsp</td>
            </tr>
        </thead>
        <tbody>
            {% for day in week_measures|dictsort:"date" %}
            <tr class="my-hover">
                <td>{{ day.date|date:"j b" }}</td>
                <td>{{ day.date|date:"D" }}</td>
                <td>{% if day.feel %}{{ day.feel }}/10{% endif %}</td>
                <td>{% if day.weight %}{{ day.weight }} кг{% endif %}</td>
                <td>{% if day.fat %}{{ day.fat }} %{% endif %}</td>
                <td>{{ day.pulse|default_if_none:"" }}</td>
                {% if show_pressure_week %}
                    <td>{% if day.pressure_upper is not None and day.pressure_lower is not None %}
                            {{ day.pressure_upper }}/{{ day.pressure_lower }}
                        {% endif %}</td>
                {% endif%}
                <td>{{ day.calories|default_if_none:"" }}</td>
                <td>{{ day.protein|default_if_none:"" }}</td>
                <td>{{ day.fats|default_if_none:"" }}</td>
                <td>{{ day.carbohydrates|default_if_none:"" }}</td>
                <td class="borderless">
                    <img src="{% static 'personalpage/img/comment_pic_24x20.png' %}"
                    {% if day.comment %}class="comment_btn noluminosity" title="показать комментарий"
                    {% else %}class="comment_btn luminosity" title="комментария нет"{% endif %}
                    value="{{ day.date }}" id="comment_btn{{ forloop.counter }}">
                </td>
            </tr>
            
            <!-- всплывающие комменты за неделю -->
            <div class="container_commentform hidden_element" id="comment{{ forloop.counter }}">
                <div class="comment_container">
                    {{ day.comment }}
                </div>
            </div>

            {% endfor %}
            <tr class="table-light">
                <th colspan="2">В среднем:</th>
                <th>{{ avg_week.avg_feel|default:"" }}</th>
                <th>{{ avg_week.avg_weight|default:"" }}</th>
                <th>{{ avg_week.avg_fat|default:"" }}</th>
                <th>{{ avg_week.avg_pulse|default:"" }}</th>
                {% if show_pressure_week %}
                    <th>{{ avg_week.avg_pressure|default:"" }}</th>
                {% endif%}
                <th>{{ avg_week.avg_calories|default:"" }}</th>
                <th>{{ avg_week.avg_protein|default:"" }}</th>
                <th>{{ avg_week.avg_fats|default:"" }}</th>
                <th>{{ avg_week.avg_carbohydrates|default:"" }}</th>
                <td class="borderless">&nbsp</td>
            </tr>
        </tbody>
    </table>
    <p>* среднее КБЖУ считается без учета сегодняшнего дня</p><br>


    {% else %}
    <p>Измерения отсутствуют.</p>
    {% endif %}

</div>


<br>

<!-- Кнопка возврата -->
<a href="{% url 'controlpage' %}"><button class="btn btn-outline-primary">Вернуться</button></a>


<script src="{% static 'controlpage/js/clientpage.js' %}"></script>
{% endblock %}