{% extends 'controlpage/layout.html' %}
{% load static %}

{% block title %}{{ clientname }}: измерения{% endblock %}

{% block content %}

<div class="container pt-5">
    <!-- измерения за сегодня -->
    <section name="today_measurements">
        {% if today_measure %}
            <table class="table table-bordered caption-top align-middle text-center">
                <caption class="text-body"><h4>Сегодня</h4></caption>
                <thead class="table-light">
                    <tr>
                        <th>Дата</th>
                        <th>День</th>
                        <th>Самочувствие</th>
                        <th>Масса</th>
                        <th>Жирность</th>
                        <th>Пульс</th>
                        {% if today_measure.pressure_upper and today_measure.pressure_lower %}
                            <th>Давление</th>
                        {% endif %}
                        <th>Калории</th>
                        <th>Белки</th>
                        <th>Жиры</th>
                        <th>Углеводы</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ today_measure.date|date:"j b" }}</td>
                        <td>{{ today_measure.date|date:"D" }}</td>
                        <td>{% if today_measure.feel %}{{ today_measure.feel }}/10{% endif %}</td>
                        <td>{% if today_measure.weight %}{{ today_measure.weight }} кг{% endif %}</td>
                        <td>{% if today_measure.fat %}{{ today_measure.fat }} %{% endif %}</td>
                        <td>{{ today_measure.pulse|default_if_none:"" }}</td>
                        {% if today_measure.pressure_upper and today_measure.pressure_lower %}
                            <td>{{ today_measure.pressure_upper }}/{{ today_measure.pressure_lower }}</td>
                        {% endif %}
                        <td>{{ today_measure.calories|default_if_none:"" }}</td>
                        <td>{{ today_measure.protein|default_if_none:"" }}</td>
                        <td>{{ today_measure.fats|default_if_none:"" }}</td>
                        <td>{{ today_measure.carbohydrates|default_if_none:"" }}</td>
                    </tr>
                </tbody>
            </table>
            {% if today_measure.comment %}
                <div class="d-flex align-items-center">
                    <div class="col-1 text-center">
                        <img src="{% static 'personalpage/img/comment_pic_24x20.png' %}" class="noluminosity" title="комментарий">
                    </div>
                    <div class="border border-grey rounded col-11 p-2 px-3">
                        {{ today_measure.comment }}
                    </div>
                </div><br>
            {% endif %}
        {% else %}
            <p>За сегодня измерений не сделано</p>
        {% endif %}
    </section>

    <br>

    <!-- табличка за период -->
    {% if period_measures %}
        <section name="period_measurements">
            <table class="table table-bordered caption-top align-middle text-center">
                <caption><h4>Показатели за {{ period_as_string }}</h4></caption>
                <tr class="table-light"> 
                    <th>Дата</th>
                    <th>День</th>
                    <th>Самочувствие</th>
                    <th>Масса</th>
                    <th>Жирность</th>
                    <th>Пульс</th>
                    {% if need_to_show_pressure %}
                        <th>Давление</th>
                    {% endif%}
                    <th>Калории</th>
                    <th>Белки</th>
                    <th>Жиры</th>
                    <th>Углеводы</th>
                    <td class="borderless">&nbsp</td>
                </tr>
                {% for day in period_measures|dictsort:"date" %}
                <tr class="my-hover">
                    <td>{{ day.date|date:"j b" }}</td>
                    <td>{{ day.date|date:"D" }}</td>
                    <td class="td_feel" value="{{ day.feel }}">{% if day.feel %}{{ day.feel }}/10{% endif %}</td>
                    <td class="td_weight" value="{{ day.weight }}">{% if day.weight %}{{ day.weight }} кг{% endif %}</td>
                    <td class="td_fat" value="{{ day.fat }}">{% if day.fat %}{{ day.fat }} %{% endif %}</td>
                    <td class="td_pulse" value="{{ day.pulse }}">{{ day.pulse|default_if_none:"" }}</td>
                    {% if need_to_show_pressure %}
                        <td class="td_pressure" value="{{ day.pressure_upper }}, {{ day.pressure_lower }}">
                            {% if day.pressure_upper is not None and day.pressure_lower is not None %}
                                {{ day.pressure_upper }}/{{ day.pressure_lower }}
                            {% endif %}</td>
                    {% endif%}
                    <td class="td_calories" value="{{ day.calories }}">{{ day.calories|default_if_none:"" }}</td>
                    <td class="td_protein" value="{{ day.protein }}">{{ day.protein|default_if_none:"" }}</td>
                    <td class="td_fats" value="{{ day.fats }}">{{ day.fats|default_if_none:"" }}</td>
                    <td class="td_carbohydrates" value="{{ day.carbohydrates }}">{{ day.carbohydrates|default_if_none:"" }}</td>
                    <td class="borderless">
                        <img src="{% static 'personalpage/img/comment_pic_24x20.png' %}"
                        {% if day.comment %}class="comment_btn noluminosity" title="показать комментарий"
                        {% else %}class="comment_btn luminosity" title="комментария нет"{% endif %}
                        value="{{ day.date }}" id="comment_btn{{ forloop.counter }}">
                    </td>
                </tr>
                {% endfor %}
                {% if period_measures_avg %}
                    <tr class="table-light">
                        <th colspan="2">В среднем:</th>
                        <th>{{ period_measures_avg.feel }}</th>
                        <th>{{ period_measures_avg.weight }}</th>
                        <th>{{ period_measures_avg.fat }}</th>
                        <th>{{ period_measures_avg.pulse }}</th>
                        {% if need_to_show_pressure %}
                            <th>{{ period_measures_avg.pressure }}</th>
                        {% endif%}
                        <th>{{ period_measures_avg.calories }}</th>
                        <th>{{ period_measures_avg.protein }}</th>
                        <th>{{ period_measures_avg.fats }}</th>
                        <th>{{ period_measures_avg.carbohydrates }}</th>
                        <td class="borderless">&nbsp</td>
                    </tr>
                {% endif %}
            </table>
            {% if period_measures_avg %}
            <p class="text-muted text-start"><span class="royal_blue">&#9658;</span> среднее КБЖУ считается без учета сегодняшнего дня</p>
            {% endif %}
            <br>
    
            <!-- всплывающие комменты за период -->
            {% for comment in period_measure_comment_forms %}
            <div class="container_commentform hidden_element" id="comment{{ forloop.counter }}">
                <form method="post" class="d-flex flex-column commentForm" id="commentForm{{ forloop.counter }}">
                    {% csrf_token %}
                    {{ comment.comment }}{{ comment.date }}
                    <div class="d-flex justify-content-between align-items-center commentbtn_container mt-1">
                        <button class="btn btn-outline-primary close_btn" type="button" 
                        id="close_comment_btn{{ forloop.counter }}" value="{{ comment.date.value }}"
                        onclick="closeComment(event)">&#10006</button>
                        <div id="comment{{ forloop.counter }}header" class="comment_header text-center">сохранено</div>
                        <button class="btn btn-primary close_btn" type="submit">&#10003</button>
                    </div>
                </form>
            </div>
            {% endfor %}
        </section>
    {% endif %}

    <!-- всякие кнопки -->
    <div class="d-flex justify-content-md-between justify-content-center text-nowrap flex-wrap">
        <!-- блок цветов -->
        <div class="d-flex mb-3" style="height:38px">
            <!-- кнопка применения цветов -->
            <div class="d-flex px-3 border border-grey rounded align-items-center me-3">
                <img src="{% static 'personalpage/img/colors_pic.svg' %}" width="55">
                <input type="checkbox" name="apply_colors" class="form-check-input mt-0 ms-3" id="apply_colors_btn" data-action="{% url 'get_color_settings' %}"
                    onchange="applyColors()" {% if colorsettings_exist %} checked="checked"{% endif %}>
            </div>
            <!-- кнопка настроек цветов -->
            <a href="#period_select_form" id="colorsettings_ref"><button class="btn btn-outline-primary" id="colorsettings_btn">
                <img src="{% static 'general/img/gears_royalblue.svg' %}" width="26" style="margin-top: -3px;">
            </button></a>
        </div>

        <!-- ссылка на антропометрию -->
        <div class="ms-3 mb-3">
            <form method="get" action="{% url 'client_anthropometry' %}">
                <input type="hidden" value="{{ client_id }}" name="client_id">
                <button type="submit" class="btn btn-primary">Антропометрия</button>
            </form>
        </div>
        
        <!-- Выбор дней статистики -->
        {% if period_measures %}
            <form action="" method="get" class="d-flex flex-wrap justify-content-center ms-3 mb-3" id="period_select_form">
                <input type="hidden" value="{{ client_id }}" name="client_id">
                <div class="d-flex align-items-center mb-3">
                    <h5 class="m-0">Статистика за</h5>
                    <input type="number" class="form-control text-center py-2 mx-3" name="selectperiod" min="1" id="input_period">
                    <h5 class="m-0">дней</h5>
                </div>
                <button type="submit" class="btn btn-primary d-inline ms-3 mb-3" name="submit">Получить</button></h5>
            </form>
        {% endif %}
    </div>

    {% if not colorsettings_exist %}
        <p class="text-muted" id="colorset_not_exist"><span class="royal_blue">&#10006;</span> цветовые границы не настроены</p>
    {% endif %}

    <!-- ошибка с colorsettings -->
    <p class="text-muted" id="colorset_error"></p>

    <!-- сборная форма настроек цвета -->
    <form method="POST" action="{% url 'save_color_settings' %}" class="hidden_element" id="color_settings_form">
        {% csrf_token %}
        <input type="hidden" value="{{ client_id }}" name="client_id" id="client_id">

        <div class="d-flex flex-wrap">
    
        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center">
            <caption class="text-center"><h4>Самочувствие</h4></caption>
            {% for form in colorset_forms|slice:":5" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center">
            <caption class="text-center"><h4>Вес</h4></caption>
            {% for form in colorset_forms|slice:"5:10" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center">
            <caption class="text-center"><h4>Жирность</h4></caption>
            {% for form in colorset_forms|slice:"10:15" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center">
            <caption class="text-center"><h4>Пульс</h4></caption>
            {% for form in colorset_forms|slice:"15:20" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center m-0">
            <caption class="text-center"><h4>Давление верхнее</h4></caption>
            {% for form in colorset_forms|slice:"20:25" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center m-0">
            <caption class="text-center"><h4>Давление нижнее</h4></caption>
            {% for form in colorset_forms|slice:"25:30" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-12 px-4">
            <p><span class="royal_blue">&#9658;</span> Нормальное давление по анкете: <span class="text-muted">{{ norm_pressure }}</span></p>
        </div>

        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center">
            <caption class="text-center"><h4>Калории</h4></caption>
            {% for form in colorset_forms|slice:"30:35" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center">
            <caption class="text-center"><h4>Белки</h4></caption>
            {% for form in colorset_forms|slice:"35:40" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center">
            <caption class="text-center"><h4>Жиры</h4></caption>
            {% for form in colorset_forms|slice:"40:45" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}
        </table>
        </div>

        <div class="col-12 col-md-6 py-3 px-1">
        <table class="table table-borderless caption-top align-middle text-center">
            <caption class="text-center"><h4>Углеводы</h4></caption>
            {% for form in colorset_forms|slice:"45:50" %}
            <tr>
                {{ form.index }}
                {{ form.color }}
                <td>{{ form.low_limit }}</td>
                <td class="fs-4">&#8804;</td>
                <th class="text-transparent" id="color{{ forloop.counter }}">пример</td>
                <td class="fs-4">&#8804;</td>
                <td>{{ form.upper_limit }}</td>
            </tr>
            {% endfor %}           
        </table>
        </div>

        </div>

        <p class="text-center m-0 text-transparent" id="save_status">&nbsp;</p>

        <!-- блок кнопок -->
        <div class="d-flex justify-content-between align-items-center">
            <a href="#top">
                <img src="{% static 'general/img/arrow_up_royalblue.svg' %}" class="hover_brigh" width="38" title="Наверх">
            </a>
            <button class="btn btn-primary" type="submit">Сохранить</button>
        </div>

        <br><br>
        <!-- пояснение алгоритма-->
        <p class=""><span class="royal_blue">&#9658;</span> Алгоритм выбора цвета</p>
        <p class="text-muted ms-3 m-0">Вначале берется зеленый цвет и проверяется соответствие показателя на заданное условие:</p>
        <p class="text-muted ms-4 m-0"><span class="royal_blue">&#10004;</span> если условие выполняется, происходит окраска</p>
        <p class="text-muted ms-4 m-0"><span class="royal_blue">&#10006;</span> если условие не выполняется, берется нижеследующий цвет и проверяется его условие</p>
        <p class="text-muted ms-3">Если ни одно условие не выполнено, цвет остается прозрачным</p>
        <p class="text-muted ms-3 m-0">Давление проверяется по двум числам отдельно и окрашивается по худшему результату</p>
        <p class="text-muted ms-3 m-0">Если одно из чисел давления не выполнило ни одного условия, ячейка не окрашивается</p>

    </form>
    <br>
</div>

<!-- сохранение цветовых настроек из формы -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // отслеживаем событие сохранения и отправки формы
        $('#color_settings_form').submit(function () {
            // надпись о статусе сохранения
            status_msg = document.getElementById('save_status');

            $.ajax({
                data: $(this).serialize(), // получаем данные формы
                type: $(this).attr('method'), // метод отправки запроса
                url: $(this).attr('action'), // функция обработки

                success: function (response) {
                    status_msg.textContent = 'успешно сохранено';
                    status_msg.classList.add('form_saved');
                    setTimeout(() => {
                        status_msg.classList.remove('form_saved');
                    }, 1500);
                    applyColors();
                },
                error: function (response) {
                    status_msg.textContent = 'что-то не получилось';
                    status_msg.classList.add('form_not_saved');
                    setTimeout(() => {
                        status_msg.classList.remove('form_not_saved');
                    }, 1500);
                },
            });
            return false;
        });
    })
</script>

<script src="{% static 'controlpage/js/client_measurements.js' %}"></script>
{% endblock %}