{% extends 'controlpage/layout.html' %}
{% load static %}

{% block title %}{{ clientname }}: антропометрия{% endblock %}

{% block content %}
<h2 class="text-center">Дневник антропометрии</h2><br>

{% if not metrics %}
    <p class="text-center">Измерения отсутствуют</p><br>

{% else %}
    <!-- таблица первых измерений -->
    {% if first_metrics %}
        <table class="table table-bordered caption-top text-center">
            <caption><h5>Первое измерение</h5></caption>
            <thead class="table-light">
                <tr>
                    <th>Дата</th>
                    <th>Плечо</th>
                    <th>Грудь</th>
                    <th>Талия</th>
                    <th>Живот</th>
                    <th>Ягодицы</th>
                    <th>Бедро</th>
                    <th>Голень</th>
                    {% if accessibility %}
                    <th>Фото</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ first_metrics.date }}</td>
                    <td>{{ first_metrics.shoulder|default_if_none:"-" }}</td>
                    <td>{{ first_metrics.chest|default_if_none:"-" }}</td>
                    <td>{{ first_metrics.waist|default_if_none:"-" }}</td>
                    <td>{{ first_metrics.belly|default_if_none:"-" }}</td>
                    <td>{{ first_metrics.buttocks|default_if_none:"-" }}</td>
                    <td>{{ first_metrics.hip|default_if_none:"-" }}</td>
                    <td>{{ first_metrics.shin|default_if_none:"-" }}</td>
                    {% if accessibility %}
                    <td class="td_photo_btns">
                        {% if first_metrics.photo_1 %}
                        <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                        class="show_photo_btn" id="btn_photo_1_first_metrics{{ forloop.counter }}">
                        <div class="container_photo hidden_element" id="photo_1_first_metrics{{ forloop.counter }}">
                            <button class="btn btn-outline-primary sm_square_btn close_photo_btn" type="button" 
                            id="close_photo_1_first_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                            <p class="text-center">{{ first_metrics.date }}</p>
                            <img src="{{ first_metrics.photo_1.url }}">
                        </div>
                        {% else %}
                        <img src="{% static 'personalpage/img/photo_pic.png' %}" title="фото отсутствует" width="30"
                        class="show_photo_btn luminosity" id="btn_photo_1_metrics{{ forloop.counter }}">
                        {% endif %}
                        {% if first_metrics.photo_2 %}
                        <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                        class="show_photo_btn" id="btn_photo_2_first_metrics{{ forloop.counter }}">
                        <div class="container_photo hidden_element" id="photo_2_first_metrics{{ forloop.counter }}">
                            <button class="btn btn-outline-primary sm_square_btn close_photo_btn" type="button" 
                            id="close_photo_2_first_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                            <p class="text-center">{{ first_metrics.date }}</p>
                            <img src="{{ first_metrics.photo_2.url }}">
                        </div>
                        {% else %}
                        <img src="{% static 'personalpage/img/photo_pic.png' %}" title="фото отсутствует" width="30"
                        class="show_photo_btn luminosity" id="btn_photo_2_metrics{{ forloop.counter }}">
                        {% endif %}
                        {% if first_metrics.photo_3 %}
                        <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                        class="show_photo_btn" id="btn_photo_3_first_metrics{{ forloop.counter }}">
                        <div class="container_photo hidden_element" id="photo_3_first_metrics{{ forloop.counter }}">
                            <button class="btn btn-outline-primary sm_square_btn close_photo_btn" type="button" 
                            id="close_photo_3_first_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                            <p class="text-center">{{ first_metrics.date }}</p>
                            <img src="{{ first_metrics.photo_3.url }}">
                        </div>
                        {% else %}
                        <img src="{% static 'personalpage/img/photo_pic.png' %}" title="фото отсутствует" width="30"
                        class="show_photo_btn luminosity" id="btn_photo_3_metrics{{ forloop.counter }}">
                        {% endif %}
                    </td>
                    {% endif %}
                </tr>
            </tbody>
        </table><br>
    {% endif %}

    <!-- таблица последних измерений -->
    <table class="table table-bordered caption-top text-center">
        <caption><h5>Последние измерения</h5></caption>
        <thead class="table-light">
            <tr>
                <th>Дата</th>
                <th>Плечо</th>
                <th>Грудь</th>
                <th>Талия</th>
                <th>Живот</th>
                <th>Ягодицы</th>
                <th>Бедро</th>
                <th>Голень</th>
                {% if accessibility %}
                <th>Фото</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for metrics in prev_metrics %}
            <tr>
                <td>{{ metrics.date|default_if_none:"-" }}</td>
                <td>{{ metrics.shoulder|default_if_none:"-" }}</td>
                <td>{{ metrics.chest|default_if_none:"-" }}</td>
                <td>{{ metrics.waist|default_if_none:"-" }}</td>
                <td>{{ metrics.belly|default_if_none:"-" }}</td>
                <td>{{ metrics.buttocks|default_if_none:"-" }}</td>
                <td>{{ metrics.hip|default_if_none:"-" }}</td>
                <td>{{ metrics.shin|default_if_none:"-" }}</td>
                {% if accessibility %}
                <td class="td_photo_btns">
                    {% if metrics.photo_1 %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                    class="show_photo_btn" value="" id="btn_photo_1_metrics{{ forloop.counter }}">
                    <div class="container_photo hidden_element" id="photo_1_metrics{{ forloop.counter }}">
                        <button class="btn btn-outline-primary sm_square_btn close_photo_btn" type="button" 
                        id="close_photo_1_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                        <p class="text-center">{{ metrics.date }}</p>
                        <img src="{{ metrics.photo_1.url }}">
                    </div>
                    {% else %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="фото отсутствует" width="30"
                    class="show_photo_btn luminosity" value="" id="btn_photo_1_metrics{{ forloop.counter }}">
                    {% endif %}
                    {% if metrics.photo_2 %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                    class="show_photo_btn" value="" id="btn_photo_2_metrics{{ forloop.counter }}">
                    <div class="container_photo hidden_element" id="photo_2_metrics{{ forloop.counter }}">
                        <button class="btn btn-outline-primary sm_square_btn close_photo_btn" type="button" 
                        id="close_photo_2_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                        <p class="text-center">{{ metrics.date }}</p>
                        <img src="{{ metrics.photo_2.url }}">
                    </div>
                    {% else %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="фото отсутствует" width="30"
                    class="show_photo_btn luminosity" value="" id="btn_photo_2_metrics{{ forloop.counter }}">
                    {% endif %}
                    {% if metrics.photo_3 %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                    class="show_photo_btn" value="" id="btn_photo_3_metrics{{ forloop.counter }}">
                    <div class="container_photo hidden_element" id="photo_3_metrics{{ forloop.counter }}">
                        <button class="btn btn-outline-primary sm_square_btn close_photo_btn" type="button" 
                        id="close_photo_3_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                        <p class="text-center">{{ metrics.date }}</p>
                        <img src="{{ metrics.photo_3.url }}">
                    </div>
                    {% else %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="фото отсутствует" width="30"
                    class="show_photo_btn luminosity" value="" id="btn_photo_3_metrics{{ forloop.counter }}">
                    {% endif %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table><br>
    
    <!-- Кнопка показа всех записей -->
    {% if metrics.count > 3 %}
        {% if show_all == 'True' %}
            <button type="button" class="btn btn-primary btn_rigth" id="btn_hide_all">Скрыть все записи</button>
        {% else %}
            <form method="get">
                <input type="hidden" name="show_all" value="True">
                <input type="hidden" value="{{ client_id }}" name="client_id">
                <input type="hidden" value="{{ clientname }}" name="clientname">
                <button type="submit" class="btn btn-primary btn_rigth" id="btn_show_all">Все записи</button>
            </form>
        {% endif %}
    {% endif %}

    <!-- таблица всех измерений --> 
    {% if show_all == 'True' %} 
    <table class="table table-bordered caption-top text-center" id="all_anthropo_table">
        <caption><h5>Все измерения</h5></caption>
        <thead class="table-light">
            <tr>
                <th>Дата</th>
                <th>Плечо</th>
                <th>Грудь</th>
                <th>Талия</th>
                <th>Живот</th>
                <th>Ягодицы</th>
                <th>Бедро</th>
                <th>Голень</th>
                {% if accessibility %}
                <th>Фото</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for metric in metrics|dictsort:"date" %}
            <tr class="my-hover">
                <td>{{ metric.date|default_if_none:"-" }}</td>
                <td>{{ metric.shoulder|default_if_none:"-" }}</td>
                <td>{{ metric.chest|default_if_none:"-" }}</td>
                <td>{{ metric.waist|default_if_none:"-" }}</td>
                <td>{{ metric.belly|default_if_none:"-" }}</td>
                <td>{{ metric.buttocks|default_if_none:"-" }}</td>
                <td>{{ metric.hip|default_if_none:"-" }}</td>
                <td>{{ metric.shin|default_if_none:"-" }}</td>
                {% if accessibility %}
                <td class="td_photo_btns">
                    {% if metric.photo_1 %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                    class="show_photo_btn" value="" id="btn_photo_1_metric{{ forloop.counter }}">
                    <div class="container_photo hidden_element" id="photo_1_metric{{ forloop.counter }}">
                        <button class="btn btn-outline-primary sm_square_btn close_photo_btn" type="button" 
                        id="close_photo_1_metric{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                        <p class="text-center">{{ metric.date }}</p>
                        <img src="{{ metric.photo_1.url }}">
                    </div>
                    {% else %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="фото отсутствует" width="30"
                    class="show_photo_btn luminosity" value="" id="btn_photo_1_metric{{ forloop.counter }}">
                    {% endif %}
                    {% if metric.photo_2 %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                    class="show_photo_btn" value="" id="btn_photo_2_metric{{ forloop.counter }}">
                    <div class="container_photo hidden_element" id="photo_2_metric{{ forloop.counter }}">
                        <button class="btn btn-outline-primary sm_square_btn close_photo_btn" type="button" 
                        id="close_photo_2_metric{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                        <p class="text-center">{{ metric.date }}</p>
                        <img src="{{ metric.photo_2.url }}">
                    </div>
                    {% else %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="фото отсутствует" width="30"
                    class="show_photo_btn luminosity" value="" id="btn_photo_2_metric{{ forloop.counter }}">
                    {% endif %}
                    {% if metric.photo_3 %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="показать фото" width="30"
                    class="show_photo_btn" value="" id="btn_photo_3_metric{{ forloop.counter }}">
                    <div class="container_photo hidden_element" id="photo_3_metric{{ forloop.counter }}">
                        <button class="btn btn-outline-primary sm_square_btn close_photo_btn" type="button" 
                        id="close_photo_3_metric{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                        <p class="text-center">{{ metric.date }}</p>
                        <img src="{{ metric.photo_3.url }}">
                    </div>
                    {% else %}
                    <img src="{% static 'personalpage/img/photo_pic.png' %}" title="фото отсутствует" width="30"
                    class="show_photo_btn luminosity" value="" id="btn_photo_3_metric{{ forloop.counter }}">
                    {% endif %}
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}

{% endif %}

<script src="{% static 'controlpage/js/client_anthropometry.js' %}"></script>

{% endblock %}