{% extends 'controlpage/layout.html' %}
{% load static %}

{% block title %}Заявки на консультацию{% endblock %}

{% block content %}

<div class="container">
    <br>
    {% if new_consult_requests_count == 0 %}
        <p class="text-center">Заявки на бесплатную консультацию отсутствуют</p>
    {% else %}

        <div class="d-flex flex-row">

            <!-- список заявок слева -->
            <div class="d-flex flex-column align-middle w-50 me-4">

                {% for consult_signup_entry in consult_signup_entries %}
                    {% if consult_signup_entry.is_read %}
                        <div class="d-flex my-hover-gray justify-content-between align-middle text-wrap border pointer p-2" 
                            id="signup_{{ consult_signup_entry.id }}" name="signup_row" onclick="openForm(event)">
                    {% else %}  
                        <div class="d-flex my-hover-gray justify-content-between align-middle text-wrap border pointer p-2 unread" 
                            id="signup_{{ consult_signup_entry.id }}" name="signup_row" onclick="openForm(event)">
                    {% endif %} 
                            {{ consult_signup_entry }}
                            <span>&#9658;</span>
                        </div>
                {% endfor %}

            </div>

            <!-- список форм справа -->
            <div class="d-flex flex-column w-50">

                {% for entry, form in consult_signups_zip %}
                    <div class="hidden_element border-blueshadow p-2 transition_common" id="signup_container_{{ entry.id }}" name="signup_container">
                        <form method="POST" action="{% url 'consult_requests_page' %}" id="signup_form_{{ entry.id }}" name="signup_form">
                            <button class="btn btn-outline-primary float-end close_btn" type="button" onclick="closeForm()">&#10006;</button>
                            {% csrf_token %}
                            <br>
                            <input type="hidden" name="id" value="{{ entry.id }}">
                            <input type="hidden" name="purpose" value="save">
                            {{ form.as_p }}
                            <div class="d-flex justify-content-between align-items-center">
                                <span>&nbsp;</span>
                                <span class="transition_common text-transparent" id="result_msg_{{ entry.id }}"></span>
                                <button type="submit" class="btn btn-primary">сохранить</button>
                            </div>
                        </form>
                        <form method="POST" action="{% url 'consult_requests_page' %}" id="delete_signup_form_{{ entry.id }}" name="delete_signup_form">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ entry.id }}">
                            <input type="hidden" name="purpose" value="delete">
                            <button type="submit" class="btn btn-danger">🗑</button>
                        </form>
                    </div>
                {% endfor %}

            </div>
                
        </div>
    {% endif %}
<!-- рисунок-->
<img class="float-end" src="{% static 'controlpage/img/cat_with_laptop.svg' %}">

</div>

<br><br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'controlpage/js/consult_requests.js' %}"></script>
{% endblock %}