{% extends 'controlpage/layout.html' %}
{% load static %}

{% block title %}Заявки на консультацию{% endblock %}

{% block content %}

<div class="container">
    <br>
    {% if new_consult_requests_count == 0 %}
        <p class="text-center">Заявки на бесплатную консультацию отсутствуют</p>
    {% else %}
        {% for consult_request in consult_requests %}
            <div>
                {{ consult_request }}
            </div>
        {% endfor %}
    {% endif %}
</div>

<script src="{% static 'controlpage/js/consult_requests.js' %}"></script>
{% endblock %}