{% extends 'controlpage/layout.html' %}
{% load static %}

{% block title %}Тотальный фитнес-контроль{% endblock %}

{% block content %}

{% for client in clients %}
    <form method="get" action="{% url 'clientpage' %}">
        <input type="hidden" value="{{ client.id }}" name="client_id">
        <input type="hidden" value="{{ client.username }}" name="clientname">
        <button type="submit" class="btn btn-outline-primary">{{ client.username }}</button>
    </form><br>
{% endfor %}


{% endblock %}