<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'general/img/Logo_title.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'controlpage/css/controlpage.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

  <header class="border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3">
        <a href="/" class="d-flex align-items-center mb-2 mb-md-0">
          <img src="{% static 'general/img/Logo.svg' %}" alt="logo" width="100">
        </a>

        {% if clientname %}
        <a href="{% url 'controlpage' %}" class="clientname">{{ clientname }}</a>
  
        <ul class="nav justify-content-center align-items-center">
          <li>
            <form method="get" action="{% url 'clientpage' %}">
              <input type="hidden" value="{{ client_id }}" name="client_id">
              <input type="hidden" value="{{ clientname }}" name="clientname">
              <button type="submit" class="nav_link" id="link_main">главная</button>
            </form>
          </li>
          <li>
            <form method="get" action="{% url 'client_measurements' %}">
              <input type="hidden" value="{{ client_id }}" name="client_id">
              <input type="hidden" value="{{ clientname }}" name="clientname">
              <button type="submit" class="nav_link" id="link_measurements">измерения</button>
            </form>
          </li>
          <li>
            <form method="get" action="{% url 'client_mealjournal' %}">
              <input type="hidden" value="{{ client_id }}" name="client_id">
              <input type="hidden" value="{{ clientname }}" name="clientname">
              <button type="submit" class="nav_link" id="link_meal" data-bs-toggle="modal" data-bs-target="#load_cat">питание</button>
            </form>
          </li>
          <li>
            <form method="get" action="">
              <input type="hidden" value="{{ client_id }}" name="client_id">
              <input type="hidden" value="{{ clientname }}" name="clientname">
              <button type="submit" class="nav_link" id="link_workout">тренировки</button>
            </form>
          </li>
        </ul>
        {% endif %}
  
        <div class="text-end">
          <form method="POST" action="{% url 'logoutuser' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-outline-primary ms-2">Выйти</button>
          </form>
      </header>
    </div>       
  </header>

  <main>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- комментарий для клиента -->
    <div class="d-flex flex-column border rounded border-blueshadow px-3 py-2 hidden_element" id="client_comment_form_container">
      <form method="post" id="client_comment_form" class="w-100">
        {% csrf_token %}
        <div class="d-flex justify-content-center align-items-center pb-3 pt-2">
          <div class="commentary_moving_part">&nbsp;</div>
          <img src="{% static 'general/img/arrow_left_royalblue.svg' %}" class="mx-2 arrow_btn" onclick="prevDate()" width="20">
          {{ client_comment_form.date }}
          <img src="{% static 'general/img/arrow_right_royalblue.svg' %}" class="mx-2 arrow_btn" onclick="nextDate()" width="20">
          <div class="commentary_moving_part">&nbsp;</div>
        </div>
        
        <input type="hidden" name="client" id="id_client" value="{{ client_id }}">

        <table class="table align-middle text-center px-3">
          <tr>
            <th class="comment_section closed" id="id_general_label">
              {{ client_comment_form.general.label|lower }}
            </th> 
            <th class="comment_section closed" id="id_measurements_label">
              {{ client_comment_form.measurements.label|lower }}
            </th>
            <th class="comment_section closed" id="id_nutrition_label">
              {{ client_comment_form.nutrition.label|lower }}
            </th>
            <th class="comment_section closed" id="id_workout_label">
              {{ client_comment_form.workout.label|lower }}
            </th>
          </tr>
        </table>
        
        {{ client_comment_form.general }}
        {{ client_comment_form.measurements }}
        {{ client_comment_form.nutrition }}
        {{ client_comment_form.workout }}
        
        <div class="d-flex justify-content-between">
          <button class="btn btn-primary close_btn" type="button" onclick="closeCommentary()">&#10006;</button>
          <div class="text-center text-transparent transition_common commentary_moving_part" id="commentary_status_msg"></div>
          <button class="btn btn-primary float-end ok_btn" type="submit" title="Сохранить запись за день">&#10004;</button>
        </div>
      </form>
    </div>

    <!-- сохранение комментария для клиента -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            // надпись о статусе сохранения
            var commentary_status_msg = document.getElementById('commentary_status_msg');

            // отслеживаем событие сохранения и отправки формы
            $('#client_comment_form').submit(function () {               

              $.ajax({
                  data: $(this).serialize(), // получаем данные формы
                  type: $(this).attr('method'), // метод отправки запроса
                  url: "{% url 'save_commentary_form' %}", // функция обработки

                  success: function (response) {
                    // уведомление о успешности сохранении внизу окошка коммента
                    if (response.result == 'комментарий сохранен') {
                      commentary_status_msg.textContent = response.result;
                      commentary_status_msg.classList.add('form_saved');
                      setTimeout(() => {
                        commentary_status_msg.classList.remove('form_saved');
                      }, 1500);
                    }
                    else {
                      commentary_status_msg.textContent = response.result;
                      commentary_status_msg.classList.add('form_not_saved');
                      setTimeout(() => {
                        commentary_status_msg.classList.remove('form_not_saved');
                      }, 1500);
                    }
                  },
                  error: function (response) {
                      commentary_status_msg.textContent = 'не сохранено! возникла ошибка!';
                      commentary_status_msg.classList.add('form_not_saved');
                      setTimeout(() => {
                        commentary_status_msg.classList.remove('form_not_saved');
                      }, 1500);
                  },             
              });
              return false;
          });
        })
    </script>
    

  </main>

  <!-- загрузочный кот -->
  <div class="modal fade cat_with_coffee" id="load_cat" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog cat_with_coffee">
        <img src="{% static 'general/img/cat_with_coffee.gif' %}" class="cat_with_coffee">
    </div>
  </div>

  {% if clientname %}
  <footer>
    <div class="container">
      <div class="d-flex flex-wrap justify-content-between align-items-center py-3">
        <div class="d-flex flex-column">
          <p class="p-2 m-0 text-center text-white">Контакты клиента</p>
          
          {% if client_contacts %}
            <div class="d-flex flex-row align-items-center mb-3">
              
              {% if client_contacts.telegram %}
                {% if client_contacts.preferred == 'TG' %}
                  <a href="{{ client_contacts.telegram }}" target="_blank" class="mx-2">
                    <div class="order-1" id="preferred_contact_ico">
                      <img src="{% static 'general/img/telegram.svg' %}" class="contact_ico" alt="telegram" title="telegram">
                    </div>
                  </a>
                {% else %}
                  <div class="p-2 order-2">
                    <a href="{{ client_contacts.telegram }}" target="_blank">
                      <img src="{% static 'general/img/telegram.svg' %}" class="contact_ico" alt="telegram" title="telegram">
                    </a>
                  </div>
                {% endif %}
              {% endif %}

              {% if client_contacts.whatsapp %}
                {% if client_contacts.preferred == 'WA' %}
                  <a href="{{ client_contacts.whatsapp }}" target="_blank" class="mx-2">
                    <div class="order-1" id="preferred_contact_ico">
                      <img src="{% static 'general/img/whatsapp.svg' %}" class="contact_ico" alt="whatsapp" title="whatsapp">
                    </div>
                  </a>
                {% else %}
                  <div class="p-2 order-2">
                    <a href="{{ client_contacts.whatsapp }}" target="_blank">
                      <img src="{% static 'general/img/whatsapp.svg' %}" class="contact_ico" alt="whatsapp" title="whatsapp">
                    </a>
                  </div>
                {% endif %}
              {% endif %}

              {% if client_contacts.discord %}
                {% if client_contacts.preferred == 'DC' %}
                  <a href="{{ client_contacts.discord }}" target="_blank" class="mx-2">
                    <div class="order-1" id="preferred_contact_ico">
                      <img src="{% static 'general/img/discord.svg' %}" class="contact_ico" alt="discord" title="discord">
                    </div>
                  </a>
                {% else %}
                  <div class="p-2 order-2">
                    <a href="{{ client_contacts.discord }}" target="_blank">
                      <img src="{% static 'general/img/discord.svg' %}" class="contact_ico" alt="discord" title="discord">
                    </a>
                  </div>
                {% endif %}
              {% endif %}

              {% if client_contacts.skype %}
                {% if client_contacts.preferred == 'SK' %}
                  <a href="{{ client_contacts.skype }}" target="_blank" class="mx-2">
                    <div class="order-1" id="preferred_contact_ico">
                      <img src="{% static 'general/img/skype.svg' %}" class="contact_ico" alt="skype" title="skype">
                    </div>
                  </a>
                {% else %}
                  <div class="p-2 order-2">
                    <a href="{{ client_contacts.skype }}" target="_blank">
                      <img src="{% static 'general/img/skype.svg' %}" class="contact_ico" alt="skype" title="skype">
                    </a>
                </div>
                {% endif %}
              {% endif %}

              {% if client_contacts.vkontakte %}
                {% if client_contacts.preferred == 'VK' %}
                  <a href="{{ client_contacts.vkontakte }}" target="_blank" class="mx-2">
                    <div class="order-1" id="preferred_contact_ico">
                      <img src="{% static 'general/img/vk.svg' %}" class="contact_ico" alt="vkontakte" title="vkontakte">
                    </div>
                  </a>
                {% else %}
                  <div class="p-2 order-2">
                    <a href="{{ client_contacts.vkontakte }}" target="_blank">
                      <img src="{% static 'general/img/vk.svg' %}" class="contact_ico" alt="vkontakte" title="vkontakte">
                    </a>
                  </div>
                {% endif %}
              {% endif %}

              {% if client_contacts.facebook %}
                {% if client_contacts.preferred == 'FB' %}
                  <a href="{{ client_contacts.facebook }}" target="_blank" class="mx-2">
                    <div class="order-1" id="preferred_contact_ico">
                      <img src="{% static 'general/img/facebook-square.svg' %}" class="contact_ico" alt="facebook" title="facebook">
                    </div>
                  </a>
                {% else %}
                  <div class="p-2 order-2">
                    <a href="{{ client_contacts.facebook }}" target="_blank">
                      <img src="{% static 'general/img/facebook-square.svg' %}" class="contact_ico" alt="facebook" title="facebook">
                      </a>
                  </div>
                {% endif %}
              {% endif %}      
            </div>
          {% else %}
            <p class="text-light-grey p-2 m-0">не указаны</p>
          {% endif %}
                  
        </div>
                
        <button type="button" class="btn btn-light" onclick="openCommentary()">Комментарий для клиента</button>
        <button type="button" class="btn btn-light">Комментарий для меня</button>

      </div>
    </div>
  </footer>
  {% endif %}
          
</body>
        
<script src="{% static 'controlpage/js/layout.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</html>