#chat .partner-message.new {
    background-color: #eff3f8;
}
#chat .spinner-border {
    min-height: 2rem;
}
#chat .message-text {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
}
#chat .message-image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}
#chat .message-image img.lazy {
    box-shadow: inset 0px 0px 13px 2px #6a717980;
    background-image: url("/static/chat/img/hourglass.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 0.5rem;
}
#chat .message-image img:not(.lazy) {
    opacity: 0;
    animation: fade-in 0.3s ease-in-out forwards;
    border-radius: 0.375rem;
}
#chat audio::-webkit-media-controls-mute-button,
#chat audio::-webkit-media-controls-volume-slider,
#chat audio::-webkit-media-controls-play-button,
#chat audio::-webkit-media-controls-timeline {
    filter: invert(42%) sepia(65%) saturate(1255%) hue-rotate(209deg); 
}
#chat audio {
    max-width: 100%;
}
#chat audio::-webkit-media-controls-panel {
    padding-left: 4px;
    padding-right: 4px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* message-form */
#message-form #id_text {
    min-height: 64px;
    max-height: 500px;
    overflow: hidden;
    resize: none;
    border-color: #d1d1d1;
}
#message-form #id_text:focus {
    box-shadow: none;
    border-color: #d1d1d1;
}
#message-form #id_text.drag-over {
    border-color: #657ff7 !important;
    box-shadow: 0 0 10px #657ff7 !important;
}
#attach-files-preview {
    margin: 0 2rem;
}
#attach-files-preview img.file-type {
    min-width: 19px;
    max-width: 19px;
}
#input-audio-delete,
#input-img-delete {
    min-width: 19px;
    max-width: 19px;
}
#input-img-preview,
#input-audio-preview {
    display: flex;
    align-items: center;
}
#input-audio-preview {
    height: 32px;
}
#input-img-preview span {
    max-width: 19rem;
    display: inline-block;
}
#input-audio-preview audio {
    height: 32px;
    width: 28rem;
    display: block;
}
#input-audio-preview audio::-webkit-media-controls-panel {
    padding: 0;
    background-color: #e8f0fe;
}
