/* chat-window */
#chat {
    width: 100%;
    overflow: hidden;
    left: 0;
    top: 0;
}
@media (min-width: 576px) {
    #chat {
        width: 31rem;
    }
}
#chat-history {
    min-height: 16rem;
    max-height: calc(100vh - 8rem);
    overflow-y: auto;
}
#chat.mini #chat-history {
    max-height: calc(40vh - 8rem);
}
#chat.mini #message-form #id_text {
    max-height: 130px;
}
.resize-btn {
    opacity: 0.6;
}
.resize-btn:hover {
    opacity: 1;
}

#chat-scroll-btn {
    bottom: 0.5rem;
    right: 1.5rem;
}
@media (min-width: 576px) {
    #chat .message-image img {
        width: 28rem;
    }
}

