{% extends 'layouts/clientpage_layout.html' %}
{% load static %}

{% block title %}Настройки{% endblock %}

{% block content %}
<div class="block-container mx-md-auto">
    <div class="block-header">
        <span class="header">Раздел в разработке!</span>
    </div>
    <div class="block-content">
        <p class="text-center">Тут будет:</p>
        <ul class="">
            <li>ваш имейл для восстановления пароля</li>
            <li>выбор своей аватарки</li>
            <li>выбор аватарки для эксперта</li>
            <li>смена стилей оформления</li>
            <li>еще что-нибудь</li>
        </ul>
    </div>
</div>
{% endblock %}