{% extends 'layouts/clientpage_layout.html' %}
{% load static %}

{% block title %}Анкета знакомства{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'client_overview/css/meet_questionary.css' %}">
{% endblock %}

{% block content %}
<!-- TODO вынести в template tag -->
<div class="mt-2 block-container" id="meet_questionary_container">
    <div class="block-header">
        <span>Анкета знакомства</h2>
    </div>
    <div class="block-content">
        <form method="POST" action="" class="" id="meet_questionary_form">
            {% csrf_token %}
            {% if error %}
                <p class="text-center text-danger">{{ error }}</p>
            {% endif %}
            <div class="title mb-3">
                <span>Основная информация</span>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-nowrap col-md-5 me-md-3">{{ meet_questionary_form.sex.label }}</label>
                {{ meet_questionary_form.sex }}
            </div>
            {% if meet_questionary.sex == "?" %}
                <div class="d-flex flex-column align-items-center col-md-7 ps-md-3 ms-md-auto mt-2" id="sex_comment_container">
                    {{ meet_questionary_form.sex_comment }}
                </div>
            {% else %}
                <div class="d-flex flex-column align-items-center col-md-7 ps-md-3 ms-md-auto hidden mt-2" id="sex_comment_container">
                    {{ meet_questionary_form.sex_comment }}
                </div>
            {% endif %}
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-nowrap col-md-5 me-md-3">{{ meet_questionary_form.height.label }}</label>
                {{ meet_questionary_form.height }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-nowrap col-md-5 me-md-3">{{ meet_questionary_form.weight.label }}</label>
                {{ meet_questionary_form.weight }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.weight_min.label }}</label>
                {{ meet_questionary_form.weight_min }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.weight_max.label }}</label>
                {{ meet_questionary_form.weight_max }}
            </div>
            <br>
            {% if age >= 30 %}
                <div class="d-flex flex-column flex-md-row align-items-center">
                    <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.weight_avg.label }}</label>
                    {{ meet_questionary_form.weight_avg }}
                </div>
                <br>
            {% elif age is None %}
                <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                    <label class="text-center text-md-start col-md-5 mt-md-1">{{ meet_questionary_form.weight_avg.label }}</label>
                    <div class="d-flex flex-column col-12 col-md-7 ps-md-3">
                        {{ meet_questionary_form.weight_avg }}
                        <p class="text-muted align-self-start">
                            <span class="text-royalblue me-2">&#9658;</span>
                            {{ meet_questionary_form.weight_avg.help_text }}
                        </p>
                    </div>
                </div>
                <br>
            {% endif %}
            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.daily_steps.label }}</label>
                {{ meet_questionary_form.daily_steps }}
            </div>
            <br>
            <br>

            <div class="title mb-3">
                <span>Сон</span>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.sleep_time.label }}</label>
                {{ meet_questionary_form.sleep_time }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.wakeup_time.label }}</label>
                {{ meet_questionary_form.wakeup_time }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.sleep_problems.label }}</label>
                {{ meet_questionary_form.sleep_problems }}
            </div>
            <br>
            <br>

            <div class="title mb-3">
                <span>Питание</span>
            </div>

            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.daily_meals_amount.label }}</label>
                {{ meet_questionary_form.daily_meals_amount }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.daily_snacks_amount.label }}</label>
                {{ meet_questionary_form.daily_snacks_amount }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.common_meal.label }}</label>
                {{ meet_questionary_form.common_meal }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.weekly_meal.label }}</label>
                {{ meet_questionary_form.weekly_meal }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.yearly_meal.label }}</label>
                {{ meet_questionary_form.yearly_meal }}
            </div>
            <br>
            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.favorite_meal.label }}</label>
                {{ meet_questionary_form.favorite_meal }}
            </div>
            <br>
            <br>

            <div class="title mb-3">
                <span>Цель</span>
            </div>

            <div class="d-flex flex-column align-items-center align-items-md-start">
                <label class="text-center">{{ meet_questionary_form.goal.label }}</label>
                {{ meet_questionary_form.goal }}
            </div>
            <br>
            <div class="d-flex flex-column align-items-center align-items-md-start">
                <label class="text-center">{{ meet_questionary_form.goal_mark.label }}</label>
                {{ meet_questionary_form.goal_mark }}
            </div>
            <br>
            <div class="d-flex flex-column align-items-center align-items-md-start">
                <label class="text-center">{{ meet_questionary_form.goal_attempts.label }}</label>
                {{ meet_questionary_form.goal_attempts }}
            </div>
            <br>
            <div class="d-flex flex-column align-items-center align-items-md-start">
                <label class="text-center">{{ meet_questionary_form.goal_obstacle.label }}</label>
                {{ meet_questionary_form.goal_obstacle }}
            </div>
            <br>

            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                <label class="text-center text-md-start mt-md-2 col-md-5">{{ meet_questionary_form.goal_importance.label }}</label>

                <div class="d-flex flex-column col-12 col-md-7 ps-md-3 align-items-center">
                    {% if meet_questionary.goal_importance == 0 %}
                        <output class="fw-bold fs-2 text-royalblue" id="goalvalue">0</output>
                    {% else %}
                        <output class="fw-bold fs-2 text-royalblue" id="goalvalue">{{ meet_questionary.goal_importance|default:"?" }}</output>
                    {% endif %}
                    {{ meet_questionary_form.goal_importance }}
                    <p></p>
                    <p class="text-muted align-self-start">
                        <span class="fw-bold text-royalblue">0</span>
                        = совершенно не важна, меня заставили
                    </p>
                    <p class="text-muted align-self-start mb-0">
                        <span class="fw-bold text-royalblue">10</span>
                        = в моей жизни нет ничего важнее!
                    </p>
                </div>

            </div>

            <br>
            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                <label class="text-center text-md-start col-md-5 me-md-3">{{ meet_questionary_form.goal_maxtime.label }}</label>
                {{ meet_questionary_form.goal_maxtime }}
            </div>
            <br>

            <div class="d-flex flex-column flex-md-row align-items-center align-items-md-start">
                <label class="text-center text-md-start mt-md-2 col-md-5">{{ meet_questionary_form.readiness_to_change.label }}</label>

                <div class="d-flex flex-column col-12 col-md-7 ps-md-3 align-items-center">
                    <output class="fw-bold fs-2 text-royalblue" id="readinessvalue">{{ meet_questionary.readiness_to_change|default:"?" }}</output>
                    {{ meet_questionary_form.readiness_to_change }}

                    {% for choice in readiness_choices %}
                        <p class="text-muted align-self-start readiness_choice hidden" id="readiness_choice_{{ forloop.counter}}">
                            <span class="text-royalblue me-2">&#9658;</span>
                            {{ choice.1 }}
                        </p>
                    {% endfor %}
                </div>

            </div>
            <br>
            <div class="d-flex justify-content-between">
                <a href="{% url 'overviewpage' %}" class="btn btn-outline-primary">
                    Назад
                </a>
                {% if not meet_questionary.readiness_to_change %}
                    <button class="btn btn-primary" type="submit" id="meet_questionary_submit" disabled>Сохранить</button>
                {% else %}
                    <button class="btn btn-primary" type="submit" id="meet_questionary_submit">Сохранить</button>
                {% endif %}
            </div>
        </form>
    </div>
</div>
<br>
{% endblock %}

{% block script %}
    <script src="{% static 'client_overview/js/meet_questionary.js' %}"></script>
{% endblock %}