{% extends 'homepage/layout.html' %}
{% load static %}

{% block title %}Health & Fitness{% endblock %}

{% block content %}
<section id="welcome_section" class="">
    <div class="container">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="{% static 'homepage/img/homepage_img1.svg' %}" class="d-block mx-lg-auto img-fluid" width="700" height="500">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Стратегия здоровья и активности</h1>
                <br>
                <p class="lead">Ваш комплексный гид в здоровую жизнь</p>
                <p class="lead">Помощь, обучение и поддержка</p>
                <p class="lead">Обновление тела и разума через модификацию поведения, навыков и знаний</p>
            </div>
        </div>
    </div>
</section>

<section id="why_section">
    <div class="container">
       
    </div>
</section>

{% endblock %}