{% extends 'homepage/layout.html' %}
{% load static %}

{% block title %}Fitness parabola{% endblock %}

{% block content %}
<div class="hero">
    <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="{% static 'homepage\img\parabolacool.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Я ебать какой крутой!</h1>
            <p class="lead">Срочно запишись на мои занятия - позволь себе получить тело своей мечты!</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Да, тренер!</button>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}