{% extends 'homepage/layout.html' %}
{% load static %}

{% block title %}Health & Fitness{% endblock %}

{% block content %}
<section id="welcome_section">
    <div class="container d-flex flex-column justify-content-between h-fill mt-lg-5">
        <h1 class="text-nowrap text-center text-md-start mt-4 pt-lg-4" name="logo_title">HEALTH & FITNESS</h1>
        <div class="d-flex flex-column mb-5">
            <h2 class="" id="welcome_section_h2_outtext">Индивидуальная стратегия<br> <span class="text-royalblue"><b>здоровья и активности</b></span></h2>
            <div class="d-flex flex-column float-end" id="welcome_section_text">
                <h4 class="" id="welcome_section_h2_intext">Индивидуальная стратегия<br> <span class="text-royalblue"><b>здоровья и активности</b></span></h4>
                <div class="d-flex flex-row">
                    <p class="text-royalblue mb-0 mb-sm-2 me-2">&#9658;</p>
                    <p class="mb-0 mb-sm-2">Помощь, обучение и поддержка</p>
                </div>
                <br>
                <div class="d-flex flex-row">
                    <p class="text-royalblue mb-0 mb-sm-2 me-2">&#9658;</p>
                    <p class="mb-0 mb-sm-2">Обновление тела и разума через <br>модификацию поведения, <br>навыков и знаний</p>
                </div>
                <br>
                <div class="d-flex flex-row">
                    <p class="text-royalblue mb-0 mb-sm-2 me-2">&#9658;</p>
                    <p class="mb-0 mb-sm-2">Только научный подход</p>
                </div>
                <br>
                <div class="d-flex flex-row">
                    <p class="text-royalblue mb-0 mb-sm-2 me-2 mb-0">&#9658;</p>
                    <p class="mb-0 mb-sm-2 mb-0">Эффективность и ничего лишнего</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="why_section" class="pb-5">
    <div class="container">

        <h1 class="text-nowrap text-center fw-bolder pt-4">ЗАЧЕМ ВАМ</h1>
        <h1 class="text-nowrap text-center pb-5" name="logo_title">HEALTH & FITNESS</h1>

            <div class="why_section_block" id="why_section_block1">
                <p class="why_section_txt pin pin_left" id="why_section_txt1">
                    <img src="{% static 'homepage/img/why_section_img1_health_mini.svg' %}" width="" class="why_section_img_mini" id="why_section_img1_mini">
                    Множество распространённых болезней человек приобрёл в современном обществе тотальной гиподинамии и обилия калорийной, бедной нутриентами пищи.<br>
                    Продлите <span class="text-royalblue"><b>активное, здоровое долголетие</b></span>, избежав множества обследований, лечения и, возможно, даже операций.
                    Заботиться о здоровье дома и в зале приятнее, чем исправлять его в больнице.
                </p>
                <img src="{% static 'homepage/img/why_section_img1_health.svg' %}" width="" class="why_section_img" id="why_section_img1">
            </div>

            <div class="why_section_block" id="why_section_block2">
                <p class="why_section_txt pin pin_right" id="why_section_txt2">
                    <img src="{% static 'homepage/img/why_section_img2_success_mini.svg' %}" width="" class="why_section_img_mini" id="why_section_img2_mini">
                    Современные научные исследования доказывают, что красивые, стройные и ухоженные люди <span class="text-royalblue"><b>больше зарабатывают</b></span>, чаще <span class="text-royalblue"><b>получают работу</b></span> и лучше формируют <span class="text-royalblue"><b>социальные связи</b></span>.
                </p>
                <img src="{% static 'homepage/img/why_section_img2_success.svg' %}" width="" class="why_section_img" id="why_section_img2">
            </div>

            <div class="why_section_block" id="why_section_block3">
                <p class="why_section_txt pin pin_left" id="why_section_txt3">
                    <img src="{% static 'homepage/img/why_section_img3_care_mini.svg' %}" width="" class="why_section_img_mini" id="why_section_img3_mini">
                    Человеку свойственно заботиться о своих ближних. Иногда человек старается заботиться о многих. Но часто человек забывает <span class="text-royalblue"><b>заботиться о своём теле и здоровье</b></span> Предлагаем вам об этом вспомнить и позволить нам помочь.
                </p>
                <img src="{% static 'homepage/img/why_section_img3_care.svg' %}" width="" class="why_section_img" id="why_section_img3">
            </div>

            <div class="why_section_block" id="why_section_block4">
                <p class="why_section_txt pin pin_right" id="why_section_txt4">
                    <img src="{% static 'homepage/img/why_section_img4_resource_mini.svg' %}" width="" class="why_section_img_mini" id="why_section_img4_mini">
                    Часто люди путают фитнес со спортом. Мы не разделяем такой подход.<br>
                    В спорте люди тратят ресурс здоровья на борьбу друг с другом. Мы же боремся со старением, болезнями и неосознанностью, достигая <span class="text-royalblue"><b>повышения ресурса здоровья.</b>
                </p>
                <img src="{% static 'homepage/img/why_section_img4_resource.svg' %}" width="" class="why_section_img" id="why_section_img4">
            </div>

            <div class="why_section_block" id="why_section_block5">
                <p class="why_section_txt pin pin_left" id="why_section_txt5">
                    <img src="{% static 'homepage/img/why_section_img5_piggybank_mini.svg' %}" width="" class="why_section_img_mini" id="why_section_img5_mini">
                    Распространённая ошибка - начать путь к здоровью купив лишь абонемент в зал и опираясь на популярные мнения в интернете.<br>
                    К сожалению, это будет так же эффективно, как самолечение или психологическое консультирование самого себя.
                    Грамотная физическая нагрузка требует знаний физиологии, анатомии, биомеханики, теории и методики тренировки.
                    Грамотное питание требует знаний нутрициологии. Долгая дистанция требует знаний психологии. Плюс каждый человек особенный и требует персональной работы.<br>
                    <span class="text-royalblue"><b>Сэкономьте деньги, силы и время</b></span>, избежав этих ошибок.
                </p>
                <img src="{% static 'homepage/img/why_section_img5_piggybank.svg' %}" width="" class="why_section_img" id="why_section_img5">
            </div>

            <div class="why_section_block" id="why_section_block6">
                <p class="why_section_txt pin pin_right" id="why_section_txt6">
                    <img src="{% static 'homepage/img/why_section_img6_society_mini.svg' %}" width="" class="why_section_img_mini" id="why_section_img6_mini">
                    Ощутите себя частью <span class="text-royalblue"><b>общества осознанных людей</b></span>, понимающих ценность себя и своей жизни.
                </p>
                <img src="{% static 'homepage/img/why_section_img6_society.svg' %}" width="" class="why_section_img" id="why_section_img6">
            </div>

            <div class="why_section_block" id="why_section_block7">
                <img src="{% static 'homepage/img/why_section_img7_new.svg' %}" width="" class="why_section_img" id="why_section_img7">
                <p class="why_section_txt pin pin_right" id="why_section_txt7">
                    <img src="{% static 'homepage/img/why_section_img7_new_mini.svg' %}" width="" class="why_section_img_mini" id="why_section_img7_mini">
                    <span class="text-royalblue"><b>Попробуйте что-то новое</b></span>.<br>
                    Если вы только решили заниматься здоровьем, начать с нами - отличный вариант!<br>
                    Если вы уже собой занимаетесь, но своими силами, попробуйте с нами, вам понравится)<br>
                    Если вы занимались с тренером, но ваши пути разошлись, попробуйте пойти нашим путём, может он и ваш тоже)<br>
                </p>
            </div>

            
        </div>

    </div>
</section>

<section id="hero_section">
    <div class="container">
        <h1 class="text-center">Есть лишь одна инвестиция, о которой никогда не будешь жалеть - инвестиция в здоровье</h1>
    </div>
</section>

<section id="what_section">
    <div class="container bg-white">

        <h1 class="text-center py-4 mb-3">Что предлагает Health & Fitness</h1>

        <div class="d-flex flex-row">
            <div class="d-flex flex-column text-darkgrey w-50">

                <div class="d-flex flex-row mb-5">
                    <div class="d-flex home_ico">
                        <img src="{% static 'homepage/img/home_ico2_handsheart.svg' %}" width="50">
                    </div>
                    <div class="me-4 align-self-center">
                        <p class="mb-1"><span class="text-royalblue"><b>Анализ</b></span> особенностей вашего <span class="text-royalblue"><b>здоровья</b></span> и физического состояния.</p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-5">
                    <div class="d-flex home_ico">
                        <img src="{% static 'homepage/img/home_ico2_handsheart.svg' %}" width="50">
                    </div>
                    <div class="me-4 align-self-center">
                        <p class="mb-1">Определение и отслеживание личных возможностей <span class="text-royalblue"><b>восстановления и утомления</b></span>.</p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-5">
                    <div class="d-flex home_ico">
                        <img src="{% static 'homepage/img/home_ico2_handsheart.svg' %}" width="50">
                    </div>
                    <div class="me-4 align-self-center">
                        <p class="mb-1">Анализ и <span class="text-royalblue"><b>конкретизация целей</b></span> и мотивов.</p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-5">
                    <div class="d-flex home_ico">
                        <img src="{% static 'homepage/img/home_ico2_handsheart.svg' %}" width="50">
                    </div>
                    <div class="me-4 align-self-center">
                        <p class="mb-1">Ежедневный <span class="text-royalblue"><b>мониторинг состояния</b></span>.</p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-5">
                    <div class="d-flex home_ico">
                        <img src="{% static 'homepage/img/home_ico2_handsheart.svg' %}" width="50">
                    </div>
                    <div class="me-4 align-self-center">
                        <p class="mb-1">Удобный <span class="text-royalblue"><b>цифровой инструментарий</b></span> для работы над здоровьем.</p>
                        <p class="mb-1">Всё что нужно, в одном месте.</p>
                    </div>
                </div>

            </div>
            <div class="d-flex w-50">
                <!-- картинка -->
            </div>
        </div>

        <div class="d-flex flex-row">
            <div class="d-flex w-50">
                <!-- картинка -->
            </div>
            <div class="d-flex flex-column text-darkgrey w-50">

                <div class="d-flex flex-row mb-5">
                    <div class="d-flex home_ico">
                        <img src="{% static 'homepage/img/home_ico2_handsheart.svg' %}" width="50">
                    </div>
                    <div class="me-4 align-self-center">
                        <p class="mb-1">Составление <span class="text-royalblue"><b>персональной программы тренировок</b></span> с равномерным развитием всего организма и учётом ваших особенностей и пожеланий.</p>
                        <p class="mb-1"><span class="text-royalblue"><b>Обучение</b></span> эффективной технике.</p>
                        <p class="mb-1">Динамическая <span class="text-royalblue"><b>модификация</b></span> программы в зависимости от изменения состояния организма.</p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-5">
                    <div class="d-flex home_ico">
                        <img src="{% static 'homepage/img/home_ico2_handsheart.svg' %}" width="50">
                    </div>
                    <div class="me-4 align-self-center">
                        <p class="mb-1">Составление персональной понутриентной <span class="text-royalblue"><b>стратегии рационального питания</b></span>. Без запретов, со свободой выбора продуктов. Ежедневный <span class="text-royalblue"><b>мониторинг и фидбек</b></span> по питанию. Плавная и гибкая модификация пищевых привычек.</p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-5">
                    <div class="d-flex home_ico">
                        <img src="{% static 'homepage/img/home_ico2_handsheart.svg' %}" width="50">
                    </div>
                    <div class="me-4 align-self-center">
                        <p class="mb-1">Три гибких часовых <span class="text-royalblue"><b>консультации со специалистом</b></span> в неделю.</p>
                        <p class="mb-1">Вы имеете возможность <span class="text-royalblue"><b>выбирать тематику</b></span> тренировки, питание, психология.</p>
                    </div>
                </div>

                <div class="d-flex flex-row mb-5">
                    <div class="d-flex home_ico">
                        <img src="{% static 'homepage/img/home_ico2_handsheart.svg' %}" width="50">
                    </div>
                    <div class="me-4 align-self-center">
                        <p class="mb-1">Уклон в <span class="text-royalblue"><b>обучение</b></span>. Чтобы со временем вы со всем справлялись сами.</p>
                    </div>
                </div>

            </div>
        </div>
       
    </div>
</section>

<section id="consult_section">
    <div class="container">

        <div class="d-flex flex-row py-5">
            <div class="w-50">
                <!-- картинка -->
            </div>
            <div class="d-flex flex-column w-50">
                <h2 class="mb-0">Мы предлагаем</h2>
                <h2 class="">комплексный функционал:</h2>
                <br>
                <p class="lead"><span class="text-royalblue">&#9658;</span> всё, что нужно</p>
                <p class="lead"><span class="text-royalblue">&#9658;</span> в одном месте</p>
                <p class="lead"><span class="text-royalblue">&#9658;</span> в удобном формате</p>
                <br>
                <p>Но как бы не был хорош функционал нашего сервиса, это только инструменты.
                   Управлять ими, учить ими пользоваться и контролировать прогресс будет <a href="#" class="text-decoration-none text-royalblue"><b>эксперт и основатель проекта</b></a>. А человеческое время и силы, увы, ограничены, поэтому услуга лимитирована.</p>
                <p>Успей <a href="#consultation_section" class="text-decoration-none text-royalblue"><b>записаться</b></a>, пока есть свободные места.</p>
            </div>
        </div>
       
    </div>
</section>

<section id="consultation_section">
    <div class="container">

        <div class="d-flex flex-column flex-md-row py-5">
            <div class="w-100 w-md-50 pe-5 mb-4 mb-md-0">
                <h2 class="fw-bolder mb-0">Запишитесь на</h2>
                <h2 class="fw-bolder mb-0"><span class="text-royalblue">бесплатную консультацию</span></h2>
                <h2 class="fw-bolder">со специалистом</h2>
                <br>
                <p class="lead"><span class="text-royalblue">&#9658;</span> вы получите более подробную информацию</p>
                <p class="lead"><span class="text-royalblue">&#9658;</span> обсудите цели и пути их достижения</p>
                <p class="lead"><span class="text-royalblue">&#9658;</span> сможете задать любые вопросы</p>
            </div>
            <div class="d-flex flex-column w-100 w-md-50">
                <!-- форма для консультацияя -->
                <form method="post" action="{% url 'saveConsultationSignup' %}" id="consultation_form">
                    {{ consultation_form.as_p }}
                    <p class="mb-4 transition_common text-transparent text-center" id="consultation_error">&nbsp;</p>
                    <button type="submit" class="btn btn-primary w-100">Отправить заявку на консультацию</button>
                </form>
            </div>
        </div>
    
    </div>
</section>

<!-- модальное окно подтверждения заявки -->
<div class="modal fade" id="consultation_confirm" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center fw-bolder mt-0">Спасибо за вашу заявку, <br>
                    <span id="applicant_name" class="text-royalblue"></span>
                </h3>
            </div>
            <div class="modal-body text-center">
                <p class="mb-0">Специалист свяжется с вами в течение двух дней</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary w-100px" data-bs-dismiss="modal" onclick="location.reload()">OK</button>
              </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script src="{% static 'homepage/js/homepage.js' %}"></script>
{% endblock %}