<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'homepage/css/homepage_style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <header>
        <div class="container">
            <div class="container">
                <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
                  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img src="{% static 'homepage/img/Logo.svg' %}" alt="logo" width="100" height="100">
                    <span class="fs-4 text-center">Health & Fitness strategist</span>
                  </a>
            
                  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-dark">Обо мне</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Рецепты</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Блог</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Прайс-лист</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">FAQ</a></li>
                  </ul>
            
                  <div class="col-md-3 text-end">
                    {% if user.is_authenticated %}
                      <h2>Привет, {{ user.username }}!</h2>
                      <a href="{{ 'personalpage' }}"><button type="button" class="btn btn-primary">Личный кабинет</button></a>
                      <form method="POST" action="{% url 'logoutuser' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary">Выйти</button>
                      </form>
                    {% else %}
                      <button type="button" class="btn btn-outline-primary" id="login_btn" data-bs-toggle="modal" data-bs-target="#login_form_container">Вход</button>
                      <button type="button" class="btn btn-primary" id="registration_btn" data-bs-toggle="modal" data-bs-target="#registration_form_container">Регистрация</button>
                    {% endif %}
                  </div>
                </header>
              </div>
        </div>       
    </header>

    
    <!-- формы авторизации -->
    <!-- вход форма -->
    <div class="modal fade" id="login_form_container" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <h4 class="modal-title text-center">АВТОРИЗАЦИЯ</h4><br>
          <form method="POST" action="" id="login_form">
            {% csrf_token %}
            <div class="pad-notop-4">
              <label>Логин</label>
              <p>{{ login_form.username }}</p>
              <label>Пароль</label>
              <p>{{ login_form.password }}</p>
              <span id="login_form_result" class="error">&nbsp;</span>
              <button type="submit" class="btn btn-primary">ВХОД</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- аякс скрипты -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- вход скрипт -->
    <script>
        $(document).ready(function () {
            // отслеживаем событие отправки формы
            $('#login_form').submit(function () {

                resultField = document.getElementById("login_form_result");
                
                // создаем AJAX-вызов
                $.ajax({
                    data: $(this).serialize(), // получаем данные формы
                    type: $(this).attr('method'), // метод отправки запроса
                    url: "{% url 'loginuser' %}", // функция обработки
                    
                    // После успешного завершения запросов запускается одна из колбэк-функций success или error.
                    success: function (response) {
                      if (response.result == 'успешный успех') {
                        resultField.style.color = "#00000000";
                        resultField.style.color = "#00c0f0";
                        resultField.textContent = response.result;
                        setTimeout(() => {
                            window.location.href = "{% url 'personalpage' %}";
                          }, 1000);
                        }
                      else {
                        resultField.textContent = response.result;
                        resultField.style.color = "#00000000";
                        setTimeout(() => {
                          resultField.style.color = "#ff1943";
                          }, 500);
                      }
                      },
                    error: function (response) {
                      resultField.textContent = "возникла ошибка";
                      resultField.style.color = "#00000000";
                      setTimeout(() => {
                          resultField.style.color = "#ff1943";
                          }, 500);
                      }
                });
                // return false в конце скрипта предотвращает отправку форм, останавливая перезагрузку страницы.
                return false;
            });
        })    
    </script>
    <!--  -->

    <!-- регистрация форма -->
    <div class="modal fade" id="registration_form_container" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <h4 class="modal-title text-center">РЕГИСТРАЦИЯ</h4><br>
          <form method="POST" action="" id="registration_form">
            {% csrf_token %}
            <div class="pad-notop-4">
              <label>Логин</label>
              <p>
                {{ registration_form.username }}
                <span class="helptext" id="username_error">&nbsp;</span>
              </p>
              <label>Пароль</label>
              <p>
                {{ registration_form.password1 }}
              </p>
              <label>Подтверждение пароля</label>
              <p>
                {{ registration_form.password2 }}
                <span class="helptext" id="password2_error">&nbsp;</span>
              </p>

              <span id="registration_form_result" class="error">&nbsp;</span>
              <button type="submit" class="btn btn-primary">СОЗДАТЬ АККАУНТ</button>
            </div>
          </form>

        </div>
      </div>
    </div>
    <!--  -->

    <!-- регистрация скрипт -->
    <script>
      $(document).ready(function () {
          // отслеживаем событие отправки формы
          $('#registration_form').submit(function () {

              resultField = document.getElementById("registration_form_result");
              
              // создаем AJAX-вызов
              $.ajax({
                  data: $(this).serialize(), // получаем данные формы
                  type: $(this).attr('method'), // метод отправки запроса
                  url: "{% url 'registration' %}", // функция обработки
                  
                  // После успешного завершения запросов запускается одна из колбэк-функций success или error.
                  success: function (response) {
                    if (response.result == 'успешный успех') {
                      document.getElementById("username_error").textContent = "";
                      document.getElementById("password2_error").textContent = "";
                      resultField.style.color = "#00000000";
                      resultField.textContent = response.result;
                      resultField.style.color = "#00c0f0";
                      setTimeout(() => {
                          window.location.href = "{% url 'personalpage' %}";
                      }, 1700);
                      }
                    else {
                      resultField.style.color = "#00000000";
                      document.getElementById("username_error").style.color = "#00000000";
                      document.getElementById("password2_error").style.color = "#00000000";
                      for (var key in response.result) {
                        document.getElementById(key + "_error").style.color = "#00000000";
                        for (let i=0; i<response.result[key].length; i++) {
                          response.result[key][i] = '&#8226; ' + response.result[key][i];
                        }
                        document.getElementById(key + "_error").innerHTML = response.result[key].join("\n");
                        document.getElementById(key + "_error").style.color = "#0055d5";
                      }
                    }
                    },
                  error: function (response) {
                    resultField.style.color = "#00000000";
                    resultField.textContent = "возникла ошибка";
                    resultField.style.color = "#ff1943";
                    }
              });
              // return false в конце скрипта предотвращает отправку форм, останавливая перезагрузку страницы.
              return false;
          });
      })    
    </script>
    <!--  -->

    <main>
      {% block content %}
      {% endblock %}
    </main>

    <footer>
        <div class="container">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
              <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                  <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                </a>
                <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
              </div>
          
              <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li>Ссылки на вконтакте и т.п</li>
              </ul>
            </footer>
          </div>
    </footer>
    

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
  <script src="{% static 'homepage/js/layout.js' %}"></script>
</body>

</html>