summary {
    list-style: none;
}
summary::-webkit-details-marker {
    display:none;
}

#exercises-form {
    max-height: 30rem;
    overflow-y: auto;
}
@media (min-width: 1200px) {
    #exercises-form {
        max-height: 41rem;
    }
}
#exercises-form input[type=checkbox] {
    margin-top: 2px;
    width: 19px;
    height: 19px;
}
.exercise-item {
    display: flex;
    align-items: center;
}

#dummy {
    max-width: 30rem;
}
#dummy .area.selected {
    filter: sepia(57%) saturate(2000%) hue-rotate(176deg);
}
#dummy .area.filtered,
#dummy .area:hover {
    filter: invert(47%) sepia(76%) saturate(470%) hue-rotate(193deg) brightness(117%);
}
