.filter-grey {
    filter: invert(95%) sepia(9%) saturate(99%) hue-rotate(169deg) brightness(94%) contrast(93%);
}

summary {
    list-style: none;
}
summary::-webkit-details-marker {
    display:none;
}

#cat {
    z-index: -1;
    width: 11rem;
    bottom: 1rem;
}
@media (min-width: 576px) {
    #cat {
        width: 16rem;
    }
}

.exercise-record[open] summary {
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important; 
}
.training-form input[type=number] {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
}

.exercise-record.done summary {
    background-color: #d8e0ff !important
}
