/* общее */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main_container {
    min-height: 55vh;
}
@media (min-width: 576px) {
    .main_container {
        min-height: 72vh;
    }
}
@media (min-width: 768px) {
    .main_container {
        min-height: 80vh;
    }
}

.text-softgrey {
    color: #545454;
}

.w-fit {
    width: fit-content;
}

.form-check-input:checked {
    background-color: #5271ff;
    border-color: #5271ff;
}

/* скролл */
::-webkit-scrollbar {
    max-width: 9px;
    max-height: 9px;
    background-color: #f8f8f8;
}
::-webkit-scrollbar-thumb {
    background-color: #bdcbf3;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #92a7e0;
}
::-webkit-scrollbar-track {
    background-color: #eeeef570;
}

.cursor-move {
    cursor: move;
}

.border-grey {
    border-color: #ced4da !important;
}
.text-transparent {
    color: #ffffff00;
}
.text-danger {
    color: #f02767 !important;
}
.transition_common {
    transition: all 1s ease;
}

.text-light-grey {
    color: #b9b9b9 !important;
}

.w-fill {
    width: -webkit-fill-available;
}

.text-royalblue {
    color: #5271ff !important;
}
.bg-royalblue {
    color: #5271ff !important;
}

.border-blueshadow {
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}

.hover_brigh:hover {
    filter: brightness(0.7);
}

.ch-pointer:hover {
    cursor: pointer;
}

.form_saved {
    color: #00c0f0 !important;
    transition: all 1s ease !important;
}
.form_not_saved {
    color: #ff1943 !important;
    transition: all 1s ease !important;
}

.link {
    color: #5271ff;
    text-decoration: none;
    font-weight: bolder;
}
.link:hover {
    color: var(--bs-link-hover-color);
    cursor: pointer;
}


/* layout */
#expert_pic {
    position: absolute;
    right: 0;
    margin-top: -42px;
    margin-right: 15px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 6px 1px #566c6f;
    box-shadow: 0 0 6px 1px #566c6f;
}
#expert_pic:hover {
    -webkit-box-shadow: 0 0 8px 1px #2c3e40;
    box-shadow: 0 0 8px 1px #2c3e40;
}
#commentary_container {
    position: absolute;
    right: 0;
    left: 15px;
    z-index: 10;
    margin-top: -341px;
    margin-right: 15px;
}
@media (min-width: 450px) {
    #commentary_container {
        float: right;
        left: unset;
    }
}
@media (min-width: 576px) {
    #commentary_container {
        margin-top: -326px;
        margin-right: 109px;
    }
}
@media (min-width: 768px) {
    #commentary_container {
        margin-top: -395px;
    }
}
@media (min-width: 1535px) {
    #commentary_container {
        position: relative;
        margin-right: 8px;
    }
}
@media (min-width: 450px) {
    #row_commentary_labels {
        flex-wrap: nowrap !important;
    }
}
.commentary_textfield {
    border: 1px solid #ced4da;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    height: 162px;
    overflow: auto;
    margin-top: 1rem;
}
@media (min-width: 450px) {
    .commentary_textfield {
        margin-top: 0;
        width: 384px;
        height: 210px;
    }
}
@media (min-width: 768px) {
    .commentary_textfield {
        height: 279px; 
    }
}

.comment_section {
    font-weight: 500;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #ced4da;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    z-index: 2;
    background-color: white !important;
    position: relative;
}
.comment_section.closed {
    z-index: 0;
    border: none;
}
.comment_section:hover {
    cursor: pointer;
    color: #5271ff !important;
}

#copy2memo_icon {
    opacity: .5;
}
#copy2memo_done_icon {
    opacity: .5;
}
#copy2memo_icon:hover {
    filter: brightness(0) saturate(100%) invert(55%) sepia(78%) saturate(4826%) hue-rotate(215deg) brightness(97%) contrast(108%);
    opacity: unset;
}


#dialog_part_svg {
    filter: drop-shadow(11px 5px 3px #9fbfc5);
    z-index: 11;
    margin: -4px 63px 34px 0px;
    transform: rotate(270deg) scaleX(-1);
    height: 20px;
}
#count_of_unread {
    width: 23px;
    height: 23px;
    right: 0;
    margin-top: 29px;
    margin-right: 43px;
    position: absolute;
    border: 1px solid #c1c1c1;
    color: dimgray;
    background-color: white;
    font-size: 15px;
    font-weight: 500;
}

/* sm */
@media (min-width: 576px) {
    #dialog_part_svg {
        filter: drop-shadow(11px 5px 3px #9fbfc5);
        margin: 18px -6px 17px -10px;
        transform: none;
    }
}

@media (min-width: 1535px) {
    #expert_pic {
        position: static;
        float: right;
        margin-right: -86px;
    }
    #count_of_unread {
        position: static;
        float: right;
        margin-right: -58px;
    }
}


#commentary_form #id_date {
    width: 140px;
}
#commentary_form table {
    margin-bottom: -9px;
    border-collapse: unset !important;
}

.date_arrow:hover {
    cursor: pointer;
    color: #3f54b2;
}

.arrow_btn:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

/* main */
/* clientmemo */
#clientmemo_container {
    width: 95%;
    max-width: 600px !important;
    position: fixed;
    top: 4.5rem;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
    background-color: #5271ff;
}
.memo_label {
    color: #5271ff;
    font-weight: 500;
    background-color: white;
    border-radius: 10px;
    width: 40%;
    padding: 0.25rem;
    border: 1px solid #ced4da;
    z-index: 2;
}
.memo_label.closed {
    color: darkgray;
    z-index: 0;
}
.memo_label:hover {
    cursor: pointer;
    color: #5271ff;
}
@media (min-width: 450px) {
    .memo_label {
        width: auto;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    }
}
#clientmemo_form textarea {
    height: 50vh;
    margin-top: -0.5rem;
    position: relative;
    z-index: 1;
    padding-top: 0.75rem;
}
#clientmemo_form textarea:focus {
    border-color: #ced4da;
    box-shadow: unset;
}

/* main */

/* header */
header {
    background-color: #ffffff;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav_link_container {
    width: 140px;
    height: 50px;
}
.nav_link {
    color: #545454;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    border: none;
    background: none;
}
.nav_link:hover {
    color: #5271ff;
}

#open_label_drop {
    color: #5271ff;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
}


#logo_mini {
    pointer-events: none;
}

#nav_string {
    display: none;
}
@media (min-width: 768px) {
    #nav_string {
        display: flex;
    }
    #nav_dropdown {
        display: none !important;
    }
}

header .svg-icon:hover {
    filter: brightness(0) saturate(100%) invert(55%) sepia(78%) saturate(4826%) hue-rotate(215deg) brightness(97%) contrast(108%);
}
.svg-royalblue {
    filter: brightness(0) saturate(100%) invert(55%) sepia(78%) saturate(4826%) hue-rotate(215deg) brightness(97%) contrast(108%);
}

/* footer */
footer {
    background-color: #5271ff;
    border-top-color: #b9b9b9;
    border-top-style: solid;
    border-top-width: 3px;
    margin-top: auto;
}
.mail_ref {
    color: #b9b9b9;
    text-decoration: none;
}
.mail_ref:hover {
    color: black;
}
.contact_ico {
    height: 25px;
    filter: invert(1);
}
.contact_ico:hover {
    filter: brightness();
}
/* #logout_btn {
    width: 69px;
    text-align: end;
} */

/* стиль кнопок */
.btn-primary {
    --bs-btn-bg: #5271ff !important;
    --bs-btn-border-color: #5271ff !important;
    --bs-btn-hover-color: #f6f6f6 !important;
    --bs-btn-hover-bg: #3f54b2 !important;
    --bs-btn-hover-border-color: #3f54b2 !important;
    --bs-btn-active-bg: #5271ff !important;
    --bs-btn-active-border-color: #5271ff !important;
    --bs-btn-disabled-bg: #5271ff !important;
    --bs-btn-disabled-border-color: #5271ff !important;
}
.btn-outline-primary {
    --bs-btn-color: #5271ff !important;
    --bs-btn-border-color: #5271ff !important;
    --bs-btn-hover-bg: #5271ff !important;
    --bs-btn-hover-border-color: #5271ff !important;
    --bs-btn-active-bg: #5271ff !important;
    --bs-btn-active-border-color: #5271ff !important;
    --bs-btn-disabled-color: #5271ff !important;
    --bs-btn-disabled-border-color: #5271ff !important;
}
/* стиль кнопок */

/* main */
.text-royalblue {
    color: #5271ff;
}
.hidden_element {
    display: none !important;
}
.width_unset {
    width: auto !important;
}
.my-hover:hover {
    outline-color: #8f8f8f !important;
    outline-style: auto !important;
    outline-width: 1px !important;
}
.btn_rigth {
    float: right;
}
#another_date_container {
    width: 310px;
    float: right;
    margin-top: -8px;
}
.top_table {
    box-shadow: 0 0 1px 1px #dee2e6;
}
.top_table_ol {
    padding-right: 109px;
    padding-left: 109px;
}

@media screen and (max-width: 991px) {
    .top_table_ol {
        padding-right: 0;
        padding-left: 0;
    }
}
input[type="radio"] {
    border-radius: 50%;
    border: 1px solid #ced4da;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="radio"]:checked {
    background-color: white;
    border: solid 6px #5271ff;
}
input[type="radio"]:hover {
    cursor: pointer;
}
input[type="radio"]:focus {
    border-color: #5271ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #0d6efd40;
}
.form-check-input {
    min-width: 20px;
    min-height: 20px;
    margin-top: 0px;
}
.form-check-input:checked {
    background-color: #5271ff !important;
    border-color: #5271ff !important;
}
.backbtn_leftup {
    margin-top: -36px;
}
#input_briefdate {
    max-width: 200px;
    display: inline;
}

#input_briefmonth {
    max-width: 200px;
    display: inline;
}
caption {
    color: black;
}
table {
    cursor: default;
}
.luminosity {
    mix-blend-mode: luminosity;
}
.noluminosity {
    mix-blend-mode: none;
    filter: hue-rotate(36deg);
}
#foodmetricsave_status {
    transition: all 1s ease;
    color: #0065fd00;
}
.close_btn, .ok_btn {
    width: 25px;
    height: 25px;
    --bs-btn-padding-y: unset;
}
.borderless{
    border: 1px solid white !important;
    background-color: white !important;
}
.clientname {
    color: #5271ff;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 600;
}
/* общее */

/* загрузочный кот */
#load_cat {
    right: 0;
    bottom: 0;
    left: unset;
    top: unset;
    height: auto;
    width: auto;
}
.cat_with_coffee { 
    max-width: 380px;
    width: 70%;  
    filter: drop-shadow(3px 0px 3px #0000004e);
    text-align: end;
}
.modal-backdrop {
    transition: all 1.5s ease;
    --bs-backdrop-bg: #61696e;
    --bs-backdrop-opacity: 0.4;
}
.modal.fade.cat_with_coffee .modal-dialog {
    transform: translate(200px,0px);
    transition: transform 2s ease-out;
}
.modal.show.cat_with_coffee .modal-dialog {
    transform: none;
}
.button_clientname {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
/* загрузочный кот */

/* measurements */
#measure_table_period {
    max-height: 75vh;
}
#id_comment {
    transition: color 1s ease;
}
.comment_header {
    width: 280px;
    cursor: move;
    transition: all 1s ease;
    color: #0065fd00;
}
.comment_btn.shadow {
    box-shadow: 0 -1px 5px 0.3rem rgb(13 110 253 / 20%) !important;
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
}
.container_commentform {
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: #ebefff;
    box-shadow: 0 0 8px 1px #00000052;
    width: 352px;
    max-width: 95vw;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.comment_pic_royalblue {
    filter: hue-rotate(36deg);
}
/* measurements */

/* addmeasure */
#week_calendar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    max-width: fit-content;
}
@media screen and (min-width: 768px) {
    #week_calendar {
        margin-bottom: -40px;
    }
}
.date_selection {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid #5271ff;
    width: 69px;
    height: 45px;
    padding: 5px 5px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 4px 15px 4px;
    box-shadow: 0 0 3px 1px #9fbfc5;
}
.date_selection:hover {
    cursor: pointer;
    background-color: #5271ff;
    color: white;
}
.selected_date {
    background-color: #5271ff !important;
    color: white !important;
}
.addmeasure_form {
    max-width: 523px;
    margin-left: auto;
    margin-right: auto;
}
#id_calories, #id_protein, #id_fats, #id_carbohydrates {
    background-color: #e9ecef;
    opacity: 1;
}
@media screen and (max-width: 576px) {
    .pressure_upper, .pressure_lower {
    width: 50%;
    }
    .addmeasure_form .date_field {
        width: 40%;
    }
    .addmeasure_form .date_label {
        width: 60%;
    }
}
.addmeasure_borderform {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 22px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
@media screen and (min-width: 768px) {
    .container_addmeasure {
        max-width: 689px !important;
    }
    .addmeasure_borderform {
        padding-top: 43px !important;
    }
}
.container_addmeasure {
    max-width: fit-content;
}
/* addmeasure */


/* anthropometry */

.show_photo_btn.shadow {
    box-shadow: 0 1px 4px 4px rgb(13 110 253 / 20%) !important;
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5)) hue-rotate(36deg);
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5)) hue-rotate(36deg);
}
.show_photo_btn {
    cursor: pointer;
    filter: hue-rotate(36deg);
}
.show_photo_btn.luminosity {
    cursor: default;
}
.container_photo {
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: #ebefff;
    box-shadow: 0 0 8px 1px #00000052;
    z-index: 2;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 50vw;
    min-width: 300px;
    max-height: 80vh;
}
.container_photo img {
    border-radius: 10px;
    width: 100%;
}
.container_photo p {
    margin-bottom: 4px;
    cursor: move;
}
.close_photo_btn {
    float: right;
}
#id_photo_access {
    margin-left: 1rem;
}

#btn_show_all:hover {
    filter: contrast(0.9);
    cursor: pointer;
}


/* anthropometry */


/* mealjournal */
#container_recommend_nutrition_form {
    backface-visibility: hidden;
    background-color: #ebefff;
    position: fixed;
    width: 18rem;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
@media (min-width: 576px) {
    #container_recommend_nutrition_form {
        right: 30%;
    }
}

#select_date_section_mealjournal {
    max-width: 310px;
}
#back_btn_mealjournal {
    margin-top: -18px;
}
.without_info_row input[type="number"] {
    text-align: center;
    display: inline;
}
.without_info_row select {
    display: inline;
    width: unset;
}

.fatsecret_ref {
    color: #36bd30;
    text-decoration: none;
    font-weight: 500;
}
.fatsecret_ref:hover {
    color: #288023;
}

@media screen and (max-width: 341px) {
    #fsapp_googleplay {
        margin-top: 10px;
    }
}

.container_fs_photo {
    justify-content: end;
}
.fs_photo {
    width: 144px;
    margin-left: 1rem;
    margin-bottom: 0px;
    margin-top: 6px;
}
@media screen and (max-width: 1399px) {
    .fs_photo {
        width: 159px;
    }
}
@media screen and (max-width: 1199px) {
    #fs_photo3 {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .fs_photo {
        width: 133px;
    }
}
@media screen and (max-width: 767.5px) {
    #fs_photo2 {
        display: none;
    }
    .fs_photo {
        width: 187px;
    }
}
@media screen and (max-width: 546px) {
    #fs_photo3, #fs_photo2, #fs_photo1 {
        display: unset;
        width: 33%;
    }
    .fs_photo {
        width: -webkit-fill-available;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
    #container_fs_connection {
        flex-direction: column-reverse;
    }
    #container_fs_photo {
        justify-content: space-between;
        margin-bottom: 20px;
    }
}
/* mealjournal */

/* foodbymonth */
#cat_with_coffee {
    height: 122px;
    width: 152px;
    align-self: center;
}
#select_month_section {
    max-width: 310px;
}
/* foodbymonth */

/* foodbydate */
#select_date_section {
    max-width: 310px;
}
/* foodbydate */


/* personalpage */
#today_measure_block {
    min-width: 290px;
}
@media (min-width: 768px) {
    #today_measure_block {
        max-width: 50%;
    }
}
/* contacts */
.contacts_help img {
    width: -webkit-fill-available;
    border-radius: 10px;
    border: 1px solid #5271ff;
}
#contacts_form svg.open {
    -webkit-filter: drop-shadow(0px 0px 3px #5271ff);
    filter: drop-shadow(0px 0px 3px #5271ff);
    background-color: #5271ff;
    border-radius: 10px;
    fill: white;
} 


.tablerow_name {
    text-align: left;
    width: 150px;
}
#input_period {
    max-width: 70px;
}
#id_comment:focus {
    border-color: #ced4da;
    box-shadow: none;
}
.comment_btn {
    cursor: pointer; 
    filter: hue-rotate(36deg);
}
.commentbtn_container {
    margin-top: 5px;
}
.comment_saved {
    color: #00c0f0 !important;
    transition: all 1s ease !important;
}
.comment_not_saved {
    color: #ff1943 !important;
    transition: all 1s ease !important;
}
/* personalpage */


/* health_questionary */
@media screen and (min-width: 576px) {
    .questionary_container {
        border: 1px solid #dee2e6;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 8px 1px #9fbfc5;
    } 
}
#fullname_label, #birthdate_label {
    margin-bottom: 5px;
}
.birthdate_container {
    display: flex;
    justify-content: center;
}
#id_birth_date_day {
    width: 5rem;
    text-align: center;
    z-index: 2;
}
#id_birth_date_month {
    width: 9rem;
    text-align: center;
    z-index: 2;
}
#id_birth_date_year {
    width: 6rem;
    text-align: center;
    z-index: 2;
}
.side_hr {
    margin-top: -20px;
    z-index: 1;
}
.boolquestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.confirmquestion {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.boolanswers {
    display: flex;
    flex-direction: row;
    min-width: 7em;
    justify-content: space-between;
    font-size: 20px;
}
@media screen and (max-width: 500px) {
    .boolanswers {
        flex-direction: column;
        align-items: flex-end;
        min-width: 3em;
        margin-right: 5px;
    }
}
.boolanswers p {
    margin-right: 5px;
    margin-bottom: 3px;
}
.exp_question {
    margin-right: 3rem;
    margin-bottom: unset;
    white-space: nowrap;
}
.question {
    margin-right: 2rem;
    margin-bottom: unset;
}
.radioanswers {
    display: flex;
    flex-direction: column;
}
.radioanswer {
    display: flex;
    padding: 1px;
}
.label_for_radio {
    margin-left: 10px;
}
.radioanswer_line {
    display: flex;
    margin: 10px 15px;
}
.radioanswer_line input[type="radio"] {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
/* health_questionary */

/* meet_questionary */
input[type='range']::-webkit-slider-thumb {
    background: #5271ff;
}
input[type='range']::-moz-range-thumb {
    background: #5271ff;
}
input[type='range']::-ms-thumb {
    background: #5271ff;
}

#meet_questionary_form .title {
	text-transform: uppercase;
	line-height: 1.5;
	text-align: center;
	position: relative;
}
#meet_questionary_form .title span {
	background: #fff;
	display: inline-block;
	padding: 0 10px;
	position: relative;
}
#meet_questionary_form .title:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;        
	width: 100%;
	height: 2px;
	background: #d9dfff;
}

#meet_questionary_container {
    max-width: 936px;
} 

/* meet_questionary */