*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #bce0ed;
}

footer {
    background-color: #bce0ed;
}


#week_calendar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    max-width: fit-content;
}
@media screen and (min-width: 768px) {
    #week_calendar {
        margin-bottom: -40px;
    }
}

.date_selection {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid dodgerblue;
    width: 69px;
    height: 45px;
    padding: 5px 5px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 4px 15px 4px;
    box-shadow: 0 0 3px 1px #9fbfc5;
}
.date_selection:hover {
    cursor: pointer;
    background-color: dodgerblue;
    color: white;
}
.selected_date {
    background-color: dodgerblue !important;
    color: white !important;
}

.addmeasure_form {
    max-width: 523px;
    margin-left: auto;
    margin-right: auto;
}

.anthropometry_form {
    max-width: 385px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}

.hidden_element {
    display: none !important;
}

.week_statistic {
    display: flex;
    flex-direction: row;
    height: auto;
    cursor: default;
}

.today_measure_table {
    max-width: 500px;
}



.tablerow_name {
    text-align: left;
    width: 150px;
}

.comment_text {
    font-size: 14px;
}

.weekday_text {
    font-size: 14px;
}


/* анкета */

.fullname_question {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
}
.birthdate_question {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
}

#id_fullname {
    margin-left: 1rem;
}

#id_birth_date_day {
    margin-left: 5rem;
    width: 5rem;
    text-align: center;
}
#id_birth_date_month {
    width: 9rem;
    text-align: center;
}
#id_birth_date_year {
    width: 6rem;
    text-align: center;
}

.boolquestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.confirmquestion {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    display: flex;
    justify-content: space-between;
}

.boolanswers {
    display: flex;
    flex-direction: row;
    min-width: 7em;
    justify-content: space-between;
    font-size: 20px;
}


.exp_question {
    margin-right: 3rem;
    margin-bottom: unset;
    white-space: nowrap;
}

.question {
    margin-right: 3rem;
    margin-bottom: unset;
}

.radioanswers {
    display: flex;
    flex-direction: column;
}

.radioanswer {
    display: flex;
    padding: 1px;
}

.label_for_radio {
    margin-left: 10px;
}

.radioanswer_line {
    display: flex;
    margin: 10px 15px;
}


input[type="radio"] {
    border-radius: 50%;
    border: 1px solid #ced4da;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 6px;
}
input[type="radio"]:checked {
    background-color: white;
    border: solid 6px #0d6efd;
}
input[type="radio"]:hover {
    cursor: pointer;
}
input[type="radio"]:focus {
    border-color: #0d6efd;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #0d6efd40;
}

.form-check-input {
    min-width: 1em;
}

.btn_rigth {
    float: right;
}

.backbtn_leftup {
    margin-top: -36px;
}

#input_briefdate {
    max-width: 200px;
    display: inline;
}

#input_briefmonth {
    max-width: 200px;
    display: inline;
}

#id_calories, #id_protein, #id_fats, #id_carbohydrates {
    background-color: #e9ecef;
    opacity: 1;
}

@media screen and (max-width: 576px) {
    .pressure_upper, .pressure_lower {
    width: 50%;
    }
    .addmeasure_form .date_field {
        width: 40%;
    }
    .addmeasure_form .date_label {
        width: 60%;
    }
}


#input_period {
    max-width: 70px;
    padding: 6px;
}

caption {
    color: black;
}

table {
    cursor: default;
}

.period_select {
    display: flex;
    max-width: 380px;
    align-items: baseline;
    justify-content: space-between;
    white-space: nowrap;
    flex-flow: wrap;
}

.width_unset {
    width: auto !important;
}

.comment_btn {
    cursor: pointer; 
}
.luminosity {
    mix-blend-mode: luminosity;
}
.noluminosity {
    mix-blend-mode: none;
}

.comment_saved {
    color: #00c0f0 !important;
    transition: all 1s ease !important;
}
.comment_not_saved {
    color: #ff1943 !important;
    transition: all 1s ease !important;
}

#id_comment {
    transition: color 1s ease;
}

.comment_header {
    width: 280px;
    cursor: move;
    transition: all 1s ease;
    color: #0065fd00;
}

.shadow {
    box-shadow: 0 -1px 5px 0.3rem rgb(13 110 253 / 20%);
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
}

#id_comment:focus {
    border-color: #ced4da;
    box-shadow: none;
}

.container_commentform {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: aliceblue;
    max-width: 352px;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 1084px;
}

.sm_square_btn {
    height: 22px;
    width: 22px;
    line-height: 5px;
    padding: 2px;
}

.commentbtn_container {
    margin-top: 5px;
}



.borderless{
    border: 1px solid white !important;
    background-color: white !important;
}



.addmeasure_borderform {
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 22px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
@media screen and (min-width: 768px) {
    .container_addmeasure {
        max-width: 689px !important;
    }
    .addmeasure_borderform {
        padding-top: 43px !important;
    }
}

.container_addmeasure {
    max-width: fit-content;
}