{% extends layout %}
{% load static %}

{% block stylesheet %}
{% endblock %}

{% block title %}
	<title>Тарифные планы</title>
{% endblock %}

{% block content %}
<section id="plans-control-section">
    <div class="container">
        <div class="d-flex gap-3 mb-2 justify-content-center justify-content-md-end">
            <a href="{% url 'subscription:new_plan' %}" class="btn btn-primary float-end mb-5">
                <img src="{% static 'subscriptions/img/plus-circle.svg' %}" class="filter-white mb-1" width="19">
                <span class="ms-1">Новый тариф</span>
            </a>
        </div>
        <div id="plans-container" class="row g-5">
            {% for plan in plans %}
                <div class="col-12 col-md-6 col-xl-4">
                    <div class="card shadow-sm w-100 h-fit mb-4">
                        <div class="card-header d-flex text-light bg-primary align-items-center gap-2 justify-content-between">
                            <div class="col-1"></div>
                            <h5 class="text-center col-auto mb-0">{{ plan.name|capfirst }}</h5>
                            <button type="button" title="Меню" data-bs-toggle="dropdown" class="col-1 btn-img filter-white">
                                <img src="{% static 'expert/img/three-dots-vertical.svg' %}" width="21">
                            </button>
                            <ul class="dropdown-menu py-1">
                                <a href="{% url 'subscription:edit_plan' plan.id %}" class="btn-link text-black">
                                    <li class="dropdown-item pointer">Редактировать</li>
                                </a>
                                <li class="dropdown-item pointer">
                                    <form method="POST" action="{% url 'subscription:delete_plan' plan.id %}">
                                      {% csrf_token %}
                                      <input type="submit" value="Удалить" class="btn-link text-black text-start">
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body pt-4">
                            <p>Доступ: {{ plan.get_access_display }}</p>
                            <p>Стандартная цена: {{ plan.default_price }}</p>
                            <p>{{ plan.description|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}