#week_calendar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    max-width: fit-content;
}
@media screen and (min-width: 768px) {
    #week_calendar {
        margin-bottom: -40px;
    }
}
.date_selection {
    background-color: white;
    color: black;
    cursor: pointer;
    border: 1px solid #5271ff;
    width: 69px;
    height: 45px;
    padding: 5px 5px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 0 4px 15px 4px;
    box-shadow: 0 0 3px 1px #9fbfc5;
}
.date_selection:hover {
    cursor: pointer;
    background-color: #5271ff;
    color: white;
}
.selected_date {
    background-color: #5271ff !important;
    color: white !important;
}
.addmeasure_form {
    max-width: 523px;
    margin-left: auto;
    margin-right: auto;
}
#id_calories, #id_protein, #id_fats, #id_carbohydrates {
    background-color: #e9ecef;
    opacity: 1;
}
@media screen and (max-width: 576px) {
    .pressure_upper, .pressure_lower {
    width: 50%;
    }
    .addmeasure_form .date_field {
        width: 40%;
    }
    .addmeasure_form .date_label {
        width: 60%;
    }
}
.addmeasure_borderform {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 22px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
@media screen and (min-width: 768px) {
    .container_addmeasure {
        max-width: 689px !important;
    }
    .addmeasure_borderform {
        padding-top: 43px !important;
    }
}
.container_addmeasure {
    max-width: fit-content;
}
.addmeasure_form input {
    text-align: center;
}