/* экстра-меню */
#photo-access-btn .bi-check-circle,
#photo-access-btn.access-allowed .bi-x-circle {
    display: none;
}
#photo-access-btn .bi-x-circle,
#photo-access-btn.access-allowed .bi-check-circle {
    display: unset;
}

/* пустой блок */
.block-container.empty {
    width: 100%;
    max-width: 335px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 576px) {
    .block-container.empty {
        max-width: 400px;
    }
}
@media (min-width: 768px) {
    .block-container.empty {
        max-width: 696px;
    }
}
@media (min-width: 992px) {
    .block-container.empty {
        max-width: 800px;
    } 
}

.show_photo_btn.shadow {
    box-shadow: 0 1px 4px 4px rgb(13 110 253 / 20%) !important;
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5)) hue-rotate(36deg);
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5)) hue-rotate(36deg);
}
.show_photo_btn {
    cursor: pointer;
    filter: hue-rotate(36deg);
}
.show_photo_btn.luminosity {
    cursor: default;
}
.container_photo {
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: #ebefff;
    box-shadow: 0 0 8px 1px #00000052;
    z-index: 2;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    width: 50vw;
    min-width: 300px;
    max-height: 80vh;
}
.container_photo img {
    border-radius: 10px;
    width: 100%;
}
.container_photo p {
    margin-bottom: 4px;
    cursor: move;
}
.close_photo_btn {
    float: right;
}
#id_photo_access {
    margin-left: 1rem;
}
#btn_show_all {
    filter: drop-shadow(0px 2px 1px rgb(0 0 0 / 18%));
}
#btn_show_all:hover {
    cursor: pointer;
}
