/* окна измерений */
#today_measurements {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#today_measurements_table_big,
#today_measurements_table_big_nutrition,
#today_measurements_table_small {
    vertical-align: middle;
    text-align: center;
    margin-bottom: 0;
}
#today_measurements_table_big {
    margin-bottom: 1rem;
}
#period_measurements {
    margin-top: 2rem;
}
#measure_table_period {
    max-height: 81vh;
}
#today_measurements th {
    text-align: left;
    width: 150px;
}
#today_measurements td {
    white-space: nowrap;
}
.period_select {
    display: flex;
    max-width: 380px;
    align-items: baseline;
    justify-content: space-between;
    white-space: nowrap;
    flex-flow: wrap;
}
#input_period {
    max-width: 70px;
}
.bar{
    width: 100%;
    max-width: 12rem;
    margin-left: auto;
    margin-right: auto;
    background: #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
}
.bar-scale {
    background: #657ff7;
    width: 0;
    height: 7px;
    border-radius: 5px;
}
@media (min-width: 768px) {
    #today_measurements th {
        text-align: center;
    }
}
@media (min-width: 992px) {
    #today_measurements {
        max-width: 800px;
    }
}

/* комментарии */
.comment_container {
    background-color: white;
    border: 1px solid #cfd6e1;
    border-radius: 7px;
    padding: 5px;
    cursor: default;
}
.container_commentform {
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: #ebefff;
    box-shadow: 0 0 8px 1px #00000052;
    width: 352px;
    max-width: 95vw;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.comment_pic_royalblue {
    filter: hue-rotate(36deg);
}
#measure_table_period {
    max-height: 75vh;
}
#id_comment {
    transition: color 1s ease;
}
.comment_header {
    width: 280px;
    cursor: move;
    transition: all 1s ease;
    color: #0065fd00;
}
.comment_btn.shadow {
    box-shadow: 0 -1px 5px 0.3rem rgb(13 110 253 / 20%) !important;
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
}
.container_commentform button {
    min-width: 25px;
    height: 25px;
    --bs-btn-padding-y: unset;
    font-size: 13px;
}
.comment_btn.luminosity {
    cursor: default; 
    mix-blend-mode: luminosity;
}
.comment_btn.noluminosity {
    cursor: pointer;
    mix-blend-mode: none;
    filter: hue-rotate(36deg);
}

/* окрашивание */
#color_settings {
    display: none;
    margin-top: 2rem;
}
#color_settings h5 {
    text-align: center;
    font-weight: 500;
}
#color_settings hr {
    margin: 0.5rem 3rem 0.75rem 3rem;
}
#explanation hr {
    margin-left: 0;
    margin-right: 0;
}
#color1 {
    background-color: #27de27;
}
#color2 {
    background-color: #96e332;
}
#color3 {
    background-color: #e3e332;
}
#color4 {
    background-color: #f1b937;
}
#color5 {
    background-color: #ff8063 ;
}
.text-transparent {
    color: #ffffff00;
}

/* кбжу */
#recommend_nutrition {
    backface-visibility: hidden;
    position: fixed;
    width: 18rem;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    display: none;
}
@media (min-width: 576px) {
    #recommend_nutrition {
        right: 30%;
    }
}
