*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.transition_common {
    transition: all 1s ease;
}
.text-transparent {
    color: #ffffff00;
}
/* цветовая тема */
.text-royalblue-ligth {
    color: #B2BFFF !important;
}
.text-royalblue {
    color: royalblue !important;
}
.text-royalblue-dark {
    color: #2b48a0 !important;
}
.w-100px {
    width: 100px;
}
.border-blueshadow {
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
.h-fill {
    height: -webkit-fill-available;
}



/* скролл */
::-webkit-scrollbar {
    max-width: 9px;
    background-color: #f8f8f8;
}
::-webkit-scrollbar-thumb {
    background-color: #bdcbf3;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #92a7e0;
}
::-webkit-scrollbar-track {
    background-color: #eeeef570;
}


/* header */
header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 100;
    font-family: 'Roboto', sans-serif;
}

.navbar-toggler {
   border-color: #7a7a7a !important; 
   padding-top: 3px !important;
   padding-bottom: 3px !important;

}
.navbar-toggler:hover {
    border-color: #5271ff !important; 
}
.navbar-toggler:focus {
    box-shadow: 0 0 5px 1px #6285e2 !important;
}

.nav_link {
    color: #545454;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
    font-weight: 500;
    white-space: nowrap;
    background: unset;
    border: unset;
}
@media (min-width: 768px) {
    .nav_link {
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}
@media (min-width: 992px) {
    .nav_link {
        margin-right: 1rem;
        margin-left: 1rem;
    }
}
.nav_link:hover {
    color: #5271ff;
    cursor: pointer;
}
#logo {
    display: none;
    pointer-events: none;
}
#logo_mini {
    pointer-events: none;
}
@media (min-width: 992px) {
    #logo {
        display: unset;
    }
    #logo_mini {
        display: none;
    }
}


#exit_pic {
    filter: grayscale(1) brightness(0.9);
}
#exit_pic:hover {
    filter: unset;
}

/* header */

/* footer */
footer {
    background-color: #5271ff;
    border-top-color: #b9b9b9;
    border-top-style: solid;
    border-top-width: 3px;
    font-family: 'Roboto', sans-serif;
}
.mail_ref {
    color: #b9b9b9;
    text-decoration: none;
}
.mail_ref:hover {
    color: black;
}
.contact_ico {
    height: 25px;
    filter: invert(1);
}
.contact_ico:hover {
    filter: brightness();
}
/* footer */

/* layout */
.hidden_element {
    display: none !important;
}
.form-control {
    font-size: 1.3rem !important;
}
.modal-content {
    box-shadow: 0 0 10px 4px #85e8ff;
    margin-top: 132px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.modal-content label {
    margin-left: 13px;
}

.modal-title {
    background-color: #ffffff;;
    color: rgb(0, 0, 0);
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    border-radius: var(--bs-modal-border-radius);
    margin-left: auto;
    margin-right: auto;
}

.modal-content button[type="submit"] {
    width: 100%;
    height: 47px;
    margin-top: 23px;
}

.modal-content ul {
    color: #3383d1;
}

.pad-notop-4 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

.helptext {
    margin-left: 14px;
    color: #00000000;
    display: block;
    white-space: pre-wrap;
    transition: all 1s ease;
}

.error {
    transition: all 1s ease;
    color: #00000000;
    display: block;
    text-align: center;
}
/* layout */

/* стиль кнопок */
.btn-primary {
    --bs-btn-bg: #5271ff !important;
    --bs-btn-border-color: #5271ff !important;
    --bs-btn-hover-color: #f6f6f6 !important;
    --bs-btn-hover-bg: #3f54b2 !important;
    --bs-btn-hover-border-color: #3f54b2 !important;
    --bs-btn-active-bg: #5271ff !important;
    --bs-btn-active-border-color: #5271ff !important;
    --bs-btn-disabled-bg: #5271ff !important;
    --bs-btn-disabled-border-color: #5271ff !important;
}
.btn-outline-primary {
    --bs-btn-color: #5271ff !important;
    --bs-btn-border-color: #5271ff !important;
    --bs-btn-hover-bg: #5271ff !important;
    --bs-btn-hover-border-color: #5271ff !important;
    --bs-btn-active-bg: #5271ff !important;
    --bs-btn-active-border-color: #5271ff !important;
    --bs-btn-disabled-color: #5271ff !important;
    --bs-btn-disabled-border-color: #5271ff !important;
}
/* стиль кнопок */

/* main */
main {
    font-family: 'Poppins', sans-serif !important;
}

/* welcome_section */
#welcome_section {
    height: 92vh;
    background-image: url(/static/homepage/img/homepage_trapeze.svg), url(/static/homepage/img/man_lowpoly.png);
    background-color: #e9ebfe;
    background-size: cover;
    background-position-x: center;
    background-position-y: center, center;
    background-repeat: no-repeat, no-repeat;
}

#welcome_section_text {
    align-self: center;
    font-size: 18px;
    margin-bottom: 2rem;
    padding: 30px 21px;
    background-color: white;
    border-radius: 15px;
    z-index: 1;
    box-shadow: 0px 0px 10px #adb6dd;
}
@media (min-width: 576px) {
    #welcome_section_text {
        margin-right: 26px;
        align-self: flex-end;
        width: fit-content;
        margin-bottom: 6rem;
        padding: 30px 30px;
        font-size: 20px;
        transform: skew(349deg);
    }
}
@media (min-width: 768px) {
    #welcome_section_text {
        margin-bottom: 4rem;
    }
}
@media (min-width: 992px) {
    #welcome_section_text {
        padding: 30px 15px;
        font-size: 20px;
        box-shadow: 0px 0px 3px 0px #d9deff;
    }
}
@media (min-width: 1200px) {
    #welcome_section_text {
        padding: 30px 20px;
        font-size: x-large;
    }
}
@media (min-width: 1400px) {
    #welcome_section_text {
        padding: 35px 40px;
        font-size: 25px;
    }
}


#welcome_section_h2_intext {
    text-align: center;
    margin-bottom: 3rem;
}
@media (min-width: 576px) {
    #welcome_section_h2_intext {
        text-align: start;
        padding-left: 24px;
    }
}
@media (min-width: 768px) {
    #welcome_section_h2_intext {
        
        font-size: 25px;
    }
}
@media (min-width: 992px) {
    #welcome_section_h2_intext {
        display: none;
    }
}

#welcome_section_h2_outtext {
    display: none;
}
@media (min-width: 992px) {
    #welcome_section_h2_outtext {
        display: unset;
        margin-bottom: 3rem;
        align-self: flex-end;
        width: fit-content;
        transform: skew(349deg);
        font-size: 25px;
    }
}
@media (min-width: 1200px) {
    #welcome_section_h2_outtext {
        margin-bottom: 2rem;
        font-size: xx-large;
    }
}
@media (min-width: 1400px) {
    #welcome_section_h2_outtext {
        font-size: 35px;
    }
}

h1[name='logo_title'] {
    align-self: center;
    font-family: sans-serif;
    font-size: medium;
    letter-spacing: 9px;
    text-shadow: 0px 0px 7px #2a356a;
    color: white;
}
@media (min-width: 400px) {
    h1[name='logo_title'] {
        font-size: x-large;
    }
}
@media (min-width: 520px) {
    h1[name='logo_title'] {
        align-self: flex-start;
    }
}
@media (min-width: 768px) {
    h1[name='logo_title'] {
        font-size: xx-large;
        text-shadow: 0px 0px 14px #2a356a;
    }
}

/* why_section */
#why_section {
    background-image: url(/static/homepage/img/why_section_back.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.why_section_block {
    display: flex;
    width: 100%;
    text-align: justify;
    line-height: 1.25rem;
    color: #3e3e3e;
}
@media (min-width: 768px) {
    .why_section_block {
        display: inline-flex;
        width: 50%;
        text-align: justify;
        line-height: 1.25rem;
        color: #3e3e3e;
        border: unset;
        margin-bottom: 0;
    }
}
.why_section_txt {
    align-self: center;
    padding: 15px 15px 30px 15px;
    margin-bottom: 0;
    width: auto;
    border-top: 2px solid #cbd3ed;
}
@media (min-width: 576px) {
    .why_section_txt {
        border-width: 2px;
        padding: 15px;
    }
}
@media (min-width: 768px) {
    .why_section_txt {
        align-self: end;
        padding: 0 0 15px 0;
        border: none;
        background-color: unset;
    }
}
@media (min-width: 1400px) {
    .why_section_txt {
        font-size: 18px;
    }
}
.why_section_img {
    display: none;
    z-index: 1;
}
@media (min-width: 576px) {
    .why_section_img {
        display: unset;
        width: 130px;
        align-self: flex-start;
        margin: 0;
    }
}
@media (min-width: 768px) {
    .why_section_img {
        width: 157px;
    }
}
@media (min-width: 992px) {
   .why_section_img {
        width: 182px;
    }
}
.why_section_img_mini {
    width: 75px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: -46px;
    filter: drop-shadow(0px 0px 3px #a7aece);
}
@media (min-width: 576px) {
    .why_section_img_mini {
        display: none;
    }
}
.pin {
    position: relative;
}
.pin::before {
    position: absolute;
    background-color: #cbd3ed;
    border-radius: 10px;
    content: "";
}
@media (min-width: 768px) {
    .pin::after {
        position: absolute;
        border-bottom: 3px solid #cbd3ed;
        content: "";
    }
}
@media (min-width: 768px) {
    .pin_left::before {
        bottom: -4px;
        left: 20%;
        height: 10px;
        width: 10px;
    }
    .pin_left::after {
        bottom: 0px;
        left: 20%;
        height: 0;
        width: 35.5%;
    }
}
@media (min-width: 992px) {
    .pin_left::before {
        left: 50%;
        height: 13px;
        width: 13px;
        bottom: -5px;
    }
    .pin_left::after {
        left: 50%;
        width: 50%;
    }
}
@media (min-width: 768px) {
.pin_right::before {
    bottom: -4px;
    right: 40%;
    height: 10px;
    width: 10px;
}
.pin_right::after {
    bottom: 0px;
    right: 40%;
    height: 0;
    width: 55%;
}}
@media (min-width: 992px) {
    .pin_right::before {
        height: 13px;
        width: 13px;
    }
}
/* 1 */
#why_section_block1 {
    flex-direction: row-reverse;
}
@media (min-width: 768px) {
   #why_section_block1 {
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
    } 
}
@media (min-width: 992px) {
    #why_section_block1 {
        flex-direction: row;
    }
}
#why_section_txt1 {
    border-left: 2px solid #cbd3ed;
}
#why_section_txt1::before {
    top: -6px;
    right: 0;
    height: 10px;
    width: 10px;
}
@media (min-width: 768px) {
    #why_section_txt1 {
        border: none;
    }
    #why_section_txt1::before {
        top: unset;
    }
}
@media (min-width: 992px) {
    #why_section_txt1 {
        padding-right: 15px;
    }
}
@media (min-width: 768px) {
   #why_section_img1 {
        align-self: flex-end;
    } 
}
/* 2 */
#why_section_block2 {
    margin-top: -3px;
}
@media (min-width: 768px) {
    #why_section_block2 {
        flex-direction: column;
        float: right;
        margin-top: 114px;
    }
}
@media (min-width: 992px) {
    #why_section_block2 {
        margin-top: 13px;
    }
}
@media (min-width: 1200px) {
    #why_section_block2 {
        margin-top: 11px;
    } 
}
@media (min-width: 1400px) {
    #why_section_block2 {
        margin-top: 11px;
    } 
}
#why_section_txt2 {
  border-right: 2px solid #cbd3ed;  
}
@media (min-width: 576px) {
    #why_section_txt2 {
        border-right: unset;  
        border-left: 2px solid #cbd3ed;  
    }
}
@media (min-width: 768px) {
    #why_section_txt2 {
        border: unset; 
        margin-left: 91px;
        padding-bottom: 15px;
        padding-left: 18px;
    }
}
@media (min-width: 992px) {
    #why_section_txt2 {
        margin-left: 104px;
    }
}
@media (min-width: 1200px) {
    #why_section_txt2 {
        margin-left: 97px;
        padding-left: 23px;
    }
}
@media (min-width: 1400px) {
    #why_section_txt2 {
        margin-left: 92px;
        padding-left: 28px;
    }
}
#why_section_img2 {
    margin-left: -2px;
}
@media (min-width: 576px) {
    #why_section_img2 {
        margin-left: -1px;
        margin-top: -1px;
    }
}
#why_section_img2_mini {
    float: right;
    margin-top: -40px;
}
/* 3 */
#why_section_block3 {
    flex-direction: row-reverse;
    margin-top: -1px;
}
@media (min-width: 768px) {
    #why_section_block3 {
        justify-content: end;
        align-items: flex-end;
        flex-direction: column;
        margin-top: 40px;
    }
}
@media (min-width: 992px) {
    #why_section_block3 {
        flex-direction: row;
        margin-top: 98px;
    }
}
@media (min-width: 1200px) {
    #why_section_block3 {
        margin-top: 100px;
    }
}
@media (min-width: 1400px) {
    #why_section_block3 {
        margin-top: 98px;
    }
}
#why_section_txt3 {
    border-left: 2px solid #cbd3ed;
}
@media (min-width: 576px) {
    #why_section_txt3 {
        margin-top: 28px;
    } 
}
@media (min-width: 768px) {
   #why_section_txt3 {
        border: unset;
        padding-right: 40px;
        margin-top: 0;
    } 
}
@media (min-width: 1200px) {
    #why_section_txt3 {
        padding-top: 15px;
        align-self: flex-start;
    }
    #why_section_txt3::before {
        top: -5px;
    }
    #why_section_txt3::after {
        top: -1px;
    }
}
@media (min-width: 768px) {
    #why_section_img3 {
        align-self: unset;
    }
}
/* 4 */
@media (min-width: 768px) {
    #why_section_block4 {
        flex-direction: column;
        float: right;
        margin-top: -415px;
        border-left: none;
    }
}
@media (min-width: 992px) {
    #why_section_block4 {
        margin-top: -360px;
    }
}
@media (min-width: 1200px) {
    #why_section_block4 {
        margin-top: -341px;
    } 
}
@media (min-width: 1400px) {
    #why_section_block4 {
        margin-top: -341px;
    }
}
#why_section_txt4 {
    border-right: 2px solid #cbd3ed;  
}
@media (min-width: 576px) {
    #why_section_txt4 {
        border-right: unset;  
        border-left: 2px solid #cbd3ed;  
    }
}
@media (min-width: 768px) {
    #why_section_txt4 {
        border: unset;
        width: 64%;
        margin-left: auto;
        padding-left: 14px;
    }
}
@media (min-width: 992px) {
    #why_section_txt4 {
        width: 78%;
        padding-left: 64px;
    }
}
@media (min-width: 1200px) {
    #why_section_txt4 {
        width: 82.5%;
    }
}
@media (min-width: 1400px) {
    #why_section_txt4 {
        width: 86%;
    }
}
#why_section_img4 {
    margin-top: -35px;
    margin-left: -1px;
} 
@media (min-width: 768px) {
   #why_section_img4 {
        margin-top: -135px;
    } 
}
@media (min-width: 992px) {
    #why_section_img4 {
        margin-top: -54px;
    }
}
#why_section_img4_mini {
    float: right;
    margin-top: -40px;
}
/* 5 */
#why_section_block5 {
    flex-direction: row-reverse;
    margin-top: -2px;
}
@media (min-width: 768px) {
    #why_section_block5 {
    flex-direction: column-reverse;
    justify-content: end;
    align-items: flex-start;
    width: 69%;
    float: left;
    margin-top: -92px;
}}

@media (min-width: 992px) {
    #why_section_block5 {
        align-items: flex-end;
        margin-top: 0;
    }
}
@media (min-width: 1200px) {
    #why_section_block5 {
        flex-direction: row;
        margin-top: -3px;
        width: 66%;
    } 
}
@media (min-width: 1400px) {
    #why_section_block5 {
        margin-top: -3px;
        width: 64%;
    } 
}
#why_section_txt5 {
    border-left: 2px solid #cbd3ed;
}
#why_section_txt5::before {
    top: -4px;
}
#why_section_txt5::after {
    top: -1px;
    width: 52.5%;
}
@media (min-width: 768px) {
    #why_section_txt5 {
        border: unset;
        padding-top: 16px;
    }
}
@media (min-width: 992px) {
    #why_section_txt5 {
        margin-top: -104px;
        margin-right: 176px;
        padding-right: 31px;
    }
    #why_section_txt5::before {
        top: -6px;
        left: 31.5%;
    }
    #why_section_txt5::after {
        left: 31.5%;
        width: -webkit-fill-available;
    }
}
@media (min-width: 1200px) {
    #why_section_txt5 {
        margin: 0;
        padding-right: 15px;
    }
    #why_section_txt5::before {
        top: unset;
    }
    #why_section_txt5::after {
        top: unset;
        width: -webkit-fill-available;
    }
}
@media (min-width: 768px) {
    #why_section_img5 {
        align-self: flex-end;
        margin-right: -23px;
    }
}
@media (min-width: 992px) {
    #why_section_img5 {
        margin-right: -2px;
    }
}
@media (min-width: 1200px) {
    #why_section_img5 {
        margin-right: -1px;
    }
}
@media (min-width: 1400px) {
    #why_section_img5 {
        margin-right: 3px;
    }
}
#why_section_img5_mini {
    margin-top: -44px;
}

/* 6 */
@media (min-width: 768px) {
    #why_section_block6 {
    flex-direction: column;
    float: right;
    width: 31%;
    margin-top: -117px;
    }
}
@media (min-width: 992px) {
    #why_section_block6 {
        margin-top: -74px;
    }
}
@media (min-width: 1200px) {
    #why_section_block6 {
        width: 34%;
    } 
}
@media (min-width: 1400px) {
    #why_section_block6 {
        width: 36%;
        margin-top: -74px;
    } 
}
#why_section_txt6 {
    align-self: flex-start;
    padding-left: 26px;
    border-right: 2px solid #cbd3ed;
}
#why_section_txt6::before {
    right: 0;
}
#why_section_txt6::after {
    right: 0;
    width: 42%;
}
@media (min-width: 576px) {
    #why_section_txt6 {
        padding-bottom: 0;
        border-right: unset;
        border-left: 2px solid #cbd3ed;
    }
}
@media (min-width: 768px) {
    #why_section_txt6 {
        align-self: flex-end;
        border: unset;
        padding-bottom: 15px;
    }
}
@media (min-width: 992px) {
    #why_section_txt6::after {
        width: 58%;
    }
}
@media (min-width: 1200px) {
    #why_section_txt6 {
        width: 85%;
    }
    #why_section_txt6::after {
        width: 80%;
    }
}
@media (min-width: 1400px) {
    #why_section_txt6 {
        width: 80%;
    }
    #why_section_txt6::after {
        width: 93.5%;
    }
}
#why_section_img6 {
    align-self: flex-start;
    margin-left: -3px;
}
@media (min-width: 768px) {
    #why_section_img6 {
        margin-left: 18px;
    }
}
@media (min-width: 992px) {
    #why_section_img6 {
        margin-left: -2px;
    }
}
@media (min-width: 1400px) {
    #why_section_img6 {
        margin-left: -7px
    }
}
#why_section_img6_mini {
    float: right;
    margin-top: -40px;
}
/* 7 */
@media (min-width: 576px) {
    #why_section_block7 {
        margin-top: -77px;
        border-bottom: 2px solid #cbd3ed;
        position: relative;
    }  
    #why_section_block7::before {
        position: absolute;
        border-left: 2px solid #cbd3ed;
        content: "";
        bottom: 0;
        height: 115px;
    } 
}
@media (min-width: 768px) {
    #why_section_block7 {
        flex-direction: column;
        align-items: end;
        width: auto;
        margin-left: 76px;
        margin-top: -158px;
        border-bottom: unset;
        position: unset;
    }
    #why_section_block7::before {
        border: unset;
        height: 0;
    }
}
@media (min-width: 992px) {
    #why_section_block7 {
        margin-left: 247px;
        margin-top: -163px;
    }
}
@media (min-width: 1200px) {
    #why_section_block7 {
        margin-left: 428px;
        margin-top: -59px;
    }
}
@media (min-width: 1400px) {
    #why_section_block7 {
        margin-left: 516px;

    }
}
#why_section_txt7 {
    padding-bottom: 15px;
    border-left: 2px solid #cbd3ed;
    border-bottom: 2px solid #cbd3ed;
}
#why_section_txt7::before {
    right: 0;
    bottom: -6px;
    height: 10px;
    width: 10px;
}
@media (min-width: 576px) {
    #why_section_txt7 {
        margin-top: 76px;
        margin-left: -45px;
        border-left: unset;
        border-bottom: unset;
    }
}
@media (min-width: 768px) {
    #why_section_txt7 {
        width: 622px;
        margin-top: 0;
        margin-left: 0;
    }
    #why_section_txt7::before {
        top: -4px;
        right: 0;
    }
    #why_section_txt7::after {
        top: -1px;
        right: 0;
        width: 32%;
    }
}
@media (min-width: 992px) {
    #why_section_txt7::before {
        top: -6px;
    }
    #why_section_txt7::after {
        width: 36%;
    }
}
@media (min-width: 768px) {
    #why_section_img7 {
        align-self: flex-end;
        margin-right: 43px;
}}
/* hero_section */
#hero_section {
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(82,113,255);
    background: linear-gradient(90deg, #5271ff 10%, #ffffff 100%);
}
/* what_section */
#what_section {
    display: none;
}
/* consult_section */
#consultation_form .helptext {
    text-align: end;
    font-size: smaller;
}
#consultation_form .form-control:focus + .helptext {
    color: grey;
}
#consultation_form p {
    margin-bottom: 0.5rem;
}
/* main */