{% load static %}
{% load draw_personal_chat %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'layouts/img/logo_title.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'layouts/css/expertpage_layout.css' %}?upd=1">
    <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
    {% block stylesheet %}{% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>
  <param data-is-expert="true" data-client-id="{{ client.id }}" id="page-param">

  <header class="border-bottom">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between py-2">

        <div class="d-flex flex-nowrap align-items-center overflow-hidden me-3">
          <!-- логотип -->
          <a href="/" class="navbar-brand me-3">
            <img src="{% static 'layouts/img/logo_mini.svg' %}" type="image/svg+xml" width="90" id="logo_mini">
          </a>
          <!-- имя клиента -->
          <a href="{% url 'expert_overview_page' %}" class="d-none d-sm-block clientname text-center">{{ client.username }}</a>
        </div>

        <!-- навигация выпадающим меню -->
        <div class="d-flex d-md-none flex-column align-items-center" id="nav_dropdown">
          <a href="{% url 'expert_overview_page' %}" class="d-sm-none clientname text-center">{{ client.username|truncatechars:13 }}</a>
          <div class="dropdown mt-1">
            <a href="#" class="d-flex align-items-center col-lg-4 me-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="me-2" id="open_label_drop"></span>
            </a>
            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink">
              <li>
                <a href="{% url 'overviewpage' %}?client_id={{ client.id }}" class="nav_link" id="navlink_main_drop">
                  главная
                </a>
              </li>
              <li>
                <a href="{% url 'measurementspage' %}?client_id={{ client.id }}" class="nav_link" id="navlink_measurements_drop">
                  измерения
                </a>
              </li>
              <li>
                <a href="{% url 'mealjournal_page' %}?client_id={{ client.id }}" class="nav_link" id="navlink_meal_drop">
                  питание
                </a>
              </li>
              <li>
                <a href="{% url 'trainingpage' %}?client_id={{ client.id }}" class="nav_link" id="navlink_workout_drop">
                  тренировки
                </a>
              </li>
            </ul>
          </div>
        </div>

        <!-- навигация строкой -->
        <ul class="d-none d-md-flex nav flex-nowrap mt-1" id="nav_string">
          <li>
            <a href="{% url 'overviewpage' %}?client_id={{ client.id }}" class="nav_link mx-2 mx-lg-3 mx-xl-4" id="navlink_main">
              главная
            </a>
          </li>
          <li>
            <a href="{% url 'measurementspage' %}?client_id={{ client.id }}" class="nav_link mx-2 mx-lg-3 mx-xl-4" id="navlink_measurements">
              измерения
            </a>
          </li>
          <li>
            <a href="{% url 'mealjournal_page' %}?client_id={{ client.id }}" class="nav_link mx-2 mx-lg-3 mx-xl-4" id="navlink_meal">
              питание
            </a>
          </li>
          <li>
            <a href="{% url 'trainingpage' %}?client_id={{ client.id }}" class="nav_link mx-2 mx-lg-3 mx-xl-4" id="navlink_workout">
              тренировки
            </a>
          </li>
        </ul>

        <!-- кнопка выхода -->
        <form method="POST" action="{% url 'logoutuser' %}" class="ms-3">
          {% csrf_token %}
          <input type="image" alt="Submit" src="{% static 'layouts/img/exit.svg' %}" id="exit_pic" class="align-middle" width="30" title="Выйти">
        </form>
      </div>
    </div>       
  </header>

  <main>
    <div class="container main_container">
      {% block content %}
      {% endblock %}
    </div>

    <!-- комментарий для клиента -->
    <div class="d-flex flex-column rounded border-blueshadow px-2 px-sm-3 py-2 hidden w-95 w-sm-auto" id="client_comment_form_container">
      <form method="post" id="client_comment_form" action="{% url 'save_commentary_form' %}" data-action-get="{% url 'get_commentary_form' %}" class="w-100">
        {% csrf_token %}
        <input type="hidden" name="client" id="id_client" value="{{ client.id }}">

        <div class="d-flex justify-content-between align-items-center pb-3 pt-2">
          <div class="d-flex justify-content-start w-10 w-sm-30">
            <div class="moving_part d-none d-sm-block w-fill cursor-move">&nbsp;</div>
          </div>
          
          <div class="d-flex justify-content-center">
            <img src="{% static 'layouts/img/arrow_prev_royalblue.svg' %}" class="mx-2 arrow_btn" onclick="prevDate()" width="20">
            {{ client_remark.comment_form.date }}
            <img src="{% static 'layouts/img/arrow_next_royalblue.svg' %}" class="mx-2 arrow_btn" onclick="nextDate()" width="20">
          </div>

          <div class="d-flex justify-content-end w-10 w-sm-30" style="height: 36px;">
            <div class="moving_part d-none d-sm-block w-fill cursor-move">&nbsp;</div>
            <button class="btn-close" type="button" aria-label="Close" onclick="closeCommentary()"></button>
          </div>
        </div>
        
        <div class="d-flex justify-content-center flex-wrap mx-auto categories">
          <span class="comment_section closed mx-sm-3 px-1 px-2" id="id_general_label">
            общее
          </span> 
          <span class="comment_section closed mx-sm-3 px-1 px-2" id="id_measurements_label">
            измерения
          </span>
          <span class="comment_section closed mx-sm-3 px-1 px-2" id="id_nutrition_label">
            питание
          </span>
          <span class="comment_section closed mx-sm-3 px-1 px-2" id="id_workout_label">
            тренировки
          </span>
        </div>
        {{ client_remark.comment_form.general }}
        {{ client_remark.comment_form.measurements }}
        {{ client_remark.comment_form.nutrition }}
        {{ client_remark.comment_form.workout }}

        <div class="d-flex">
          <div class="text-center text-transparent transition_common moving_part w-fill cursor-move mx-2" id="commentary_status_msg"></div>
          <button class="btn btn-primary float-end ok_btn" type="submit" title="Сохранить запись за день">&#10004;</button>
        </div>
      </form>
    </div>

    <!-- заметка о клиенте -->
    <div class="d-flex flex-column rounded border-blueshadow px-2 px-sm-3 py-2 hidden w-95 w-sm-auto" id="clientnote_container">
      <form method="post" id="clientnote_form" action="{% url 'save_clientnote_form' %}" data-action-get="{% url 'get_clientnote_form' %}" class="w-100">
        {% csrf_token %}
        <input type="hidden" name="client" id="id_client" value="{{ client.id }}">

        <div class="d-flex justify-content-between align-items-center pb-3 pt-2">
          <div class="d-flex justify-content-start w-10 w-sm-30">
            <button type="button" class="btn btn-primary text-nowrap px-2 px-sm-3" id="full_clientnote_btn" title="Сводная заметка" onclick="openFullClientNote()">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-bounding-box me-sm-1" viewBox="0 0 16 16">
                <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"></path>
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"></path>
              </svg>
              <span class="d-none d-sm-inline">Клиент</span>
            </button>
            <div class="moving_part cursor-move d-none d-sm-block w-fill">&nbsp;</div>
          </div>

          <div class="d-flex justify-content-center">
            <img src="{% static 'layouts/img/arrow_prev_royalblue.svg' %}" class="me-2 arrow_btn" onclick="prevMonth()" width="20">
            {{ client_remark.monthnote_form.date }}
            <img src="{% static 'layouts/img/arrow_next_royalblue.svg' %}" class="ms-2 arrow_btn" onclick="nextMonth()" width="20">
          </div>

          <div class="d-flex justify-content-end w-10 w-sm-30" style="height: 36px;">
            <div class="moving_part cursor-move d-none d-sm-block w-fill">&nbsp;</div>
            <button class="btn-close" type="button" aria-label="Close" onclick="closeClientNote()"></button>
          </div>
        </div>

        <div class="d-flex justify-content-center flex-wrap mx-auto categories">
          <span class="note_section closed mx-sm-3 px-1 px-2" id="id_general_note_label">
            общее
          </span> 
          <span class="note_section closed mx-sm-3 px-1 px-2" id="id_measurements_note_label">
            измерения
          </span>
          <span class="note_section closed mx-sm-3 px-1 px-2" id="id_nutrition_note_label">
            питание
          </span>
          <span class="note_section closed mx-sm-3 px-1 px-2" id="id_workout_note_label">
            тренировки
          </span>
        </div>
        {{ client_remark.monthnote_form.general }}
        {{ client_remark.monthnote_form.measurements }}
        {{ client_remark.monthnote_form.nutrition }}
        {{ client_remark.monthnote_form.workout }}

        <div class="d-flex">
          <div class="text-center text-transparent transition_common moving_part w-fill cursor-move mx-2" id="clientnote_status_msg"></div>
          <button class="btn btn-primary float-end ok_btn" type="submit" title="Сохранить заметку">&#10004;</button>
        </div>
      </form>
    </div>
    
    <!-- заметка о клиенте совокупная -->
    <div class="d-flex flex-column rounded border-blueshadow hidden px-2 px-sm-3 py-2 w-95 w-sm-auto" id="full_clientnote_container">
      <form method="post" id="full_clientnote_form" action="{% url 'save_full_clientnote_form' %}" class="w-100">
        {% csrf_token %}
        <input type="hidden" name="client" id="id_client" value="{{ client.id }}">
        <div class="d-flex justify-content-between align-items-center pb-3 pt-2">
          <span class="clientname text-white">{{ client.username|truncatechars:15 }}</span>
          <div class="moving_part cursor-move d-none d-sm-block w-fill">&nbsp;</div>
          <button class="btn-close" type="button" aria-label="Close" onclick="closeFullClientNote()"></button>
        </div>
        {{ client_remark.fullnote_form.note }}
        <div class="d-flex justify-content-end">
          <div class="text-center text-transparent transition_common moving_part w-fill cursor-move mx-2" id="full_clientnote_status_msg"></div>
          <button class="btn btn-primary float-end ok_btn" type="submit" title="Сохранить заметку">&#10004;</button>
        </div>
      </form>
    </div>

    <!-- уведомления -->
    <div class="alert success-alert" role="alert" id="success-alert">
      <div class="alert-content">
        <img class="icon-check" src="{% static 'layouts/img/check-circle.svg' %}">
        <div class="alert-message">
          <b>Успех</b>
          <span class="text text-secondary"></span>
        </div>
        <button type="button" class="btn-close"></button>
      </div>
    </div>

    <div class="alert danger-alert" role="alert" id="danger-alert">
      <div class="alert-content">
        <img class="icon-check" src="{% static 'layouts/img/exclamation-circle.svg' %}">
        <div class="alert-message">
          <b>Ошибка</b>
          <span class="text text-secondary"></span>
        </div>
        <button type="button" class="btn-close"></button>
      </div>
    </div>

    {% draw_personal_chat client for_expert %}

  </main>

  <footer>
    <div class="container px-0">

      <button type="button" id="chat-btn" class="btn btn-light shadow">
        Чат
        <span id="unread-messages" class="position-absolute hidden top-0 start-100 translate-middle badge rounded-pill bg-primary"> 
        </span>
      </button>
      
      <div class="d-flex flex-column flex-lg-row justify-content-between align-items-start py-3">

        <button type="button" class="btn btn-primary" onclick="openClientNote()">
          <img src="{% static 'layouts/img/note_ico.svg' %}" width="38" title="Заметка о клиенте">
          <span class="ms-2">Заметка о клиенте</span>
        </button>

        <button type="button" class="btn btn-primary" onclick="openCommentary()">
          <img src="{% static 'layouts/img/comment_ico.svg' %}" width="38" title="Заметка для клиента">
          <span class="ms-2">Комментарий для клиента</span>
        </button>
        
        <div class="d-flex flex-column flex-sm-row align-items-start align-items-sm-center">
          <button type="button" class="btn btn-primary" onclick="showContacts()">
            <img src="{% static 'layouts/img/contacts_ico.svg' %}" width="38" title="Контакты, оставленные клиентом">
            <span class="ms-2">Контакты клиента</pspan>
          </button>

          <div class="d-none" id="client_contacts">
            {% if client_contacts %}
              <div class="d-flex flex-row align-items-center">
                
                {% if client_contacts.telegram %}
                  {% if client_contacts.preferred == 'TG' %}
                    <div class="p-2 order-1" id="preferred_contact_ico">
                  {% else %}
                    <div class="p-2 order-2">
                  {% endif %}
                      <a href="{{ client_contacts.telegram }}" target="_blank">
                        <img src="{% static 'layouts/img/telegram.svg' %}" class="contact_ico" alt="telegram" title="telegram">
                      </a>
                    </div>
                {% endif %}

                {% if client_contacts.whatsapp %}
                  {% if client_contacts.preferred == 'WA' %}
                    <div class="p-2 order-1" id="preferred_contact_ico">
                  {% else %}
                    <div class="p-2 order-2">
                  {% endif %}
                      <a href="{{ client_contacts.whatsapp }}" target="_blank">
                        <img src="{% static 'layouts/img/whatsapp.svg' %}" class="contact_ico" alt="whatsapp" title="whatsapp">
                      </a>
                    </div>
                {% endif %}

                {% if client_contacts.discord %}
                  {% if client_contacts.preferred == 'DC' %}
                    <div class="p-2 order-1" id="preferred_contact_ico">
                  {% else %}
                    <div class="p-2 order-2">
                  {% endif %}
                      <a href="{{ client_contacts.discord }}" target="_blank">
                        <img src="{% static 'layouts/img/discord.svg' %}" class="contact_ico" alt="discord" title="discord">
                      </a>
                    </div>
                {% endif %}

                {% if client_contacts.skype %}
                  {% if client_contacts.preferred == 'SK' %}
                    <div class="p-2 order-1" id="preferred_contact_ico">
                  {% else %}
                    <div class="p-2 order-2">
                  {% endif %}
                      <a href="{{ client_contacts.skype }}" target="_blank">
                        <img src="{% static 'layouts/img/skype.svg' %}" class="contact_ico" alt="skype" title="skype">
                      </a>
                    </div>
                {% endif %}

                {% if client_contacts.vkontakte %}
                  {% if client_contacts.preferred == 'VK' %}
                    <div class="p-2 order-1" id="preferred_contact_ico">
                  {% else %}
                    <div class="p-2 order-2">
                  {% endif %}
                      <a href="{{ client_contacts.vkontakte }}" target="_blank">
                        <img src="{% static 'layouts/img/vk.svg' %}" class="contact_ico" alt="vkontakte" title="vkontakte">
                      </a>
                    </div>
                {% endif %}

                {% if client_contacts.facebook %}
                  {% if client_contacts.preferred == 'FB' %}
                    <div class="p-2 order-1" id="preferred_contact_ico">
                  {% else %}
                    <div class="p-2 order-2">
                  {% endif %}
                      <a href="{{ client_contacts.facebook }}" target="_blank">
                        <img src="{% static 'layouts/img/facebook.svg' %}" class="contact_ico" alt="facebook" title="facebook">
                        </a>
                    </div>
                {% endif %}      
              </div>
            {% else %}
              <span class="text-light-grey ms-2">не указаны</span>
            {% endif %}     
          </div>
        </div>

      </div>
    </div>
  </footer>
 
</body>
        
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'layouts/js/drag_container.js' %}"></script>
<script src="{% static 'layouts/js/expertpage_layout.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="{% static 'chat/js/chat.js' %}"></script>
{% block script %}{% endblock %}

</html>