/* общее */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #F3F5F9; 
}
.hidden {
    display: none !important;
}
.form-control::placeholder {
    color: #b9b9b9;
}
.link {
    color: #657ff7;
    text-decoration: none;
    font-weight: bolder;
    border: none;
    background-color: unset;
}
.link:hover {
    color: var(--bs-link-hover-color);
    cursor: pointer;
}
.moving_part:hover {
    cursor: move;
}

/* стиль обычных окошек */
.block-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
    -webkit-box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
}
.block-header {
    display: flex;
    justify-content: center;
    background: #657ff7;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px 10px;
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
    -webkit-box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
}
.block-header span {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
}
.block-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px 10px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
@media (min-width: 992px) {
    .block-content {
        padding: 15px;
    }
    .block-header {
        padding: 7px 15px;
    }
}

/* стиль перетаксиваемых окошек */
.block-container.moving {
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
    -webkit-box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
}
.block-container.moving .block-header {
    justify-content: space-between;
    background-color: #d8e0ff;
    color: black;
}

/* стиль кнопок */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #657ff7;
    --bs-btn-border-color: #657ff7;
    --bs-btn-hover-color: #f6f6f6;
    --bs-btn-hover-bg: #3f54b2;
    --bs-btn-hover-border-color: #3f54b2;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #657ff7;
    --bs-btn-active-border-color: #657ff7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #657ff7;
    --bs-btn-disabled-border-color: #657ff7;
}
.btn-outline-primary {
    --bs-btn-color: #657ff7;
    --bs-btn-border-color: #657ff7;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #657ff7;
    --bs-btn-hover-border-color: #657ff7;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #657ff7;
    --bs-btn-active-border-color: #657ff7;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #657ff7;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #657ff7;
    --bs-gradient: none;
}
.btn-lilac {
    --bs-btn-color: black;
    --bs-btn-bg: #d8e0ff;
    --bs-btn-border-color: #d8e0ff;
    --bs-btn-hover-bg: #9faadd;
    --bs-btn-hover-border-color: #9faadd;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #d8e0ff;
    --bs-btn-active-border-color: #d8e0ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #d8e0ff;
    --bs-btn-disabled-border-color: #d8e0ff;
}
.btn-danger {
    --bs-btn-bg: #e36183;
    --bs-btn-border-color: #e36183;
    --bs-btn-hover-bg: #bb2d55;
    --bs-btn-hover-border-color: #bb2d55;
    --bs-btn-active-bg: #bb2d55;
    --bs-btn-active-border-color: #bb2d55;
    --bs-btn-disabled-border-color: #e36183;
}
input[type="radio"] {
    border-radius: 50%;
    border: 1px solid #ced4da;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="radio"]:checked {
    background-color: white;
    border: solid 6px #657ff7;
}
input[type="radio"]:hover {
    cursor: pointer;
}
input[type="radio"]:focus {
    border-color: #657ff7;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #0d6efd40;
}

/* скролл */
::-webkit-scrollbar {
    max-width: 9px;
    max-height: 9px;
    background-color: #f8f8f8;
}
::-webkit-scrollbar-thumb {
    background-color: #bdcbf3;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #92a7e0;
}
::-webkit-scrollbar-track {
    background-color: #eeeef570;
}

/* затемнение */
.backdrop {
    opacity: 0.4;
    background-color: #61696e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.backdrop.lvl1 {
    z-index: 100;
}
.backdrop.lvl2 {
    z-index: 102;
}

/* уведомления */
.alert {
    position: fixed;
    top: 77px;
    right: 14px;
    border-radius: 12px;
    background: #fff;
    padding: 15px 10px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    z-index: 1100;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
    -webkit-box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 19%), 0 6px 6px rgb(0 0 0 / 23%);
}
.alert.active {
    transform: translateX(0%);
}
.alert-content {
    display: flex;
    align-items: center;
}
.alert .icon-check {
    filter: invert(51%) sepia(52%) saturate(6249%) hue-rotate(216deg) brightness(100%) contrast(103%);
    width: 40px;
    height: 40px;
}
.alert-message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.alert .btn-close {
    cursor: pointer;
    align-self: start;
    width: 5px;
    height: 5px;
    opacity: 0.4;
}
.alert .btn-close:hover {
    opacity: 1;
}

/* меню доп.функций */
.extra-menu {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: white;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    height: 40px;
    max-width: 21rem;
    width: 100%;
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
    -moz-box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
    -webkit-box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 1px 6px rgb(0 0 0 / 23%);
}
.extra-menu-date {
    background-color: #657ff7;
    color: white;
    font-size: 18px;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
}
.extra-menu-date span {
    font-size: 20px;
    line-height: 40px;
}
.extra-menu-btns {
    display: flex;
    padding: 0.5rem 1rem;
    gap: 1.5rem;
}
.extra-menu-item {
    display: flex;
    align-items: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-decoration: none;
    color: var(--bs-body-color);
}
.extra-menu-item:hover {
    color: #657ff7;
    fill: #657ff7;
    cursor: pointer;
}
.extra-menu-item.active {
    color: #657ff7;
    fill: #657ff7;
    cursor: pointer;
}
.extra-menu-item span {
    display: none;
    white-space: nowrap;
}
.extra-menu .dropdown-item {
    font-size: 15px;
    padding: 0rem 1rem;
}
.extra-menu .dropdown-item:hover {
    cursor: pointer;
}
.extra-menu .dropdown-toggle::after {
    display: none !important;
}
.not-implemented {
    color: darkgrey !important;
    fill: darkgrey !important;
}
.not-implemented:hover {
    color: darkgrey !important;
    fill: darkgrey !important;
    cursor: default !important;
}

@media (min-width: 576px) {
    .extra-menu {
        max-width: 25rem;
    }
}
@media (min-width: 768px) {
    .extra-menu {
        max-width: 50rem;
    }
    .extra-menu-item span {
        margin-left: 0.5rem;
        display: inline;
    }
}

/* контент */
.main_container {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
@media (min-width: 576px) {
    .main_container {
        min-height: 79vh;
    }
}
@media (min-width: 768px) {
    .main_container {
        min-height: 80vh;
    }
}
@media (min-width: 992px) {
    .main_container {
        min-height: 91vh;
    }
}

/* комменты и заметки */
#client_comment_form_container,
#clientnote_container,
#full_clientnote_container {
    max-width: 600px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
#client_comment_form_container {
    background-color: #ffffff;
}
#clientnote_container {
    background-color: #e8ebfa;
}
#full_clientnote_container {
    background-color: #657ff7;
    max-width: 500px !important;
}
.comment_section, .note_section {
    color: #657ff7;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    z-index: 2;
    background-color: white;
    position: relative;
    display: inline-flex;
    order: 4;
}
.comment_section.closed, .note_section.closed {
    background-color: unset;
    color: #545454;
    z-index: 0;
    border: none;
    order: 1;
}
.comment_section.closed:hover,
.note_section.closed:hover {
    cursor: pointer;
    color: #657ff7;
}
#id_date_comment,
#id_date_note {
    width: 144px;
}
.w-95 {
    width: 95% !important;
}
#client_comment_form textarea, #clientnote_container textarea {
    border: 1px solid #ced4da;
    z-index: 1;
    position: relative;
    padding-top: 15px;
}
#client_comment_form textarea:focus,
#clientnote_container textarea:focus {
    box-shadow: none;
}
.categories {
    max-width: 21rem;
    margin-bottom: -9px;
}
#full_clientnote_btn {
    padding-top: 3px;
    height: 34px;
}
.close_btn, .ok_btn {
    min-width: 25px;
    height: 25px;
    --bs-btn-padding-y: unset;
    font-size: 13px;
}
.date_arrow:hover {
    cursor: pointer;
    color: #3f54b2;
}
.cursor-move:hover {
    cursor: move;
}

@media (min-width: 576px) {
    .comment_section, 
    .note_section {
       order: 1; 
    }
    .comment_section.closed, 
    .note_section.closed {
        background-color: white;
        border: 1px solid #ced4da;
    }
    #id_date_comment,
    #id_date_note {
        width: 175px;
    }
   .w-sm-30 {
        width: 30%;
    }
    .categories {
        max-width: unset;
    }
}

/* header */
header {
    background-color: #ffffff;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav_link_container {
    width: 140px;
    height: 50px;
}
.nav_link {
    color: #545454;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    border: none;
    background: none;
}
.nav_link:hover {
    color: #657ff7;
}
header .clientname {
    max-width: -webkit-fill-available;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#exit_pic {
    filter: grayscale(1) brightness(0.9);
}
#exit_pic:hover {
    filter: unset;
}
.border-blueshadow {
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
#open_label_drop {
    color: #657ff7;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
}
#logo_mini {
    pointer-events: none;
}
#logout_btn_pic {
    padding-top: 5px;
    display: none;
}
#logout_btn_pic:hover img {
    filter: brightness(1000%) contrast(100%);
}
#link_clients {
    margin-bottom: 3px;
}
#new_consult_signup_amount {
    background-color: #657ff7;
    color: white;
    border: 1px solid #657ff7;
    padding: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    height: 26px;
    font-size: 15px;
}
@media (min-width: 450px) {
    #logout_btn {
        display: none;
    }
    #logout_btn_pic {
        display: inline-block;
    }
}

@media (min-width: 433px) {
    #link_clients {
        margin-bottom: 0;
    }
}
@media (min-width: 600px) {
    #logout_btn {
        display: inline-block;
    }
    #logout_btn_pic {
        display: none;
    }
}

/* footer */
footer {
    background-color: #657ff7;
    border-top-color: #b9b9b9;
    border-top-style: solid;
    border-top-width: 3px;
    margin-top: auto;
}
.mail_ref {
    color: #b9b9b9;
    text-decoration: none;
}
.mail_ref:hover {
    color: black;
}

.contact_ico {
    height: 25px;
    filter: invert(1);
}
.contact_ico:hover {
    filter: brightness();
}

#preferred_contact_ico {
    filter: drop-shadow(0px 0px 8px cyan);
}

#client_contacts {
    margin-left: 3.5rem;
}
@media (min-width: 576px) {
    #client_contacts {
        margin-left: 0;
    }
}



/* TODO разобрать */
.w-fit {
    width: fit-content;
}
.comment_section:hover {
    cursor: pointer;
}
.form-check-input {
    min-width: 20px;
    min-height: 20px;
    margin-top: 0px;
}
.form-check-input:checked {
    background-color: #657ff7;
    border-color: #657ff7;
}
.text-royalblue {
    color: #657ff7 !important;
}
.bg-royalblue {
    background-color: #657ff7;
}
.text-light-grey {
    color: #b9b9b9;
}
.text-error {
    color: #e36183 !important;
}
.text-success {
    color: #00c0f0 !important;
}
#today_measure_block {
    min-width: 290px;
}
.border-outset {
    border: outset;
}
.border-blueshadow {
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
.arrow_btn:hover {
    filter: brightness(0.7);
    cursor: pointer;
}
.w-fill {
    width: -webkit-fill-available;
}
.fw-500 {
    font-weight: 500;
}
.hover_brigh:hover {
    filter: brightness(0.7);
}
.w-10 {
    width: 10%;
}
.pointer {
    cursor: pointer;
}
table {
    cursor: default;
}
.width_unset {
    width: auto !important;
}
.borderless{
    border: 1px solid white !important;
    background-color: white !important;
}
.my-hover:hover {
    outline-color: #8f8f8f !important;
    outline-style: auto !important;
    outline-width: 1px !important;
}
.sm_square_btn {
    height: 22px;
    width: 22px;
    line-height: 5px;
    padding: 2px;
}
.clientname {
    color: #657ff7;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 600;
    line-height: 22px;
    font-size: large;
}
@media (min-width: 576px) {
    .clientname {
        color: #657ff7;
        text-decoration: none;
        vertical-align: middle;
        font-size: x-large;
        font-weight: 600;
        line-height: initial;
    }
}
caption {
    color: black;
}
