#select_date_section {
    max-width: 310px;
}
@media (min-width: 992px) {
    #top_section .block-container {
        width: 50%;
    }
}
.block-container.empty {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .block-container.empty {
        max-width: 696px;
    }
}