{% extends 'users/layout.html' %}

{% block title %}
  <title>Сброс пароля</title>
{% endblock %}

{% block content %}
<section id="password-reset-section" class="my-3">
	<div class="container">
		<div class="card shadow-sm mx-auto" style="max-width: 30rem;">
			<div class="card-header bg-primary text-light text-center">
				<h5 class="mb-0">Сброс пароля</h5>
			</div>
			<div class="card-body">
				<form method="post" class="d-flex flex-column mx-auto mt-3 gap-3">
					{% csrf_token %}
					{% for field in form %}
						<div>
							{{ field.label_tag }}
							<br>
							{{ field }}
							{% for error in field.errors %}
								<small class="text-danger">• {{ error|striptags }}</small><br>
							{% endfor %}
						</div>
					{% endfor %}
					<div class="d-flex justify-content-between mt-3">
						<button onclick="history.back();" class="btn btn-outline-primary">Назад</button>
						<input type="submit" value="Отправить" class="btn btn-primary">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
{% endblock %}
