{% extends layout %}

{% block title %}
	<title>Смена пароля: успех</title>
{% endblock %}

{% block content %}
<section id="password-change-section" class="my-4">
	<div class="container">
		<div class="card shadow-sm mx-auto" style="max-width: 30rem;">
			<div class="card-header bg-primary text-light text-center">
				<h5 class="mb-0">Смена пароля</h5>
			</div>
			<div class="card-body">
				<p class="text-center my-3">
                    Ваш пароль успешно изменен.
				</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}