{% extends 'expertpage/layout.html' %}
{% load static %}

{% block title %}Заявки на консультацию{% endblock %}

{% block content %}

<div class="container pt-5 mt-5">

    {% if consult_signup_entries.count == 0 %}
        <p class="text-center bg-white rounded-pill px-2 mt-3">Заявки на бесплатную консультацию отсутствуют</p>
        <img class="" id="cat_reading_requests" src="{% static 'expertpage/img/cat_reading_requests.svg' %}">
    {% else %}

        <div class="d-flex flex-column flex-md-row">
            <!-- список заявок слева -->
            <div class="d-flex flex-column align-middle w-100 w-md-50 pe-md-4 pe-0 mb-4" id="consult_signup_list">
                {% for consult_signup_entry in consult_signup_entries %}
                    {% if consult_signup_entry.is_read %}
                        <div class="d-flex my-hover-gray justify-content-start align-middle text-wrap bg-white border pointer p-2" 
                            id="signup_{{ consult_signup_entry.id }}" name="signup_row" onclick="openForm(event)">
                    {% else %}  
                        <div class="d-flex my-hover-gray justify-content-start align-middle text-wrap bg-white border pointer p-2 unread" 
                            id="signup_{{ consult_signup_entry.id }}" name="signup_row" onclick="openForm(event)">
                    {% endif %} 
                            <span class="me-2 text-royalblue" name="arrow">&#9658;</span>
                            {{ consult_signup_entry }}
                        </div>
                {% endfor %}
                <img class="" id="cat_reading_requests" src="{% static 'expertpage/img/cat_reading_requests.svg' %}">
            </div>

            <!-- список форм справа -->
            <div class="d-flex flex-column w-100 w-md-50">
                {% for entry, form in consult_signups_zip %}
                    <div class="hidden_element border-blueshadow bg-white p-2 transition_common" id="signup_container_{{ entry.id }}" name="signup_container">
                        <form method="POST" action="{% url 'consult_requests_page' %}" id="signup_form_{{ entry.id }}" name="signup_form">
                            <button class="btn btn-outline-primary border-white float-end close_btn" type="button" onclick="closeForm()">&#10006;</button>
                            {% csrf_token %}
                            <br>
                            <input type="hidden" name="id" value="{{ entry.id }}">
                            <input type="hidden" name="purpose" value="save">
                            {{ form.as_p }}
                            <p class="transition_common text-center text-transparent mb-2" name="result_msg" id="result_msg_{{ entry.id }}">&nbsp;</p>
                            <button type="submit" class="btn btn-primary float-end">сохранить</button>
                        </form>
                        <form method="POST" action="{% url 'consult_requests_page' %}" id="delete_signup_form_{{ entry.id }}" name="delete_signup_form">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{ entry.id }}">
                            <input type="hidden" name="purpose" value="delete">
                            <button type="submit" class="btn btn-danger">удалить</button>
                        </form>
                    </div>
                {% endfor %}
            </div>     
        </div>
    {% endif %}

</div>

<br><br>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'expertpage/js/consult_requests.js' %}"></script>
{% endblock %}
