{% extends 'personalpage/layout.html' %}
{% load static %}

{% block title %}Контроль измерений{% endblock %}

{% block content %}

<div class="container container_addmeasure">
    <h1 class="text-center">Внесение физических показателей</h1><br>
    
    <!-- недельный календарик -->
    <div id="week_calendar">
        {% for selected_date in week_calendar %}
        <div class="date_selection" value="{{ selected_date }}">{{ selected_date|date:'D j'|upper }}</div>
        {% endfor %}
    </div>

    <div class="addmeasure_borderform">

        {% if error %}<h5 class="text-danger text-center">{{ error }}</h3><br>{% endif %}
        
        <!-- форма для редактирования записи -->
        {% for measure_form in week_measureforms %}
        <form method="post" class="hidden_element addmeasure_form" id="{{ measure_form.date.value }}">
            {% csrf_token %}
            <div class="form-group row">
                <label class="col-sm-4 col-form-label date_field">Дата:</label>
                <div class="col-sm-8 date_label">{{ measure_form.date }}</div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Самочувствие:</label>
                <div class="col-sm-8">{{ measure_form.feel }}</div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Масса:</label>
                <div class="col-sm-8">{{ measure_form.weight }}</div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Жирность:</label>
                <div class="col-sm-8">{{ measure_form.fat }}</div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Пульс в покое:</label>
                <div class="col-sm-8">{{ measure_form.pulse }}</div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Давление:</label>
                <div class="col-sm-4 pressure_upper">{{ measure_form.pressure_upper }}</div>
                <div class="col-sm-4 pressure_lower">{{ measure_form.pressure_lower }}</div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Калории:</label>
                <div class="col-sm-8">{{ measure_form.calories }}</div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Белки:</label>
                <div class="col-sm-8">{{ measure_form.protein }}</div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Жиры:</label>
                <div class="col-sm-8">{{ measure_form.fats }}</div>
            </div><br>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Углеводы:</label>
                <div class="col-sm-8">{{ measure_form.carbohydrates }}</div>
            </div><br>
            <div class="form-group row">
                <p class="col-sm-4"></p>
                {% if fatsecret_status == 'FatSecret подключен' %}
                <p class="col-sm-8 text-info">{{ fatsecret_status }}</p>
                {% else %}
                <p class="col-sm-8 text-danger">{{ fatsecret_status }}</p>
                {% endif %}
            </div>
        

            <label>Жалкие оправдания:</label>
            {{ measure_form.comment }}<br>
            
            <button class="btn btn-primary btn_rigth" type="submit">Сохранить</button>
            <a href="{% url 'personalpage' %}"><button class="btn btn-outline-primary">Вернуться</button></a>
        </form>
        {% endfor %}
    </div>
<br>

    
    <p>* для корректной работы статистик необходимо вносить данные хотя бы раз в неделю</p>
    <p>* данные кбжу можно вносить и редактировать, но они все равно обновятся на данные из FatSecret, если удастся</p>

</div>

<script src="{% static 'personalpage/js/addmeasure.js' %}"></script>

{% endblock %}