{% extends 'personalpage/layout.html' %}
{% load static %}

{% block title %}Контроль измерений{% endblock %}

{% block content %}

<div class="container">
    <h1>Внесение данных о физических показателях</h1><br>

    <!-- недельный календарик -->
    <table class="table table-bordered border-primary" id="week_calendar_table">
        <tr>
            {% for selected_date in week_calendar %}
            <td class="select_date" value="{{ selected_date }}">{{ selected_date|date:'D - j' }}</td>
            {% endfor %}
        </tr>
    </table>
    
    <!-- поправить отображение -->
    {% if fatsecret_error %}<h3 class="error_message">{{ fatsecret_error }}</h3><br>{% endif %}
    {% if error %}<h3 class="error_message">{{ error }}</h3><br>{% endif %}
    

    <!-- форма для редактирования записи -->
    {% for measure_form in week_measureforms %}
    <form class="hidden_element" method="post" id="{{ measure_form.date.value }}">
        {% csrf_token %}
        <label>{{ measure_form.date.value|date:"l" }} {{ measure_form.date }}</label><br>
        <label>Самочувствие{{ measure_form.feel }}</label><br>
        <label>Масса{{ measure_form.weight }}</label><br>
        <label>Жирность{{ measure_form.fat }}</label><br>
        <label>Пульс в покое{{ measure_form.pulse }}</label><br>
        <label>Давление<br>{{ measure_form.pressure_upper }} / {{ measure_form.pressure_lower }}</label><br>

        <label>Калории: {{ measure_form.calories }}</label><br>
        <label>Белки: {{ measure_form.protein }}</label><br>
        <label>Жиры: {{ measure_form.fats }}</label><br>
        <label>Углеводы: {{ measure_form.carbohydrates }}</label><br>

        <label>Жалкие оправдания{{ measure_form.comment }}</label><br>
        
        <button class="btn btn-primary" type="submit">Сохранить</button>
    </form>
    {% endfor %}
<br>

<a href="{% url 'personalpage' %}"><button class="btn btn-outline-primary">Вернуться</button></a>
    
    <p>* для корректной работы статистик необходимо вносить данные хотя бы раз в неделю</p>
    <p>* данные кбжу можно вносить и редактировать, но они все равно обновятся на данные из FatSecret, если удастся</p>

</div>

<script src="{% static 'personalpage/js/addmeasure.js' %}"></script>

{% endblock %}