{% extends 'personalpage/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}Дневник питания{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div class="container d-flex flex-column pt-5 min-vh">
    
    <!-- заголовок-дата -->
    <div class="d-flex justify-content-center align-items-center">
        <!-- кнопка предыдущее число -->
        <form method = "get">
            <input type="hidden" name="date" value="{{ prev_date }}">
            <input type="image" name="submit" class="hover_brigh me-3" src="{% static 'general/img/arrow_left_royalblue.svg' %}" alt="Submit" data-bs-toggle="modal" data-bs-target="#load_cat" title="предыдущий день" style="width: 20px;">
        </form>
        <!-- дата -->
        <h3 class="text-center p-2">{{ briefdate|date:"l " }}<br class="d-sm-none">{{ briefdate|date:"j E Y" }}</h3>
        <!-- кнопка следующее число -->
        <form method = "get">
            <input type="hidden" name="date" value="{{ next_date }}">
            <input type="image" name="submit" class="hover_brigh ms-3" src="{% static 'general/img/arrow_right_royalblue.svg' %}" alt="Submit" data-bs-toggle="modal" data-bs-target="#load_cat" title="следующий день" style="width: 20px;">
        </form>
    </div>
    
    <br>
    
    <!-- Сводка за выбраннную дату -->
    {% if daily_food %}
        <table class="table table-bordered">
            <!-- заголовок для большого экрана -->
            <thead class="table-light">
                <tr class="d-none d-md-table-row">
                    <th>Категория</th>
                    <th colspan="2">Продукт</th>
                    <th class="text-center">Калории</th>
                    <th class="text-center">Белки</th>
                    <th class="text-center">Жиры</th>
                    <th class="text-center">Углеводы</th>
                </tr>
            </thead>
            <tbody>
                <!-- структура для большого экрана -->
                <tr>
                {% for category, count in daily_food.count_by_category.items %}
                    {% if count > 0 %}
                        <td rowspan="{{ count }}" class="d-none d-md-table-cell">{% translate category %}</td>
                    {% endif %}
                    {% for food in daily_food.entries %}
                        {% if food.meal == category %}
                                <td class="d-none d-md-table-cell">{{ food.food_entry_name }}</td>
                                <td class="text-center text-nowrap d-none d-md-table-cell">{{ food.norm_amount|default:"?" }} {{ food.serving.metric_serving_unit|default_if_none:"" }}</td>
                                <td class="text-center d-none d-md-table-cell">{{ food.calories }}</td>
                                <td class="text-center d-none d-md-table-cell">{{ food.protein }}</td>
                                <td class="text-center d-none d-md-table-cell">{{ food.fat }}</td>
                                <td class="text-center d-none d-md-table-cell">{{ food.carbohydrate }}</td> 
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <!-- структура для маленького экрана -->
                {% for category, count in daily_food.count_by_category.items %}
                    {% if count > 0 %}
                        <tr class="table-light d-md-none">
                            <th colspan="4" class="text-center">{% translate category %}</th>
                        </tr>
                    {% endif %}
                    {% for food in daily_food.entries %}
                        {% if food.meal == category %}
                            <tr class="d-md-none">
                                <td colspan="4">{{ food.food_entry_name }} - {{ food.norm_amount|default:"?" }} {{ food.serving.metric_serving_unit|default_if_none:"" }}</td>
                            </tr>
                            <tr class="d-md-none">
                                <td class="text-center">{{ food.calories }}</td>
                                <td class="text-center">{{ food.protein }}</td>
                                <td class="text-center">{{ food.fat }}</td>
                                <td class="text-center">{{ food.carbohydrate }}</td> 
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <!-- итог -->
                <tr class="table-light d-md-none">
                    <th colspan="4" class="text-center">Всего</th>
                </tr>
                <tr class="table-light d-md-none">
                    <th class="text-center">ккал</th>
                    <th class="text-center">белки</th>
                    <th class="text-center">жиры</th>
                    <th class="text-center">углеводы</th>
                </tr>
                <tr class="table-light">
                    <th colspan="2" class="text-end d-none d-md-table-cell">Всего:</th>
                    <th class="text-center text-nowrap d-none d-md-table-cell">{{ daily_food.nutrition.amount }} g/ml</th>
                    <th class="text-center">{{ daily_food.nutrition.calories }}</th>
                    <th class="text-center">{{ daily_food.nutrition.protein }}</th>
                    <th class="text-center">{{ daily_food.nutrition.fat }}</th>
                    <th class="text-center">{{ daily_food.nutrition.carbohydrate }}</th>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p class="text-center mb-0">Данные отсутствуют</p>
    {% endif %}
         
    <!-- топ-3 продуктов за выбранную дату -->
    {% if daily_food %}
        <div class="" id="top_section">
            <ol class="top_table_ol my-4">
            <table class="table top_table caption-top" id="table_top_amount">
                <caption><h4 class="text-center">Топ по количеству</h4></caption>
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>
                            <span class="d-sm-none">Продукт</span>
                            <span class="d-none d-sm-inline">Название продукта</span>
                        </th>
                        <th class="text-center">
                            <span class="d-sm-none text-nowrap">Кол-во</span>
                            <span class="d-none d-sm-inline">Съедено</span>
                        </th>
                        <th class="text-center">
                            <span class="d-sm-none">Ккал</span>
                            <span class="d-none d-sm-inline">Получено калорий</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for product, value in daily_top.top_amount.items %}
                    <tr>
                        <td></td>
                        <td><li>{% translate product %}</li></td>
                        <td class="text-center">{{ value.amount|default:"?" }} {{ value.metric }}</td>
                        <td class="text-center">{{ value.calories }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </ol>

            <ol class="top_table_ol mt-4 mb-5">
            <table class="table top_table caption-top" id="table_top_calories">
                <caption><h4 class="text-center">Топ по калориям</h4></caption>
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>
                            <span class="d-sm-none">Продукт</span>
                            <span class="d-none d-sm-inline">Название продукта</span>
                        </th>
                        <th class="text-center">
                            <span class="d-sm-none text-nowrap">Кол-во</span>
                            <span class="d-none d-sm-inline">Съедено</span>
                        </th>
                        <th class="text-center">
                            <span class="d-sm-none">Ккал</span>
                            <span class="d-none d-sm-inline">Получено калорий</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                {% for product, value in daily_top.top_calories.items %}
                    <tr>
                        <td></td>
                        <td><li>{% translate product %}</li></td>
                        <td class="text-center">{{ value.amount|default:"?" }} {{ value.metric }}</td>
                        <td class="text-center">{{ value.calories }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            </ol>
        </div>
    {% endif %}
    
    <div class="d-flex flex-column flex-sm-row-reverse justify-content-between mt-auto">
        <!-- Выбор сводки за другое число -->
        <div class="mx-auto me-sm-5 ms-sm-auto my-3" id="select_date_section">
            <h5 class="text-center">Сводка за другое число</h5>
            <form action="" method = "get" class="d-flex justify-content-between">
                <input type="date" class="form-control text-center me-3" name="date" id="input_briefdate" value="{{ prev_date }}">
                <button type="submit" class="btn btn-primary d-inline" name="submit" data-bs-toggle="modal" data-bs-target="#load_cat">Получить</button>
            </form>
        </div>
        <!-- Кнопка возврата -->
        <a href="{% url 'mealjournal' %}" class="align-self-sm-end my-3">
            <img src="{% static 'general/img/arrow_back_royalblue.svg' %}" class="hover_brigh" width="38" title="К дневнику питания">
        </a>
    </div>
</div>

<!-- модальное окно для обработки продуктов без метрики -->
<div class="modal" id="WithoutInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-blueshadow">
            <div class="modal-header align-items-baseline">
                <h4 class="text-center modal-title" id="text_warning_nometrics_mealjournal">Некоторые продукты не удалось посчитать :(</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">Укажите их массу, пожалуйста</h5>
                <form method="POST" id="add_metric_form" action="{% url 'foodmetricsave' %}">
                    {% csrf_token %}
                    <div id="without_info_list">
                        {% if daily_food.without_info %}
                            {% for id, info in daily_food.without_info.items %}
                                <div class="without_info_row mt-4">
                                    <div class="d-flex">
                                        <span class="text-royalblue me-2"><b>Продукт:</b></span>
                                        {{ info.food_entry_name }}
                                    </div>
                                    <div class="d-flex align-items-center text-nowrap my-2">
                                        {{ info.serving_description }} = 
                                        <input type="hidden" value="{{ id }}" name="food_id">
                                        <input type="hidden" value="{{ info.serving_id }}" name="serving_id">
                                        <input type="number" class="form-control mx-2" min="0" name="metric_serving_amount" required>
                                        <select class="form-select" name="metric_serving_unit">
                                            <option value="g">г</option>
                                            <option value="ml">мл</option>
                                        </select>
                                    </div>
                                    <p>Калорийность этой порции: 
                                        <span class="text-nowrap">{{ info.calories_per_serving }} ккал</span>
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <p class="text-center" id="foodmetricsave_status">&nbsp;</p>
                    <button type="button" class="btn btn-primary hidden_element" id="recalculation_btn">Пересчитать</button>
                    <button type="submit" class="btn btn-primary btn_rigth">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'personalpage/js/foodbydate.js' %}"></script>
{% endblock %}