{% extends 'personalpage/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}Дневник питания{% endblock %}

{% block content %}

<!-- Сводка за выбраннный месяц-->
<h3 class="text-center">{{ briefmonth|date:'F Y' }}</h3><br>
{% if food_entries_month %}

<table class="table table-bordered text-center">
    <thead class="table-light">
        <tr>
            <th>Дата</th>
            <th>Калории</th>
            <th>Белки</th>
            <th>Жиры</th>
            <th>Углеводы</th>
        </tr>
    </thead>
    <tbody>
        {% for day in food_entries_month %}
        <tr>
            <td>{{ day.date_int|date:"j E - D" }}</td>
            <td>{{ day.calories }}</td>
            <td>{{ day.protein }}</td>
            <td>{{ day.fat }}</td>
            <td>{{ day.carbohydrate }}</td>
        </tr>
        {% endfor %}
        <tr class="table-light">
            <th>В среднем:</th>
            <th>{{ avg_month.calories }}</th>
            <th>{{ avg_month.protein }}</th>
            <th>{{ avg_month.fat }}</th>
            <th>{{ avg_month.carbo }}</th>
        </tr>
    </tbody>
</table><br>

{% if top_calories %}

<!-- топчики -- добавить margin справа -->
<h3 class="text-center">Топ по количеству</h3><br>

<ol>
<table class="table">
    <thead class="table-light">
        <tr>
            <th></th>
            <th>Название продукта</th>
            <th class="text-center">Съедено</th>
            <th class="text-center">Получено калорий</th>
        </tr>
    </thead>
    <tbody>
    {% for product, value in top_amount.items %}
        <tr>
            <td></td>
            <td><li>{% translate product %}</li></td>
            <td class="text-center">{{ value.amount }} {{ value.metric }}</td>
            <td class="text-center">{{ value.calories }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</ol>
<br>

<h3 class="text-center">Топ по калориям</h3><br>

<ol>
<table class="table">
    <thead class="table-light">
        <tr>
            <th></th>
            <th>Название продукта</th>
            <th class="text-center">Съедено</th>
            <th class="text-center">Получено калорий</th>
        </tr>
    </thead>
    <tbody>
    {% for product, value in top_calories.items %}
        <tr>
            <td></td>
            <td><li>{% translate product %}</li></td>
            <td class="text-center">{{ value.amount }} {{ value.metric }}</td>
            <td class="text-center">{{ value.calories }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</ol>
<br>

<!-- если не посчитались какие-то продукты -->
{% if prods_without_info %}
<h3>Некоторые продукты не удалось нормально посчитать!</h3>
<p>Укажите их граммовку, пожалуйста</p>
<form method="POST" action="">
    {% csrf_token %}
    {% for prod, value in prods_without_info.items %}
    <p><b>Продукт: </b> {{ value.food_entry_name }}</p>
    <p>{{ value.serving_description }} = 
        <input type="hidden" value="{{ prod }}" name="food_id_{{ value.index_number }}">
        <input type="hidden" value="{{ value.serving_id }}" name="serving_id_{{ value.index_number }}">
        <input type="number" class="form-control text-center d-inline width_unset" min="0" name="metric_serving_amount_{{ value.index_number }}">
        <select class="form-select d-inline width_unset" name="metric_serving_unit_{{ value.index_number }}">
            <option value="g">г</option>
            <option value="ml">мл</option>
        </select>
    </p>
    <p>Калорийность этой порции: {{ value.calories_per_serving }} ккал</p><br>
    {% endfor %}
    <!-- добавить кнопку сохранить но не считать -->
    <button type="submit" class="btn btn-info" name="justsave" value="True">Сохранить и вернуться</button>
    <button type="submit" class="btn btn-info">Сохранить и пересчитать</button>
</form>
<br>
{% endif %}




{% else %}
<!-- кНопка посчитать ТОП -->
<form action="{% url 'foodbymonth' %}" method="get">
    <input type="month" class="hidden_element" name="month" id="input_briefmonth" value="{{ briefmonth|date:'Y-m' }}">
    <input type="checkbox" class="hidden_element" name="top_create" value="True" id="" checked>
    <button type="submit" class="btn btn-info" name="submit">посчитать ТОП-продукты</button></h5>
    <p>* займет несколько минут</p>
</form>
<br><br>
{% endif %}

{% else %}
<p>Данные за выбранный месяц отсутствуют</p>
{% endif %}
<br><br>

<!-- Выбор сводки за другой месяц -->
<h5>Нужна сводка за другой месяц?</h5>
<form action = "{% url 'foodbymonth' %}" method = "get">
    <input type="month" class="form-control text-center" name="month" id="input_briefmonth" value="{{ previous_month }}">
    <button type="submit" class="btn btn-info" name="submit">Получить</button>
</form>
<br><br>

<!-- Кнопка возврата -->
<a href="{% url 'mealjournal' %}"><button class="btn btn-outline-primary" id="back_btn_questionary">Вернуться</button></a>


{% endblock %}