{% extends 'personalpage/layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}Дневник питания{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div class="container d-flex flex-column pt-5 min-vh">

    <!-- заголовок-дата -->
    <div class="d-flex justify-content-center align-items-center">
        <!-- кнопка предыдущий месяц-->
        <form method = "get">
            <input type="hidden" name="month" value="{{ prev_month }}">
            <input type="image" name="submit" class="hover_brigh me-3" src="{% static 'general/img/arrow_left_royalblue.svg' %}" alt="Submit" data-bs-toggle="modal" data-bs-target="#load_cat" title="предыдущий месяц" style="width: 20px;">
        </form>
        <!-- месяц -->
        <span class="hidden_element" data-action="{% url 'get_monthly_top' %}" id="hidden_briefmonth">{{ briefmonth }}</span>
        <h3 class="text-center p-2" id="briefmonth">{{ briefmonth|date:'F Y' }}</h3>
        <!-- кнопка следующий месяц-->
        <form method = "get">
            <input type="hidden" name="month" value="{{ next_month }}">
            <input type="image" name="submit" class="hover_brigh ms-3" src="{% static 'general/img/arrow_right_royalblue.svg' %}" alt="Submit" data-bs-toggle="modal" data-bs-target="#load_cat" title="следующий месяц" style="width: 20px;">
        </form>
    </div>

    <br>

    <!-- Сводка за выбраннный месяц-->
    {% if monthly_food %}
        <table class="table table-bordered table-hover text-center">
            <thead class="table-light">
                <tr>
                    <th>Дата</th>
                    <th>Калории</th>
                    <th>Белки</th>
                    <th>Жиры</th>
                    <th>Углеводы</th>
                </tr>
            </thead>
            <tbody>
                {% for day in monthly_food.entries %}
                <tr>
                    <td>{{ day.date_datetime|date:"j E - D" }}</td>
                    <td>{{ day.calories }}</td>
                    <td>{{ day.protein }}</td>
                    <td>{{ day.fat }}</td>
                    <td>{{ day.carbohydrate }}</td>
                </tr>
                {% endfor %}
                <tr class="table-light">
                    <th>В среднем:</th>
                    <th>{{ monthly_food.monthly_avg.calories }}</th>
                    <th>{{ monthly_food.monthly_avg.protein }}</th>
                    <th>{{ monthly_food.monthly_avg.fat }}</th>
                    <th>{{ monthly_food.monthly_avg.carbo }}</th>
                </tr>
            </tbody>
        </table>
    {% else %}
        <p class="text-center">Данные отсутствуют</p>
    {% endif %}

    <!-- топ-10 продуктов за текущий месяц -->
    <!-- заполняется данными от ajax запроса -->
    <div class="hidden_element" id="top_section">
        <ol class="top_table_ol my-4">
        <table class="table top_table caption-top" id="table_top_amount">
            <caption><h4 class="text-center">Топ по количеству</h4></caption>
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Название продукта</th>
                    <th class="text-center">Съедено</th>
                    <th class="text-center">Получено калорий</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </ol>

        <ol class="top_table_ol my-4">
        <table class="table top_table caption-top" id="table_top_calories">
            <caption><h4 class="text-center">Топ по калориям</h4></caption>
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>Название продукта</th>
                    <th class="text-center">Съедено</th>
                    <th class="text-center">Получено калорий</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        </ol>
    </div>

    <!-- запрос топ-10 за месяц -->
    {% if monthly_food %}
        <div id="waiting_cat" class="waiting_container d-flex flex-column hidden_element my-2">
            <img src="{% static 'general/img/cat_with_coffee.gif' %}" id="cat_with_coffee"><br>
            <h6 class="text-center text-muted"><i>нужно немножечко подождать...</i></h6>
        </div>
        <button type="button" class="btn btn-primary d-block mx-auto my-4" id="calc_top_btn" data-month="{{ briefmonth|date:'Y-m' }}" data-action="{% url 'get_monthly_top' %}">
            ТОП-10
        </button>
        <span class="text-danger d-block text-center" id="top_error"></span>
    {% endif %}

    <div class="d-flex flex-column flex-sm-row-reverse justify-content-between mt-auto">
        <!-- Выбор сводки за другой месяц -->
        <div class="mx-auto me-sm-5 ms-sm-auto my-3" id="select_month_section">
            <h5 class="text-center">Сводка за другой месяц</h5>
            <form action="" method ="get" class="d-flex justify-content-between">
                <input type="month" class="form-control text-center me-3" name="month" id="input_briefmonth" value="{{ prev_month }}">
                <button type="submit" class="btn btn-primary" name="submit" data-bs-toggle="modal" data-bs-target="#load_cat">Получить</button>
            </form>
        </div>
        <!-- Кнопка возврата -->
        <a href="{% url 'mealjournal' %}" class="align-self-sm-end my-3">
            <img src="{% static 'general/img/arrow_back_royalblue.svg' %}" class="hover_brigh" width="38" title="К дневнику питания">
        </a>
    </div>
</div>



<!-- модальное окно для обработки продуктов без метрики -->
{% if monthly_food.without_info %}
    <h4 class="text-center">Некоторые продукты не удалось посчитать!</h4><br>
    <div class="add_metric_container">
        <h5 class="text-center">Укажите их граммовку, пожалуйста</h5>
        <form method="POST" action="" class="add_metric_form">
            {% csrf_token %}
            {% for prod, value in monthly_food.without_info.items %}
            <div id="food_id_{{ value.index_number }}">
                <hr>
                <p><b>Продукт:</b> {{ value.food_entry_name }}</p>
                <p>{{ value.serving_description }} = 
                    <input type="hidden" value="{{ prod }}" name="food_id_{{ value.index_number }}">
                    <input type="hidden" value="{{ value.serving_id }}" name="serving_id_{{ value.index_number }}">
                    <input type="number" class="form-control text-center d-inline width_unset" min="0" name="metric_serving_amount_{{ value.index_number }}">
                    <select class="form-select d-inline width_unset" name="metric_serving_unit_{{ value.index_number }}">
                        <option value="g">г</option>
                        <option value="ml">мл</option>
                    </select>
                </p>
                <p>Калорийность этой порции: {{ value.calories_per_serving }} ккал</p>
            </div>
            {% endfor %}
            <p class="text-center" id="foodmetricsave_status">&nbsp;</p>
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <button type="button" class="btn btn-primary hidden_element btn_rigth" id="recalculation_btn" onclick=location=URL>Пересчитать</button>
        </form>
    </div><br>

    <!-- сохранение введенной метрики -->
    <script>
        $(document).ready(function () {
            // отслеживаем событие отправки формы
            $('.add_metric_form').submit(function () {
                
                // поле для надписи о сохранении
            statusBtn = document.getElementById('foodmetricsave_status');
            recalcBtn = document.getElementById('recalculation_btn');

                // создаем AJAX-вызов
                $.ajax({
                    data: $(this).serialize(), // получаем данные формы
                    type: $(this).attr('method'), // метод отправки запроса
                    url: "{% url 'foodmetricsave' %}", // функция обработки
                    
                    // После успешного завершения запросов запускается одна из колбэк-функций success или error.
                    success: function (response) {
                        if (response.status == "инфа сохранена, круто!") {
                            // добавляем кнопку пересчета
                            recalcBtn.classList.remove('hidden_element');
                            // показываем синий статус
                            statusBtn.textContent = response.status;
                            statusBtn.style.color = "#00c0f0";
                            }
                        else {
                            // показываем фиолетовый статус
                            if (statusBtn.textContent = response.status) {
                                statusBtn.style.color = "#0065fd00";
                                setTimeout(() => {
                                    statusBtn.style.color = "#9d00ff";
                                }, 500);
                            }
                            else {
                            statusBtn.textContent = response.status;
                            statusBtn.style.color = "#9d00ff"; 
                            }
                            // скрываем продукты, инфо о кот. все-таки сохранилась
                            if (response.saved_food_id) {
                                response.saved_food_id.forEach (food_id => {
                                    document.getElementById(food_id).classList.add('hidden_element');
                                // добавляем кнопку пересчета
                                recalcBtn.classList.remove('hidden_element');
                                })
                            }
                        }
                        },
                    error: function (response) {
                        // показываем красный статус
                        statusBtn.textContent = 'произошла ошибка';
                        statusBtn.style.color = "#ff1943";
                        }
                });
                // return false в конце скрипта предотвращает отправку форм, останавливая перезагрузку страницы.
                return false;
            });
        })    
    </script>
{% endif %}




<script src="{% static 'personalpage/js/mealjournal.js' %}"></script>
{% endblock %}