{% extends 'personalpage/layout.html' %}
{% load static %}

{% block title %}Дневник питания{% endblock %}

{% block content %}

<h1 class="text-center">Дневник питания</h1><br>

<!-- Кнопка соединения с FS -->
{% if user_not_connected %}
<a href="{% url 'fatsecretauth' %}"><button class='btn btn-info'>Привязать FatSecret</button></a><br><br>
<p>Ваш аккаунт на FatSecret должен быть подтвержденным.</p>
<p>Если не получается, попробуйте сначала войти в него на <a href="https://www.fatsecret.com" target="_blank">FatSecret</a></p>

{% else %}

<!-- Сводка за сегодня - авто -->
<h3>Сводка за сегодня</h3>
{% if food_entries %}
    <p><b>сырая:</b></p>
    {{ food_entries }}<br><br>

    <p><b>редактированная:</b></p>
    {% for food in food_entries %}
        {{ food.food_entry_name }} - {{ food.calories }} кал<br>
        (белки: {{ food.protein }}, жиры: {{ food.fat }}, углеводы: {{ food.carbohydrate }})<br><br>
    {% endfor %}
{% else %}
<p>Данные отсутствуют</p>
{% endif %}
<br>

<!-- Выбор сводки за другое число -->
<h5>Нужна сводка за другое число?</h5>
<form action = "{% url 'foodbydate' %}" method = "get">
    <input type="date" class="form-control text-center" name="date" id="input_briefdate">
    <button type="submit" class="btn btn-info" name="submit">Получить</button>
</form>
<br><br>

<!-- Сводка за текущий месяц -->
<h3>Сводка за текущий месяц</h3>
{% if food_entries_month %}
    <table class="table table-bordered border-primary">
        <tr>
            <th>Дата</th>
            <th>Калории</th>
            <th>Белки</th>
            <th>Жиры</th>
            <th>Углеводы</th>
        </tr>
        {% for day in food_entries_month %}
        <tr>
            <td>{{ day.date_int|date:"j E" }}</td>
            <td>{{ day.calories }}</td>
            <td>{{ day.protein }}</td>
            <td>{{ day.fat }}</td>
            <td>{{ day.carbohydrate }}</td>
        </tr>
        {% endfor %}
        <tr>
            <th>В среднем:</th>
            <th>{{ avg_calories }}</th>
            <th>{{ avg_protein }}</th>
            <th>{{ avg_fat }}</th>
            <th>{{ avg_carbo }}</th>
        </tr>
    </table><br>

{% else %}
<p>Данные отсутствуют</p>
{% endif %}
<br><br>

<!-- Сводка за последний полный месяц -->


<!-- Выбор сводки за другой месяц-->
<h5>Нужна сводка за другой месяц?</h5>
<form action = "{% url 'foodbymonth' %}" method = "get">
    <input type="month" class="form-control text-center" name="month" id="input_briefmonth" value="{{ previous_month }}">
    <button type="submit" class="btn btn-info" name="submit">Получить</button>
</form>
<br><br>


<!-- Кнопка возврата -->
<a href="{% url 'personalpage' %}"><button class="btn btn-outline-primary" id="back_btn_questionary">Вернуться</button></a>


{% endif %}

{% endblock %}