{% extends 'layouts/clientpage_layout.html' %}
{% load static %}
{% load i18n %}

{% block title %}Дневник питания{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

<div class="container pt-5">

    {% if user_not_connected %}
        <!-- Предложение соединения с FS если не подключен -->
        <div class="d-flex flex-column">

            <div class="">
                <p>Для эффективного и удобного подсчета калорий и нутриентов мы рекомендуем приложение 
                    <a href="https://www.fatsecret.com" target="_blank" class="fatsecret_ref">FatSecret</a>.
                </p>
                <p>FatSecret бесплатен и прост в использовании.</p>
                <p>Вам нужно будет лишь вести дневник питания на своем смартфоне, а вся необходимая для анализа информация будет собираться нами автоматически.</p>
            </div>

            <div class="d-flex justify-content-between" id="container_fs_connection">

                <div class="d-flex">
                    <ol>
                        <li>Установите приложение:</li><br>
                        <div>
                            <a target="blank" href="https://itunes.apple.com/ru/app/calorie-counter-by-fatsecret/id347184248?mt=8" style="text-decoration:none">
                                <img src="https://a.ftscrt.com/static/images/mobi/ios/Download_on_the_App_Store_Badge_RU_RGB_blk_100317.svg" id="fsapp_apple">
                            </a>
                            &nbsp;&nbsp;
                            <a target="blank" href="https://play.google.com/store/apps/details?id=com.fatsecret.android" style="text-decoration:none">
                                <img src="https://a.ftscrt.com/static/images/mobi/android/ru_get_2.svg" id="fsapp_googleplay">
                            </a>
                        </div><br>
                        <li>Войдите в свой аккаунт на сайте <a href="https://www.fatsecret.com/Auth.aspx?pa=s" target="_blank" class="fatsecret_ref">FatSecret</a>. Возможно, его потребуется подтвердить.</li><br>
                        <li>Свяжите свои аккаунты в прочный союз с помощью этой кнопки:</li><br>
                        <a href="{% url 'fatsecretauth' %}"><button class='btn btn-outline-primary'>Привязать FatSecret</button></a>
                    </ol>
                </div>

                <div class="d-flex" id="container_fs_photo">
                    <div class="" id="fs_photo1">
                        <img src="{% static 'personalpage/img/FS_apple.webp' %}" class="rounded fs_photo">
                    </div>
                    
                    <div class="" id="fs_photo2">
                        <img src="{% static 'personalpage/img/FS_meal.webp' %}" class="rounded fs_photo">
                    </div>

                    <div class="" id="fs_photo3">
                        <img src="{% static 'personalpage/img/FS_photo.webp' %}" class="rounded fs_photo">
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        <!-- рекомендованные КБЖУ -->
        {% if recommend_nutrition %}
            <button type="button" class="btn btn-outline-primary float-end" id="recommend_nutrition_btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-clipboard-data align-text-top" viewBox="0 0 16 16">
                    <path d="M4 11a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1zm6-4a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V7zM7 9a1 1 0 0 1 2 0v3a1 1 0 1 1-2 0V9z"></path>
                    <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"></path>
                    <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"></path>
                </svg>
                КБЖУ
            </button>
            <div class="border-blueshadow hidden_element p-2" id="container_recommend_nutrition_form">
                <div class="d-flex align-items-center">
                    <h5 class="moving_part w-fill cursor-move mb-0">Рекомендации</h5>
                    <button type="button" class="btn-close" aria-label="Close"></button>
                </div>
                <hr class="my-2">
                <div class="d-flex">
                    <div class="d-flex flex-column my-2 me-3">
                        <label class="">Калории:</label>
                        <input type="number" name="calories" value="{{ recommend_nutrition.calories }}" class="form-control text-center bg-white" readonly>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <label class="">Жиры:</label>
                        <input type="number" name="calories" value="{{ recommend_nutrition.fats }}" class="form-control text-center bg-white" readonly>
                    </div>
                </div>
                <div class="d-flex mb-3">
                    <div class="d-flex flex-column my-2 me-3">
                        <label class="">Белки:</label>
                        <input type="number" name="calories" value="{{ recommend_nutrition.protein }}" class="form-control text-center bg-white" readonly>
                    </div>
                    <div class="d-flex flex-column my-2">
                        <label class="">Углеводы:</label>
                        <input type="number" name="calories" value="{{ recommend_nutrition.carbohydrates }}" class="form-control text-center bg-white" readonly>
                    </div>
                </div>
                {% if recommend_nutrition.note %}
                    <label class="">Заметка:</label>
                    <textarea name="note" cols="40" rows="8" class="form-control" readonly>{{ recommend_nutrition.note }}</textarea>
                {% endif %}
            </div>
        {% endif %}

        <!-- Сводка за сегодня -->
        {% if daily_food %}
            <table class="table table-bordered caption-top">
                <caption><h3>Сегодня</h3></caption>
                <!-- заголовок для большого экрана -->
                <thead class="table-light">
                    <tr class="d-none d-md-table-row">
                        <th>Категория</th>
                        <th colspan="2">Продукт</th>
                        <th class="text-center">Калории</th>
                        <th class="text-center">Белки</th>
                        <th class="text-center">Жиры</th>
                        <th class="text-center">Углеводы</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- структура для большого экрана -->
                    <tr>
                    {% for category, count in daily_food.count_by_category.items %}
                        {% if count > 0 %}
                            <td rowspan="{{ count }}" class="d-none d-md-table-cell">{% translate category %}</td>
                        {% endif %}
                        {% for food in daily_food.entries %}
                            {% if food.meal == category %}
                                <td class="d-none d-md-table-cell">{{ food.food_entry_name }}
                                    {% if food.cant_get_id %}
                                        <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                                            title="критическая ошибка при получении данных"
                                            data-bs-content="Посчитать массу этой позиции невозможно. Попробуйте ввести этот продукт иначе.">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="royalblue" class="bi bi-exclamation-circle ch-pointer" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"></path>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </td>
                                <td class="text-center text-nowrap d-none d-md-table-cell">{{ food.norm_amount|default:"?" }} {{ food.serving.metric_serving_unit|default_if_none:"" }}</td>
                                <td class="text-center d-none d-md-table-cell">{{ food.calories }}</td>
                                <td class="text-center d-none d-md-table-cell">{{ food.protein }}</td>
                                <td class="text-center d-none d-md-table-cell">{{ food.fat }}</td>
                                <td class="text-center d-none d-md-table-cell">{{ food.carbohydrate }}</td> 
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <!-- структура для маленького экрана -->
                    {% for category, count in daily_food.count_by_category.items %}
                        {% if count > 0 %}
                            <tr class="table-light d-md-none">
                                <th colspan="4" class="text-center">{% translate category %}</th>
                            </tr>
                        {% endif %}
                        {% for food in daily_food.entries %}
                            {% if food.meal == category %}
                            <tr class="d-md-none">
                                <td colspan="4">{{ food.food_entry_name }} - {{ food.norm_amount|default:"?" }} {{ food.serving.metric_serving_unit|default_if_none:"" }}
                                    {% if food.cant_get_id %}
                                        <a tabindex="0" role="button" data-bs-toggle="popover" data-bs-trigger="focus"
                                            title="критическая ошибка при получении данных"
                                            data-bs-content="Посчитать массу этой позиции невозможно. Попробуйте ввести этот продукт иначе.">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="royalblue" class="bi bi-exclamation-circle ch-pointer" viewBox="0 0 16 16">
                                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
                                                        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"></path>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr class="d-md-none">
                                <td class="text-center text-nowrap" title="калории">{{ food.calories }}</td>
                                <td class="text-center text-nowrap" title="белки">{{ food.protein }}</td>
                                <td class="text-center text-nowrap" title="жиры">{{ food.fat }}</td>
                                <td class="text-center text-nowrap" title="углеводы">{{ food.carbohydrate }}</td> 
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                    <!-- итог -->
                    <tr class="table-light d-md-none">
                        <th colspan="4" class="text-center">Всего</th>
                    </tr>
                    <tr class="table-light d-md-none">
                        <th class="text-center">ккал</th>
                        <th class="text-center">белки</th>
                        <th class="text-center">жиры</th>
                        <th class="text-center">углеводы</th>
                    </tr>
                    <tr class="table-light">
                        <th colspan="2" class="text-end d-none d-md-table-cell">Всего:</th>
                        <th class="text-center text-nowrap d-none d-md-table-cell">{{ daily_food.nutrition.amount }} g/ml</th>
                        <th class="text-center">{{ daily_food.nutrition.calories }}</th>
                        <th class="text-center">{{ daily_food.nutrition.protein }}</th>
                        <th class="text-center">{{ daily_food.nutrition.fat }}</th>
                        <th class="text-center">{{ daily_food.nutrition.carbohydrate }}</th>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <h3>Сегодня</h3>
            <p class="text-center my-4">Данные отсутствуют</p>
        {% endif %}

        <!-- Выбор сводки за другое число -->
        <div class="d-flex mt-4 mb-5 my-sm-4">
            <hr class="d-none d-sm-block w-fill" style="margin-top: 51px;">
            <div class="mx-auto ms-am-auto me-sm-0" id="select_date_section_mealjournal">
                <h5 class="text-center fw-normal">Cводка за другое <b class="fw-bold">число</b></h5>
                <form action = "{% url 'foodbydate' %}" method = "get" class="d-flex justify-content-between">
                    <input type="date" class="form-control text-center me-3" name="date" id="input_briefdate" value="{% now 'Y-m-d' %}">
                    <button type="submit" class="btn btn-primary" name="submit" data-bs-toggle="modal" data-bs-target="#load_cat">Получить</button>
                </form>
            </div>
        </div>

        <!-- Сводка за текущий месяц -->
        {% if monthly_food %}
            <table class="table table-bordered table-hover caption-top text-center">
                <caption><h3>Текущий месяц</h3></caption>
                <thead class="table-light">
                    <tr>
                        <th class="d-none d-sm-table-cell">Дата</th>
                        <th>
                            <span class="d-sm-none">Ккал</span>
                            <span class="d-none d-sm-inline">Калории</span>
                        </th>
                        <th>Белки</th>
                        <th>Жиры</th>
                        <th>
                            <span class="d-sm-none">Углев.</span>
                            <span class="d-none d-sm-inline">Углеводы</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for day in monthly_food.entries %}
                    <tr class="d-sm-none">
                        <td colspan="4">{{ day.date_datetime|date:"j E - D" }}</td>
                    </tr> 
                    <tr>
                        <td class="d-none d-sm-table-cell">{{ day.date_datetime|date:"j E - D" }}</td>
                        <td title="калории">{{ day.calories }}</td>
                        <td title="белки">{{ day.protein }}</td>
                        <td title="жиры">{{ day.fat }}</td>
                        <td title="углеводы">{{ day.carbohydrate }}</td>
                    </tr>
                    {% endfor %}
                    <tr class="table-light">
                        <th colspan="4" class="d-sm-none">В среднем</th>
                    </tr>
                    <tr class="table-light d-sm-none">
                        <th class="text-center">ккал</th>
                        <th class="text-center">белки</th>
                        <th class="text-center">жиры</th>
                        <th class="text-center">углев.</th>
                    </tr>
                    <tr class="table-light">
                        <th class="d-none d-sm-table-cell">В среднем</th>
                        <th title="калории">{{ monthly_food.monthly_avg.calories }}</th>
                        <th title="белки">{{ monthly_food.monthly_avg.protein }}</th>
                        <th title="жиры">{{ monthly_food.monthly_avg.fat }}</th>
                        <th title="углеводы">{{ monthly_food.monthly_avg.carbo }}</th>
                    </tr>
                </tbody>
            </table>
        {% else %}
            <h3>Текущий месяц</h3>
            <p class="text-center">Данные отсутствуют</p>
        {% endif %}

        <!-- топ-10 продуктов за текущий месяц -->
        <!-- заполняется данными от ajax запроса -->
        <div class="hidden_element" id="top_section">
            <ol class="top_table_ol my-4">
            <table class="table table-hover top_table caption-top" id="table_top_amount">
                <caption><h4 class="text-center">Топ по количеству</h4></caption>
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>
                            <span class="d-sm-none">Продукт</span>
                            <span class="d-none d-sm-inline">Название продукта</span>
                        </th>
                        <th class="text-center">
                            <span class="d-sm-none text-nowrap">Кол-во</span>
                            <span class="d-none d-sm-inline">Съедено</span>
                        </th>
                        <th class="text-center">
                            <span class="d-sm-none">Ккал</span>
                            <span class="d-none d-sm-inline">Получено калорий</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </ol>

            <ol class="top_table_ol mt-4 mb-5">
            <table class="table table-hover top_table caption-top" id="table_top_calories">
                <caption><h4 class="text-center">Топ по калориям</h4></caption>
                <thead class="table-light">
                    <tr>
                        <th></th>
                        <th>
                            <span class="d-sm-none">Продукт</span>
                            <span class="d-none d-sm-inline">Название продукта</span>
                        </th>
                        <th class="text-center">
                            <span class="d-sm-none text-nowrap">Кол-во</span>
                            <span class="d-none d-sm-inline">Съедено</span>
                        </th>
                        <th class="text-center">
                            <span class="d-sm-none">Ккал</span>
                            <span class="d-none d-sm-inline">Получено калорий</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            </ol>
        </div>
        
        <!-- запрос топ-10 за месяц -->
        {% if monthly_food %}
            <div id="waiting_cat" class="waiting_container hidden_element d-flex flex-column my-5">
                <img src="{% static 'common/gif/cat_with_coffee.gif' %}" id="cat_with_coffee"><br>
                <h6 class="text-center text-muted"><i>нужно немножечко подождать...</i></h6>
            </div>
            <form action="{% url 'get_monthly_top' %}" method="get" class="w-fit mx-auto ms-sm-0 my-4 mb-sm-0" id="get_top_form">
                <input type="hidden" value="{% now 'Y-m' %}" name="month">
                <button type="submit" class="btn btn-primary" id="calc_top_btn">
                    ТОП-10
                </button>
            </form>
            <span class="text-danger d-block text-center mb-2" id="top_error"></span>
        {% endif %}

        <!-- Сводка (итоговая средняя) за последний полный месяц - сделать! -->

        <!-- Выбор сводки за другой месяц-->
        <div class="d-flex my-4 mt-sm-0">
            <hr class="d-none d-sm-block w-fill" style="margin-top: 51px;">
            <div class="mx-auto ms-am-auto me-sm-0" id="select_date_section_mealjournal">
                <h5 class="text-center fw-normal">Сводка за другой <b class="fw-bold">месяц</b></h5>
                <form action = "{% url 'foodbymonth' %}" method = "get" class="d-flex justify-content-between">
                    <input type="month" class="form-control text-center me-3" name="month" id="input_briefmonth" value="{{ previous_month }}">
                    <button type="submit" class="btn btn-primary" name="submit" data-bs-toggle="modal" data-bs-target="#load_cat">Получить</button>
                </form>
            </div>
        </div>
    {% endif %}
    <br>
</div>

<!-- модальное окно для обработки продуктов без метрики -->
<div class="modal" id="WithoutInfoModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-blueshadow">
            <div class="modal-header align-items-baseline">
                <h4 class="text-center modal-title">Некоторые продукты не удалось посчитать :(</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <h5 class="text-center">Укажите их массу, пожалуйста</h5>
                <form method="POST" action="{% url 'foodmetricsave' %}" id="add_metric_form">
                    {% csrf_token %}
                    <div id="without_info_list">
                        {% if prods_without_info %}
                            {% for id, info in prods_without_info.items %}
                                <div class="without_info_row mt-4">
                                    <div class="d-flex">
                                        <span class="text-royalblue me-2"><b>Продукт:</b></span>
                                        {{ info.food_entry_name }}
                                    </div>
                                    <div class="d-flex align-items-center text-nowrap my-2">
                                        {{ info.serving_description }} = 
                                        <input type="hidden" value="{{ id }}" name="food_id">
                                        <input type="hidden" value="{{ info.serving_id }}" name="serving_id">
                                        <input type="number" class="form-control mx-2" min="0" name="metric_serving_amount" required>
                                        <select class="form-select" name="metric_serving_unit">
                                            <option value="g">г</option>
                                            <option value="ml">мл</option>
                                        </select>
                                    </div>
                                    <p>Калорийность этой порции: 
                                        <span class="text-nowrap">{{ info.calories_per_serving }} ккал</span>
                                    </p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <p class="text-center" id="foodmetricsave_status">&nbsp;</p>
                    <button type="button" class="btn btn-primary hidden_element" id="recalculation_btn">Пересчитать</button>
                    <button type="submit" class="btn btn-primary btn_rigth">Сохранить</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- загрузочный кот -->
<div class="modal fade cat_with_coffee" id="load_cat" tabindex="-1" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog cat_with_coffee">
        <img src="{% static 'common/gif/cat_with_coffee.gif' %}" class="cat_with_coffee">
    </div>
</div>

<script src="{% static 'personalpage/js/mealjournal.js' %}"></script>
{% endblock %}