{% extends 'personalpage/layout.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<h1>Персональная страница клиента: {{ user.username }}</h1><br>

<!-- ссылка на анкету -->
{% if questionary_existing %}
<h3>Вашу анкету можно изменить тут</h3>
{% else %}
<h3>Пожалуйста, заполните анкету</h3>
{% endif %}
<a href="{% url 'questionary' %}"><button class="btn btn-info">Анкета</button></a><br><br>

<!-- измерения за сегодня -->
{% if today_measure %}
    <h3>Данные измерений за сегодня</h3><br>

    <div class="table-responsive today_measure_table">
        <table class="table table-bordered table-fixed">
            <tr><th class="tablerow_name">Дата</th><td>{{ today_measure.date }}</td></tr>
            <tr><th class="tablerow_name">Самочувствие</th><td>{% if today_measure.feel %}{{ today_measure.feel }}/10{% else %}-{% endif %}</td></tr>
            <tr><th class="tablerow_name">Вес</th><td>{% if today_measure.weight %}{{ today_measure.weight }} кг{% else %}-{% endif %}</td></tr>
            <tr><th class="tablerow_name">Процент жира</th><td>{% if today_measure.fat %}{{ today_measure.fat }} %{% else %}-{% endif %}</td></tr>
            <tr><th class="tablerow_name">Пульс в покое</th><td>{% if today_measure.pulse %}{{ today_measure.pulse }} уд/мин{% else %}-{% endif %}</td></tr>
            {% if today_measure.pressure_upper and today_measure.pressure_lower %}<tr><th class="tablerow_name">Давление</th><td>{{ today_measure.pressure_upper }}/{{ today_measure.pressure_lower }}</td></tr>{% endif %}
            {% if today_measure.comment %}<tr><th class="tablerow_name">Комментарий</th><td>{{ today_measure.comment }}</td></tr>{% endif %}
        </table>
    </div><br>
    
    <a href="{% url 'addmeasure' %}"><button class='btn btn-info'>Редактировать записи</button></a><br><br>
{% else %}
    <p>За сегодня измерений не сделано.</p><br>
    <p>Данные необходимо вносить каждый день!</p><br>
    <a href="{% url 'addmeasure' %}"><button class='btn btn-info'>Добавить запись</button></a>
{% endif %}

<!-- дневник питания -->
<a href="{% url 'mealjournal' %}"><button class='btn btn-info'>Дневник питания</button></a><br>

<!-- измерения за неделю-->
<h3>Данные измерений за неделю</h3><br>

<div class="table-responsive">
    <table class="table table-bordered table-fixed">
        <tr><th class="tablerow_name">Дата</th>{% for date in week_data.date %}<th>{{ date|date:"d E" }}</th>{% endfor %}</tr>
        <tr class="week_name"><th class="tablerow_name">День недели</th>{% for weekday in week_data.weekday %}<td class="weekday_text">{{ weekday }}</td>{% endfor %}</tr>
        <tr><th class="tablerow_name">Самочувствие</th>{% for feel in week_data.feel %}<td>{% if feel %}{{ feel }}/10{% endif %}</td>{% endfor %}</tr>
        <tr><th class="tablerow_name">Масса</th>{% for weight in week_data.weight %}<td>{% if weight %}{{ weight }} кг{% endif %}</td>{% endfor %}</tr>
        <tr><th class="tablerow_name">Жирность</th>{% for fat in week_data.fat %}<td>{% if fat %}{{ fat }} %{% endif %}</td>{% endfor %}</tr>
        <tr><th class="tablerow_name">Пульс в покое</th>{% for pulse in week_data.pulse %}<td>{% if pulse %}{{ pulse }}{% endif %}</td>{% endfor %}</tr>
        <tr><th class="tablerow_name">Давление</th>{% for pressure in week_data.pressure %}<td>{{ pressure }}</td>{% endfor %}</tr>  
    </table>
</div>
<div class="table-responsive hidden_element" id="comment_table">
    <table class="table table-bordered table-fixed">
        <tr class="date_row"><th class="tablerow_name">Дата</th>{% for date in week_data.date %}<td>{{ date|date:"d E" }}</td>{% endfor %}</tr>
        <tr><th class="tablerow_name">Комментарии</th>{% for comment in week_data.comment %}<td class="comment_text">{{ comment|truncatechars:250 }}</td>{% endfor %}</tr>
    </table>
</div>

<button class="btn btn-info" id ="comment_btn">Показать комментарии</button><br><br>
    
<script src="{% static 'personalpage/js/personalpage.js' %}"></script>
{% endblock %}