{% extends 'personalpage/layout.html' %}
{% load static %}

{% block title %}Личный кабинет{% endblock %}

{% block content %}

<h2 class="clientname">{{ user.username }}</h2><br>

<!-- ссылка на анкету -->
{% if questionary %}
<p>&#10004; Анкета заполнена</p>
<a href="{% url 'questionary' %}"><button class="btn btn-primary">Редактировать</button></a>
{% else %}
<p>&#10006; Анкета здоровья не заполнена</p>
<a href="{% url 'questionary' %}"><button class="btn btn-primary">Заполнить</button></a>
{% endif %}
<br><br>

<!-- контакты клиента -->
{% if contacts_filled %}
<p>&#10004; Контакты указаны</p>
<button class='btn btn-primary' onclick="openContactsForm()">Редактировать</button>
{% else %}
<p>&#10006; Контакты не указаны</p>
<button class='btn btn-primary' onclick="openContactsForm()">Указать</button>
{% endif %}

<br><br>

<!-- форма контактов -->
{% if contacts_error %}
<div class="d-flex flex-column border-blueshadow rounded p-3" id="contacts_form_container">
{% else %}
<div class="d-flex flex-column border-blueshadow rounded p-3 hidden_element" id="contacts_form_container">
{% endif %}
    <h4 class="text-center">Ссылки на способы связи</h4>
    <p class="text-center text-danger">{{ contacts_error }}</p>
    <form method="post" id="contacts_form" class="w-100">
        {% csrf_token %}
        {{ contacts_form.as_p }}
        <button class="btn btn-outline-primary" type="button" onclick="closeContactsForm()">Отмена</button>
        <button class="btn btn-primary float-end" type="submit">Сохранить</button>
    </form>
</div>

<!-- измерения за сегодня -->
{% if today_measure %}
    <div class="table-responsive today_measure_table" id="today_measure_table">
        <table class="table table-bordered caption-top table-fixed text-center">
            <caption><h4>Показатели за сегодня</h4></caption>
            <tr><th class="tablerow_name">Дата</th><td>{{ today_measure.date }}</td></tr>
            <tr><th class="tablerow_name">Самочувствие</th><td>{% if today_measure.feel %}{{ today_measure.feel }}/10{% else %}-{% endif %}</td></tr>
            <tr><th class="tablerow_name">Вес</th><td>{% if today_measure.weight %}{{ today_measure.weight }} кг{% else %}-{% endif %}</td></tr>
            <tr><th class="tablerow_name">Процент жира</th><td>{% if today_measure.fat %}{{ today_measure.fat }} %{% else %}-{% endif %}</td></tr>
            <tr><th class="tablerow_name">Пульс в покое</th><td>{% if today_measure.pulse %}{{ today_measure.pulse }} уд/мин{% else %}-{% endif %}</td></tr>
            {% if today_measure.pressure_upper and today_measure.pressure_lower %}<tr><th class="tablerow_name">Давление</th><td>{{ today_measure.pressure_upper }}/{{ today_measure.pressure_lower }}</td></tr>{% endif %}
            <tr><th class="tablerow_name">Калории</th><td>{{ today_measure.calories|default_if_none:"-" }}</td></tr>
            <tr><th class="tablerow_name">Белки</th><td>{{ today_measure.protein|default_if_none:"-" }}</td></tr>
            <tr><th class="tablerow_name">Жиры</th><td>{{ today_measure.fats|default_if_none:"-" }}</td></tr>
            <tr><th class="tablerow_name">Углеводы</th><td>{{ today_measure.carbohydrates|default_if_none:"-" }}</td></tr>
            {% if today_measure.comment %}<tr id="tr_today_comment">{% else %}<tr id="tr_today_comment" class="hidden_element">{% endif %}
                <th class="tablerow_name">Комментарий</th><td id="today_comment">{{ today_measure.comment }}</td></tr>
        </table>
    </div><br>
    <a href="{% url 'addmeasure' %}"><button class='btn btn-primary'>Редактировать</button></a><br><br>
{% else %}
    <p>&#10006; За сегодня измерений не сделано</p>
    <a href="{% url 'addmeasure' %}"><button class='btn btn-primary'>Добавить</button></a><br><br>
{% endif %}

<br>

<script src="{% static 'personalpage/js/personalpage.js' %}"></script>
{% endblock %}