{% extends 'layouts/personalpage_layout.html' %}
{% load static %}

{% block title %}Мои настройки{% endblock %}

{% block content %}

<div class="container pt-5">
    <h2 class="text-center">Раздел в разработке</h2>
    <p class="text-center">тут будет:</p>
    <ul class="">
        <li>ваш имейл для восстановления пароля</li>
        <li>выбор своей аватарки</li>
        <li>выбор аватарки для эксперта</li>
        <li>смена стилей оформления</li>
        <li>еще что-нибудь</li>
    </ul>

</div>

{% endblock %}