{% extends layout %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'metrics/css/anthropo.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/page_menu.css' %}">
{% endblock %}

{% block title %}
	<title>{{ client|capfirst }}: антропометрия</title>
{% endblock %}

{% block content %}
    <section id="anthropometry-menu-section">
        <div class="container">
            {% include 'metrics/anthropo_page_menu.html' %}
        </div>
    </section>
    <section id="anthropometry-table-section" class="mb-4">
        <div class="container">
            {% include 'metrics/anthropo_table.html' %}
        </div>
    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'metrics/js/anthropo.js' %}"></script>
{% endblock %}
