@media (min-width: 992px) {
    .d-lg-table-row-group {
        display: table-row-group !important;
    }
}

/* day nutrition */
.bar{
    width: 100%;
    background: #e4e4e4;
    border-radius: 5px;
    overflow: hidden;
}
.bar-scale {
    background: #657ff7;
    width: 0;
    height: 7px;
    border-radius: 5px;
}

/* top tables */
#monthtop-section th {
    max-width: 5rem;
}
@media (min-width: 576px) {
    #monthtop-section th {
        max-width: unset;
    }
}

/* estimation */
#estimation {
    bottom: 0;
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 576px) {
    #estimation {
        left: 1.5rem;
        bottom: 1.5rem;
        width: fit-content;
    }
}
