#recommendations {
    top: 3rem;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 576px) {
    #recommendations {
        top: 187px;
        left: 1.5rem;
        max-width: 400px;
    }
}
@media (min-width: 992px) {
    #recommendations {
        top: 81px;
    }
}
