{% extends 'main/layout.html' %}
{% load static %}

{% block stylesheet %}
  <link rel="stylesheet" href="{% static 'main/css/home.css' %}?update=1">
{% endblock %}

{% block title %}
  <title>Fullstack Health & Fitness</title>
{% endblock %}

{% block content %}
<section id="welcome_section" class="lazy-bg" 
  data-bg-image="{% static 'main/img/home_trapeze.svg' %}, {% static 'main/img/man_lowpoly.jpg' %}">
  <div class="container">
    <h2 class="logo-title mx-auto mx-md-0 align-self-start mt-4 pt-lg-1" name="logo_title">HEALTH & FITNESS</h2>
    <div class="d-flex flex-column align-items-center align-self-center align-self-md-end mb-4 mb-sm-5"
      id="welcome_section_block">
      <h2 class="text-center d-none d-lg-block mb-4 mb-lg-5">
        Индивидуальная стратегия<br> <span class="text-primary"><b>здоровья и активности</b></span>
      </h2>
      <div class="d-flex flex-column mb-xxl-4" id="welcome_section_text">
        <h2 class="text-center d-lg-none mb-4 mb-sm-5">
          Индивидуальная стратегия<br> <span class="text-primary"><b>здоровья и активности</b></span>
        </h2>
        <ul class="mb-0">
          <li class="mb-3 mb-xl-4">Помощь, обучение и поддержка</li>
          <li class="mb-3 mb-xl-4">Обновление тела и разума через модификацию поведения, навыков и знаний</li>
          <li class="mb-3 mb-xl-4">Только научный подход</li>
          <li>Эффективность и ничего лишнего</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="about_specialist_section" class="bg-white">
  <div id="specialist_hello">
    <div class="container">
      <p>Привет, меня зовут</p>
      <h1>Роман !</h1>
      <img src="{% static 'main/img/diagonal_pin.svg' %}" class="diagonal-pin d-none d-md-block">
      <img src="{% static 'main/img/diagonal_pin_slope.svg' %}" class="diagonal-pin d-md-none">
      <p class="mt-3">Я фитнес тренер, <br>нутрициолог и психолог, <br>основатель проекта</p>
    </div>
  </div>
  <div id="photo_and_about_container">
    <div id="specialist_photo_container">
      <img src="" data-src="{% static 'main/img/Roman_the_specialist.png' %}" 
        class="lazy" width="400" height="554">
    </div>
    <div id="about_me_text">
      <div class="container">
        <div id="about_me_text_block">
          <p>
            &emsp; Занимаюсь построением стратегии <span class="text-primary fw-bolder">здоровой жизни</span>
            и активного <span class="text-primary fw-bolder">долголетия</span>.
          </p>
          <p>
            &emsp; Являюсь специалистом по <span class="text-primary fw-bolder">снижению массы тела</span>
            за счет жирового компонента, <span class="text-primary fw-bolder">обучению</span>
            и формированию здорового образа жизни.
          </p>
          <p>
            &emsp; Имею свой <span class="text-primary fw-bolder">личный опыт</span> борьбы и избавления от ожирения,
            набора вредных привычек и сопутствующих проблем со здоровьем, что позволяет мне понимать,
            как на самом деле сложно даётся работа над собой, разделять ваши чувства и мысли.
          </p>
          <p>
            &emsp; Являюсь сторонником доказательного <span class="text-primary fw-bolder">научного подхода</span>
            и <span class="text-primary fw-bolder">эмпатии</span> в работе.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="certificates_container">
    <div class="container">
      <div id="certificates_row" class="d-none d-md-flex">
        <a href="{% static 'main/img/certificates/trainer_diploma.jpg' %}" target="_blank">
          <img src="" data-src="{% static 'main/img/certificates/trainer_diploma_thumbnail.jpg' %}" class="lazy">
        </a>
        <a href="{% static 'main/img/certificates/trainer.jpg' %}" target="_blank">
          <img src="" data-src="{% static 'main/img/certificates/trainer_thumbnail.jpg' %}" class="lazy">
        </a>
        <a href="{% static 'main/img/certificates/nutrition.jpg' %}" target="_blank">
          <img src="" data-src="{% static 'main/img/certificates/nutrition_thumbnail.jpg' %}" class="lazy">
        </a>
        <a href="{% static 'main/img/certificates/psychology_diploma.jpg' %}" target="_blank">
          <img src="" data-src="{% static 'main/img/certificates/psychology_diploma_thumbnail.jpg' %}" class="lazy">
        </a>
      </div>
      <div id="certificates_carousel" class="carousel slide d-md-none" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#certificates_carousel" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#certificates_carousel" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#certificates_carousel" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#certificates_carousel" data-bs-slide-to="3"
            aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="{% static 'main/img/certificates/trainer.jpg' %}" target="_blank">
              <img src="" data-src="{% static 'main/img/certificates/trainer.jpg' %}" class="lazy">
            </a>
          </div>
          <div class="carousel-item">
            <a href="{% static 'main/img/certificates/trainer_diploma.jpg' %}" target="_blank">
              <img src="" data-src="{% static 'main/img/certificates/trainer_diploma.jpg' %}" class="lazy">
            </a>
          </div>
          <div class="carousel-item">
            <a href="{% static 'main/img/certificates/nutrition.jpg' %}" target="_blank">
              <img src="" data-src="{% static 'main/img/certificates/nutrition.jpg' %}" class="lazy">
            </a>
          </div>
          <div class="carousel-item">
            <a href="{% static 'main/img/certificates/psychology_diploma.jpg' %}" target="_blank">
              <img src="" data-src="{% static 'main/img/certificates/psychology_diploma.jpg' %}" class="lazy">
            </a>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#certificates_carousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Предыдущий</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#certificates_carousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Следующий</span>
        </button>
      </div>
    </div>
  </div>
</section>

<section id="why_section" class="bg-white pb-5">
  <div class="container">
    <h2 class="text-nowrap text-center pt-4 pt-md-5">ЗАЧЕМ ВАМ</h2>
    <h2 class="logo-title text-center pb-5" name="logo_title">HEALTH & FITNESS</h2>
    <div class="why_section_block" id="why_section_block1">
      <p class="why_section_txt pin pin_left" id="why_section_txt1">
        <img src="" data-src="{% static 'main/img/why_section_img1_health_mini.svg' %}" width="" class="why_section_img_mini lazy"
          id="why_section_img1_mini">
        Множество распространённых болезней человек приобрёл в современном обществе тотальной гиподинамии и обилия
        калорийной, бедной нутриентами пищи.<br>
        Продлите <span class="text-primary"><b>активное, здоровое долголетие</b></span>, избежав множества
        обследований, лечения и, возможно, даже операций.
        Заботиться о здоровье дома и в зале приятнее, чем исправлять его в больнице.
      </p>
      <img src="" data-src="{% static 'main/img/why_section_img1_health.svg' %}" width="" class="why_section_img lazy"
        id="why_section_img1" width="181" height="213">
    </div>
    <div class="why_section_block" id="why_section_block2">
      <p class="why_section_txt pin pin_right" id="why_section_txt2">
        <img src="" data-src="{% static 'main/img/why_section_img2_success_mini.svg' %}" width="" class="why_section_img_mini lazy"
          id="why_section_img2_mini">
        Современные научные исследования доказывают, что красивые, стройные и ухоженные люди <span
          class="text-primary"><b>больше зарабатывают</b></span>, чаще <span class="text-primary"><b>получают
            работу</b></span> и лучше формируют <span class="text-primary"><b>социальные связи</b></span>.
      </p>
      <img src="" data-src="{% static 'main/img/why_section_img2_success.svg' %}" width="" class="why_section_img lazy"
        id="why_section_img2" width="182" height="159">
    </div>
    <div class="why_section_block" id="why_section_block3">
      <p class="why_section_txt pin pin_left" id="why_section_txt3">
        <img src="" data-src="{% static 'main/img/why_section_img3_care_mini.svg' %}" width="" class="why_section_img_mini lazy"
          id="why_section_img3_mini">
        Человеку свойственно заботиться о своих ближних. Иногда человек старается заботиться о многих.
        Но часто человек забывает <span class="text-primary"><b>заботиться о своём теле и здоровье</b></span>.
        Предлагаем вам об этом вспомнить и позволить нам помочь.
      </p>
      <img src="" data-src="{% static 'main/img/why_section_img3_care.svg' %}" width="" class="why_section_img lazy"
        id="why_section_img3" width="182" height="209">
    </div>
    <div class="why_section_block" id="why_section_block4">
      <p class="why_section_txt pin pin_right" id="why_section_txt4">
        <img src="" data-src="{% static 'main/img/why_section_img4_resource_mini.svg' %}" width="" class="why_section_img_mini lazy"
          id="why_section_img4_mini">
        Часто люди путают фитнес со спортом. Мы не разделяем такой подход.<br>
        В спорте люди тратят ресурс здоровья на борьбу друг с другом. Мы же боремся со старением, болезнями и
        неосознанностью, достигая <span class="text-primary"><b>повышения ресурса здоровья.</b>
      </p>
      <img src="" data-src="{% static 'main/img/why_section_img4_resource.svg' %}" width="" class="why_section_img lazy"
        id="why_section_img4" width="182" height="261">
    </div>
    <div class="why_section_block" id="why_section_block5">
      <p class="why_section_txt pin pin_left" id="why_section_txt5">
        <img src="" data-src="{% static 'main/img/why_section_img5_piggybank_mini.svg' %}" width="" class="why_section_img_mini lazy"
          id="why_section_img5_mini">
        Распространённая ошибка - начать путь к здоровью купив лишь абонемент в зал и опираясь на популярные мнения в
        интернете.<br>
        К сожалению, это будет так же эффективно, как самолечение или психологическое консультирование самого себя.
        Грамотная физическая нагрузка требует знаний физиологии, анатомии, биомеханики, теории и методики тренировки.
        Грамотное питание требует знаний нутрициологии. Долгая дистанция требует знаний психологии. Плюс каждый человек
        особенный и требует персональной работы.<br>
        <span class="text-primary"><b>Сэкономьте деньги, силы и время</b></span>, избежав этих ошибок.
      </p>
      <img src="" data-src="{% static 'main/img/why_section_img5_piggybank.svg' %}" width="" class="why_section_img lazy"
        id="why_section_img5" width="181" height="208">
    </div>
    <div class="why_section_block" id="why_section_block6">
      <p class="why_section_txt pin pin_right" id="why_section_txt6">
        <img src="" data-src="{% static 'main/img/why_section_img6_society_mini.svg' %}" width="" class="why_section_img_mini lazy"
          id="why_section_img6_mini">
        Ощутите себя частью <span class="text-primary"><b>общества осознанных людей</b></span>, понимающих ценность
        себя и своей жизни.
      </p>
      <img src="" data-src="{% static 'main/img/why_section_img6_society.svg' %}" width="" class="why_section_img lazy"
        id="why_section_img6" width="182" height="213">
    </div>
    <div class="why_section_block" id="why_section_block7">
      <img src="" data-src="{% static 'main/img/why_section_img7_new.svg' %}" width="" class="why_section_img lazy"
        id="why_section_img7" width="182" height="215">
      <p class="why_section_txt pin pin_right" id="why_section_txt7">
        <img src="" data-src="{% static 'main/img/why_section_img7_new_mini.svg' %}" width="" class="why_section_img_mini lazy"
          id="why_section_img7_mini">
        <span class="text-primary"><b>Попробуйте что-то новое</b></span>.<br>
        Если вы только решили заниматься здоровьем, начать с нами - отличный вариант!<br>
        Если вы уже собой занимаетесь, но своими силами, попробуйте с нами, вам понравится)<br>
        Если вы занимались с тренером, но ваши пути разошлись, попробуйте пойти нашим путём, может он и ваш тоже)<br>
      </p>
    </div>
  </div>
</section>

<section class="hero_section lazy-bg" id="hero_section1"
  data-bg-image="{% static 'main/img/health_invest_background.jpg' %}">
  <div class="h-100 gradient_blue">
    <div class="container justify-content-center justify-content-lg-end d-flex h-100">
      <h2 class="hero-text">
        Лечение - это траты на здоровье<br>
        Фитнес - инвестиция
      </h2>
    </div>
  </div>
</section>

<section id="what_section" class="bg-white pb-5">
  <div class="container">
    <h2 class="text-nowrap text-center pt-4 pt-md-5">ЧТО ДАЕТ</h2>
    <h2 class="logo-title text-center pb-5 pb-sm-4 pb-md-5 pb-xl-4" name="logo_title">HEALTH & FITNESS</h2>
    <!-- 1 -->
    <div class="d-flex" id="what_section_block1">
      <img src="" data-src="{% static 'main/img/what_section_gear_sm.svg' %}" class="gear_sm lazy align-self-start me-2 me-xl-3">
      <img src="" data-src="{% static 'main/img/what_section_gear_md.svg' %}" class="gear_md lazy">
    </div>
    <!-- 2 -->
    <div class="d-flex what_section_block" id="what_section_block2">
      <img src="" data-src="{% static 'main/img/what_section_gear_lg_health.svg' %}" class="gear_lg lazy"
        onclick="openWhatSectionBlock(event)">
      <div class="what_section_txt">
        <div class="dumbbell_bottom">
          <p class="mb-0 px-3" onclick="openWhatSectionBlock(event)">
            <span class="txt_what d-block">
              <span class="text-primary"><b>Анализ особенностей</b></span> вашего здоровья и физического
              состояния.<br>
            </span><br>
            <span class="txt_how">
              Мы соберём всю необходимую информацию через специальную анкету и консультацию с экспертом.<br>
              При необходимости попросим вас дополнительно проконсультироваться с врачом.
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="d-flex what_section_block" id="what_section_block3">
      <div class="what_section_txt">
        <div class="dumbbell_bottom">
          <p class="mb-0 px-3" onclick="openWhatSectionBlock(event)">
            <span class="txt_what d-block">
              Определение и отслеживание личных возможностей <span class="text-primary"><b>восстановления и
                  утомления</b></span>.
            </span><br>
            <span class="txt_how">
              Ежедневное отслеживание динамических параметров организма и их субъективного восприятия. А также учёт
              меняющихся внешних факторов.
            </span>
          </p>
        </div>
      </div>
      <img src="" data-src="{% static 'main/img/what_section_gear_md.svg' %}" class="gear_md lazy">
      <img src="" data-src="{% static 'main/img/what_section_gear_lg_recovery.svg' %}" class="gear_lg lazy"
        onclick="openWhatSectionBlock(event)">
    </div>
    <!-- 4 -->
    <div class="d-flex what_section_block" id="what_section_block4">
      <img src="" data-src="{% static 'main/img/what_section_gear_md.svg' %}" class="gear_md lazy d-sm-none d-xl-block">
      <img src="" data-src="{% static 'main/img/what_section_gear_lg_goal.svg' %}" class="gear_lg lazy"
        onclick="openWhatSectionBlock(event)">
      <div class="what_section_txt">
        <div class="dumbbell_bottom">
          <p class="mb-0 px-3" onclick="openWhatSectionBlock(event)">
            <span class="txt_what d-block">
              Анализ и <span class="text-primary"><b>конкретизация целей</b></span> и мотивов.
            </span><br>
            <span class="txt_how">
              В ходе личной консультации мы максимально конкретизируем фактические цели и мотивы, о которых вы,
              возможно, и не знали сами.
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="d-flex what_section_block" id="what_section_block5">
      <div class="what_section_txt">
        <div class="dumbbell_bottom">
          <p class="mb-0 px-3 pb-2" onclick="openWhatSectionBlock(event)">
            <span class="txt_what d-block">
              Ежедневный <span class="text-primary"><b>мониторинг состояния</b></span>.
            </span><br>
            <span class="txt_how">
              Удобный набор цифровых инструментов для фиксации важных и информативных физических показателей и
              автоматический доступ специалиста к ним.
            </span>
          </p>
        </div>
      </div>
      <img src="" data-src="{% static 'main/img/what_section_gear_sm.svg' %}" class="gear_sm lazy">
      <img src="" data-src="{% static 'main/img/what_section_gear_lg_monitor.svg' %}" class="gear_lg lazy"
        onclick="openWhatSectionBlock(event)">
    </div>
    <!-- 6 -->
    <div class="d-flex what_section_block" id="what_section_block6">
      <img src="" data-src="{% static 'main/img/what_section_gear_sm.svg' %}" class="gear_sm lazy">
      <img src="" data-src="{% static 'main/img/what_section_gear_lg_training.svg' %}" class="gear_lg lazy"
        onclick="openWhatSectionBlock(event)">
      <div class="what_section_txt">
        <div class="dumbbell_bottom">
          <p class="mb-0 px-3" onclick="openWhatSectionBlock(event)">
            <span class="txt_what d-block">
              Составление <span class="text-primary"><b>персональной программы тренировок</b></span> с равномерным
              развитием всего организма и учётом ваших особенностей и пожеланий.<br>
              <span class="text-primary"><b>Обучение</b></span> эффективной технике.<br>
              Динамическая <span class="text-primary"><b>модификация</b></span> программы в зависимости от изменения
              состояния организма.
            </span><br>
            <span class="txt_how">
              На основе экспертизы состояния вашего организма и ваших стремлений, мы составим максимально эффективную
              индивидуальную программу тренировок, как в отношении здоровья, так и ваших времени и сил.<br>
              Находясь ежедневно с вами на связи и получая фидбек, мы всегда сможем её адаптировать под меняющиеся
              условия и сделать ещё эффективнее.
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="d-flex what_section_block" id="what_section_block7">
      <div class="what_section_txt">
        <div class="dumbbell_bottom">
          <p class="mb-0 px-3" onclick="openWhatSectionBlock(event)">
            <span class="txt_what d-block">
              Удобный <span class="text-primary"><b>цифровой инструментарий</b></span> для работы над здоровьем.<br>
              Всё что нужно, в одном месте.
            </span><br>
            <span class="txt_how">
              Умные журналы:<br>
              <span class="text-primary">&bull;</span> физических показателей<br>
              <span class="text-primary">&bull;</span> питания<br>
              <span class="text-primary">&bull;</span> антропометрии<br>
              <span class="text-primary">&bull;</span> тренировок<br>
              Автоматический анализ долговременных пищевых привычек.<br>
              Конструктор тренировок.<br>
              Инструменты связи со специалистом.
              И другие.
            </span>
          </p>
        </div>
      </div>
      <img src="" data-src="{% static 'main/img/what_section_gear_lg_instruments.svg' %}" class="gear_lg lazy"
        onclick="openWhatSectionBlock(event)">
    </div>
    <!-- 8 -->
    <div class="d-flex what_section_block" id="what_section_block8">
      <img src="" data-src="{% static 'main/img/what_section_gear_md.svg' %}" class="gear_md lazy">
      <img src="" data-src="{% static 'main/img/what_section_gear_lg_nutrition.svg' %}" class="gear_lg lazy"
        onclick="openWhatSectionBlock(event)">
      <div class="what_section_txt">
        <div class="dumbbell_bottom">
          <p class="mb-0 px-3" onclick="openWhatSectionBlock(event)">
            <span class="txt_what d-block">
              Составление персональной понутриентной <span class="text-primary"><b>стратегии рационального
                  питания</b></span>. Без запретов, со свободой выбора продуктов.<br>
              Ежедневный <span class="text-primary"><b>мониторинг и фидбек</b></span> по питанию.<br>
              Плавная и гибкая модификация пищевых привычек.
            </span><br>
            <span class="txt_how">
              Основываясь на экспертизе вашего организма мы определим необходимые нормы нутриентов для любой цели:
              снижение жировой массы; увеличение мышечной массы; сохранение фактической массы.
              И научим как просто и эффективно питаться для набора этих нутриентов, всё с приоритетом улучшения
              здоровья.<br>
              Также будем адаптировать нормы под меняющиеся условия и ежедневно отслеживать ваш дневник питания.
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="d-flex what_section_block" id="what_section_block9">
      <div class="what_section_txt">
        <div class="dumbbell_bottom">
          <p class="mb-0 px-3" onclick="openWhatSectionBlock(event)">
            <span class="txt_what d-block">
              Две гибких <span class="text-primary"><b>консультации</b></span> в неделю.<br>
              Вы имеете возможность <span class="text-primary"><b>выбирать тематику:</b></span><br> питание,
              тренировки, психология.
            </span><br>
            <span class="txt_how">
              У вас есть возможность дважды в неделю связаться с экспертом по видео или аудио связи и получить
              консультацию на ту тему, что вы считаете приоритетной.<br>
              Мы можем обсудить ваше питание, жизненные сложности на пути к здоровью, ваши тренировки.<br>
              Можем разобрать видео записи ваших тренировок или провести тренировку онлайн.
            </span>
          </p>
        </div>
      </div>
      <img src="" data-src="{% static 'main/img/what_section_gear_lg_consult.svg' %}" class="gear_lg lazy"
        onclick="openWhatSectionBlock(event)">
      <img src="" data-src="{% static 'main/img/what_section_gear_sm.svg' %}" class="gear_sm lazy">
    </div>
    <!-- 10 -->
    <div class="d-flex what_section_block" id="what_section_block10">
      <img src="" data-src="{% static 'main/img/what_section_gear_lg_study.svg' %}" class="gear_lg lazy"
        onclick="openWhatSectionBlock(event)">
      <div class="what_section_txt">
        <div class="dumbbell_bottom">
          <p class="mb-0 px-3" onclick="openWhatSectionBlock(event)">
            <span class="txt_what d-block">
              Уклон в <span class="text-primary"><b>обучение</b></span>.<br>
              Чтобы со временем вы со всем справлялись сами.
            </span><br>
            <span class="txt_how">
              В нашей работе мы стараемся не только вести клиента, но и обучать.<br>
              Чтобы человек понимал принципы, не только знал что делать, но и почему.<br>
              Чтобы в итоге вы научились самостоятельно и эффективно развивать и поддерживать здоровье всю вашу жизнь.
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- 11 -->
    <div class="d-flex justify-content-start" id="what_section_block11">
      <img src="" data-src="{% static 'main/img/what_section_gear_md.svg' %}" class="gear_md lazy me-2 me-xl-3">
      <img src="" data-src="{% static 'main/img/what_section_gear_sm.svg' %}" class="gear_sm lazy me-2 align-self-end">
    </div>
  </div>
</section>

<section class="hero_section" id="hero_section2">
  <div id="img_couple" class="lazy-bg h-100" data-bg-image="{% static 'main/img/fitness_couple.png' %}">
    <div class="container d-flex h-100">
      <h2 class="hero-text">
        Красивое тело - лишь приятный побочный эффект.<br>
        Реальный результат - отличное самочувствие и здоровое долголетие.
      </h2>
    </div>
  </div>
</section>

<section id="consultation_section" class="bg-white">
  <div class="container">
    <div class="d-flex flex-column flex-md-row py-5">
      <div class="w-100 w-md-50 pe-5 mb-4" id="consultation_section_text">
        <h2 class="fw-bolder mb-5">
          Запишитесь на <br>
          <span class="text-primary">бесплатную консультацию</span><br>
          со специалистом
        </h2>
        <ul class="ps-4">
          <li class="mb-3 mb-xl-4">вы получите более подробную информацию</li>
          <li class="mb-3 mb-xl-4">обсудите цели и пути их достижения</li>
          <li class="">сможете задать любые вопросы</li>
        </ul>
      </div>
      <div class="d-flex flex-column w-100 w-md-50">
        <form id="consultation-form" method="post" action="{% url 'consults:save_new' %}">
          {{ consult_request_form.as_p }}
          <p class="mb-4" id="consultation_error">&nbsp;</p>
          <button type="submit" class="btn btn-primary w-100">Отправить заявку на консультацию</button>
        </form>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="consultation-confirm-modal" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog shadow">
    <div class="modal-content">
      <div class="modal-header justify-content-center bg-primary">
        <h4 class="modal-title text-white">Спасибо!</h4>
      </div>
      <div class="modal-body text-center">
        <p class="mt-3"><span id="applicant_name" class="text-capitalize"></span>, ваша заявка принята.</p>
        <p class="mb-5">Специалист свяжется с вами в течение двух дней.</p>
        <div class="d-flex justify-content-end">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="location.reload()">Отлично!</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block script %}
  <script src="{% static 'main/js/lazy_backgrounds.js' %}"></script>
  <script src="{% static 'main/js/lazy_images.js' %}"></script>
  <script src="{% static 'main/js/home.js' %}"></script>
  <script src="{% static 'main/js/consult_request.js' %}"></script>
{% endblock %}