/* общее */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.royal_blue {
    color: #5271ff;
}
/* header */
header {
    background-color: #ffffff;
    margin-bottom: 1rem;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.nav_link_container {
    width: 140px;
    height: 50px;
}
.nav_link {
    color: #545454;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    border: none;
    background: none;
}
.nav_link:hover {
    color: #5271ff;
}
/* main */
main {
    padding-top: 130px;
    padding-bottom: 50px;
}
/* стиль кнопок */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5271ff;
    --bs-btn-border-color: #5271ff;
    --bs-btn-hover-color: #f6f6f6;
    --bs-btn-hover-bg: #3f54b2;
    --bs-btn-hover-border-color: #3f54b2;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5271ff;
    --bs-btn-active-border-color: #5271ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5271ff;
    --bs-btn-disabled-border-color: #5271ff;
}
.btn-outline-primary {
    --bs-btn-color: #5271ff;
    --bs-btn-border-color: #5271ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5271ff;
    --bs-btn-hover-border-color: #5271ff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5271ff;
    --bs-btn-active-border-color: #5271ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #5271ff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #5271ff;
    --bs-gradient: none;
}
/* стиль кнопок */
.hidden_element {
    display: none !important;
}
.pointer {
    cursor: pointer;
}
table {
    cursor: default;
}
.width_unset {
    width: auto !important;
}
.borderless{
    border: 1px solid white !important;
    background-color: white !important;
}
.my-hover:hover {
    outline-color: #8f8f8f !important;
    outline-style: auto !important;
    outline-width: 1px !important;
}
input[type="radio"] {
    border-radius: 50%;
    border: 1px solid #ced4da;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="radio"]:checked {
    background-color: white;
    border: solid 6px #5271ff;
}
input[type="radio"]:hover {
    cursor: pointer;
}
input[type="radio"]:focus {
    border-color: #5271ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #0d6efd40;
}
.btn_rigth {
    float: right;
}
.sm_square_btn {
    height: 22px;
    width: 22px;
    line-height: 5px;
    padding: 2px;
}
.clientname {
    color: #5271ff;
    text-decoration: none;
    vertical-align: middle;
    font-size: x-large;
    font-weight: 600;
}
caption {
    color: black;
}
/* общее */

/* загрузочный кот */
.modal.fade.cat_with_coffee {
    right: 0;
    bottom: 0;
    left: unset;
    top: unset;
    height: auto;
    width: auto;
}
.cat_with_coffee { 
    max-width: 380px;
    width: 70%;  
    filter: drop-shadow(3px 0px 3px #0000004e);
    text-align: end;
}
.modal-backdrop {
    transition: all 1.5s ease;
    --bs-backdrop-bg: #61696e;
    --bs-backdrop-opacity: 0.4;
}
.modal.fade .modal-dialog {
    transform: translate(200px,0px);
    transition: transform 2s ease-out;
}
.modal.show .modal-dialog {
    transform: none;
}
.button_clientname {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
/* загрузочный кот */






/* clientpage */
.comment_header {
    width: 280px;
    cursor: move;
    transition: all 1s ease;
    color: #0065fd00;
    margin-right: auto;
    margin-left: auto;
}
.comment_btn.shadow {
    box-shadow: 0 -1px 5px 0.3rem rgb(13 110 253 / 20%) !important;
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
}
.comment_btn.luminosity {
    cursor: default; 
    mix-blend-mode: luminosity;
}
.comment_btn.noluminosity {
    cursor: pointer;
    mix-blend-mode: none;
    filter: hue-rotate(36deg);
}
.luminosity {
    mix-blend-mode: luminosity;
}
.noluminosity {
    mix-blend-mode: none;
    filter: hue-rotate(36deg);
}

.comment_container {
    background-color: white;
    border: 1px solid #cfd6e1;
    border-radius: 7px;
    padding: 5px;
    cursor: default;
}
.container_commentform {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: #ebefff;
    max-width: 352px;
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 60%;
}
.period_select {
    display: flex;
    max-width: 380px;
    align-items: baseline;
    justify-content: space-between;
    white-space: nowrap;
    flex-flow: wrap;
}
#input_period {
    max-width: 70px;
    padding: 6px;
}
/* clientpage */


/* questionary */
@media screen and (min-width: 576px) {
    .questionary_container {
        border: 1px solid #dee2e6;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 8px 1px #9fbfc5;
    } 
}
.fullname_question, .birthdate_question  {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
#fullname_label, #birthdate_label {
    padding-right: 20px;
    width: 20%;
}
@media screen and (max-width: 991px) {
    #fullname_label, #birthdate_label {
        width: 35%;
    }
}
input[type="radio"]:hover {
    cursor: default;
}
.boolquestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.boolanswers {
    display: flex;
    flex-direction: row;
    min-width: 7em;
    justify-content: space-between;
    font-size: 20px;
}
@media screen and (max-width: 500px) {
    .boolanswers {
        flex-direction: column;
        align-items: flex-end;
        min-width: 3em;
        margin-right: 5px;
    }
}
.boolanswers p {
    margin-right: 5px;
    margin-bottom: 3px;
}
.exp_question {
    margin-right: 3rem;
    margin-bottom: unset;
    white-space: nowrap;
}
.question {
    margin-right: 2rem;
    margin-bottom: unset;
}
.radioanswers {
    display: flex;
    flex-direction: column;
}
.radioanswer {
    display: flex;
    padding: 1px;
}
.label_for_radio {
    margin-left: 10px;
}
.radioanswer_line {
    display: flex;
    margin: 10px 15px;
}
.radioanswer_line input[type="radio"] {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
/* questionary */


/* mealjournal */
#another_date_container_mealjournal {
    width: 310px;
    float: right;
    margin-right: 40px;
    margin-top: -10px;
}
#another_date_container {
    width: 310px;
    float: right;
    margin-top: -8px;
}
#back_btn_mealjournal {
    margin-top: -18px;
}
#text_warning_nometrics_mealjournal {
    margin-top: 28px;
}
#input_briefdate {
    max-width: 200px;
    display: inline;
}
#input_briefmonth {
    max-width: 200px;
    display: inline;
}

#cat_with_coffee {
    height: 122px;
    width: 152px;
    align-self: center;
}
.top_table {
    box-shadow: 0 0 1px 1px #dee2e6;
}
.top_table_ol {
    padding-right: 109px;
    padding-left: 109px;
}

@media screen and (max-width: 991px) {
    .top_table_ol {
        padding-right: 0;
        padding-left: 0;
    }
}
.add_metric_container {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
#foodmetricsave_status {
    transition: all 1s ease;
    color: #0065fd00;
}
/* mealjournal */

/* anthropometry */
.anthropometry_form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
.td_photo_btns {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.show_photo_btn.shadow {
    box-shadow: 0 1px 4px 4px rgb(13 110 253 / 20%) !important;
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5)) hue-rotate(36deg);
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5)) hue-rotate(36deg);
}
.show_photo_btn {
    cursor: pointer;
    filter: hue-rotate(36deg);
}
.show_photo_btn.luminosity {
    cursor: default;
    mix-blend-mode: luminosity;
}
.container_photo {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: #ebefff;
    min-width: 300px;
    max-width: 600px;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 10%;
    right: 10%;
    box-shadow: 0 0 8px 1px #00000052;
}
.container_photo img {
    border-radius: 10px;
    width: -webkit-fill-available;
}
.container_photo p {
    margin-bottom: 4px;
    cursor: default;
}
.close_photo_btn {
    float: right;
}
/* anthropometry */

/* measurements */
.border-grey {
    border-color: #dee2e6;
}
