/* общее */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.hidden_element {
    display: none !important;
}
table {
    cursor: default;
}
.width_unset {
    width: auto !important;
}
.borderless{
    border: 1px solid white !important;
    background-color: white !important;
}
.my-hover:hover {
    outline-color: #8f8f8f !important;
    outline-style: auto !important;
    outline-width: 1px !important;
}
input[type="radio"] {
    border-radius: 50%;
    border: 1px solid #ced4da;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="radio"]:checked {
    background-color: white;
    border: solid 6px #0d6efd;
}
input[type="radio"]:hover {
    cursor: pointer;
}
input[type="radio"]:focus {
    border-color: #0d6efd;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #0d6efd40;
}
.btn_rigth {
    float: right;
}
.sm_square_btn {
    height: 22px;
    width: 22px;
    line-height: 5px;
    padding: 2px;
}
h2.clientname {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 0.375rem 0.75rem;
    color: #0066c9;
}
caption {
    color: black;
}
/* общее */


/* layout */
header {
    background-color: #bce0ed;
}
footer {
    background-color: #bce0ed;
    margin-top: 1.5rem!important;
}
/* layout */


/* controlpage */
#fluffy_cat {
    height: 154px;
    position: absolute;
    right: 15px;
    margin-top: -93px;
}
/* controlpage */


/* clientpage */
.comment_header {
    width: 280px;
    cursor: move;
    transition: all 1s ease;
    color: #0065fd00;
    margin-right: auto;
    margin-left: auto;
}
.comment_btn.shadow {
    box-shadow: 0 -1px 5px 0.3rem rgb(13 110 253 / 20%) !important;
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
}
.comment_btn.luminosity {
    cursor: default; 
    mix-blend-mode: luminosity;
}
.comment_btn.noluminosity {
    cursor: pointer;
    mix-blend-mode: none;
}
.comment_container {
    background-color: white;
    border: 1px solid #cfd6e1;
    border-radius: 7px;
    padding: 5px;
    cursor: default;
}
.container_commentform {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: aliceblue;
    max-width: 352px;
    position: absolute;
    z-index: 10;
    top: 60%;
    left: 60%;
}
/* clientpage */


/* questionary */
@media screen and (min-width: 576px) {
    .questionary_container {
        border: 1px solid #dee2e6;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 8px 1px #9fbfc5;
    } 
}
.fullname_question, .birthdate_question  {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
#fullname_label, #birthdate_label {
    padding-right: 20px;
    width: 20%;
}
@media screen and (max-width: 991px) {
    #fullname_label, #birthdate_label {
        width: 35%;
    }
}
input[type="radio"]:hover {
    cursor: default;
}
.boolquestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.boolanswers {
    display: flex;
    flex-direction: row;
    min-width: 7em;
    justify-content: space-between;
    font-size: 20px;
}
@media screen and (max-width: 500px) {
    .boolanswers {
        flex-direction: column;
        align-items: flex-end;
        min-width: 3em;
        margin-right: 5px;
    }
}
.boolanswers p {
    margin-right: 5px;
    margin-bottom: 3px;
}
.exp_question {
    margin-right: 3rem;
    margin-bottom: unset;
    white-space: nowrap;
}
.question {
    margin-right: 2rem;
    margin-bottom: unset;
}
.radioanswers {
    display: flex;
    flex-direction: column;
}
.radioanswer {
    display: flex;
    padding: 1px;
}
.label_for_radio {
    margin-left: 10px;
}
.radioanswer_line {
    display: flex;
    margin: 10px 15px;
}
.radioanswer_line input[type="radio"] {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
/* questionary */


/* mealjournal */
#another_date_container_mealjournal {
    width: 310px;
    float: right;
    margin-right: 40px;
    margin-top: -10px;
}
#another_date_container {
    width: 310px;
    float: right;
    margin-top: -8px;
}
#back_btn_mealjournal {
    margin-top: -18px;
}
#text_warning_nometrics_mealjournal {
    margin-top: 28px;
}
#input_briefdate {
    max-width: 200px;
    display: inline;
}
#input_briefmonth {
    max-width: 200px;
    display: inline;
}
.date_header {
    border: 1px solid #cfcfcf;
    padding: 7px 13px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.month_header {
    border: 1px solid #cfcfcf;
    padding: 7px 13px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#cat_with_coffee {
    height: 122px;
    width: 152px;
    align-self: center;
}
.top_table {
    box-shadow: 0 0 1px 1px #dee2e6;
}
.top_table_ol {
    padding-right: 109px;
    padding-left: 109px;
}

@media screen and (max-width: 991px) {
    .top_table_ol {
        padding-right: 0;
        padding-left: 0;
    }
}
.add_metric_container {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
#foodmetricsave_status {
    transition: all 1s ease;
    color: #0065fd00;
}
/* mealjournal */
