/* общее */
*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* скролл */
::-webkit-scrollbar {
    max-width: 9px;
    max-height: 9px;
    background-color: #f8f8f8;
}
::-webkit-scrollbar-thumb {
    background-color: #bdcbf3;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #92a7e0;
}
::-webkit-scrollbar-track {
    background-color: #eeeef570;
}

.royal_blue {
    color: #5271ff !important;
}
.text-royalblue {
    color: #5271ff !important;
}
.bg-royalblue {
    background-color: #5271ff;
}
.text-light-grey {
    color: #b9b9b9;
}
.text-error {
    color: #f02767 !important;
}
.text-success {
    color: #00c0f0 !important;
}

.link {
    color: #5271ff;
    text-decoration: none;
    font-weight: bolder;
    border: none;
    background-color: unset;
}
.link:hover {
    color: var(--bs-link-hover-color);
    cursor: pointer;
}

.border-outset {
    border: outset;
}
.border-blueshadow {
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
.arrow_btn:hover {
    filter: brightness(0.7);
    cursor: pointer;
}
.w-fill {
    width: -webkit-fill-available;
}

.fw-500 {
    font-weight: 500;
}

.hover_brigh:hover {
    filter: brightness(0.7);
}

/* комменты и заметки */
#client_comment_form_container,
#clientnote_container,
#full_clientnote_container {
    max-width: 600px !important;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
#client_comment_form_container {
    background-color: #ffffff;
}
#clientnote_container {
    background-color: #e8ebfa;
}
#full_clientnote_container {
    background-color: #5271ff;
    max-width: 500px !important;
}

.comment_section, .note_section {
    color: #5271ff;
    font-weight: 500;
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    z-index: 2;
    background-color: white;
    position: relative;
    display: inline-flex;
    order: 4;
}
@media (min-width: 576px) {
    .comment_section, .note_section {
       order: 1; 
    }
}
.comment_section.closed, .note_section.closed {
    background-color: unset;
    color: #545454;
    z-index: 0;
    border: none;
    order: 1;
}
@media (min-width: 576px) {
    .comment_section.closed, .note_section.closed {
        background-color: white;
        border: 1px solid #ced4da;
    }
}

.comment_section.closed:hover, .note_section.closed:hover {
    cursor: pointer;
    color: #5271ff;
}

#id_date_comment,
#id_date_note {
    width: 144px;
}
@media (min-width: 576px) {
    #id_date_comment,
    #id_date_note {
        width: 175px;
    }
}

.w-10 {
    width: 10%;
}
@media (min-width: 576px) {
   .w-sm-30 {
        width: 30%;
    }
}
.w-95 {
    width: 95% !important;
}

#client_comment_form textarea, #clientnote_container textarea {
    border: 1px solid #ced4da;
    z-index: 1;
    position: relative;
    padding-top: 15px;
}
#client_comment_form textarea:focus, #clientnote_container textarea:focus {
   box-shadow: none;
}

.categories {
    max-width: 21rem;
    margin-bottom: -9px;
}
@media (min-width: 576px) {
    .categories {
        max-width: unset;
    }
}

#full_clientnote_btn {
    padding-top: 3px;
    height: 34px;
}

.close_btn, .ok_btn {
    min-width: 25px;
    height: 25px;
    --bs-btn-padding-y: unset;
    font-size: 13px;
}

.date_arrow:hover {
    cursor: pointer;
    color: #3f54b2;
}

.cursor-move {
    cursor: move;
}


/* header */
header {
    background-color: #ffffff;
    margin-bottom: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.nav_link_container {
    width: 140px;
    height: 50px;
}
.nav_link {
    color: #545454;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
    border: none;
    background: none;
}
.nav_link:hover {
    color: #5271ff;
}

header .clientname {
    max-width: -webkit-fill-available;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#exit_pic {
    filter: grayscale(1) brightness(0.9);
}
#exit_pic:hover {
    filter: unset;
}

.border-blueshadow {
    border: 1px solid #ced4da;
    border-radius: 10px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}

#open_label_drop {
    color: #5271ff;
    text-decoration: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 500;
}


#logo_mini {
    pointer-events: none;
}



#logout_btn_pic {
    padding-top: 5px;
    display: none;
}
#logout_btn_pic:hover img {
    filter: brightness(1000%) contrast(100%);
}
@media (min-width: 450px) {
    #logout_btn {
        display: none;
    }
    #logout_btn_pic {
        display: inline-block;
    }
}
@media (min-width: 600px) {
    #logout_btn {
        display: inline-block;
    }
    #logout_btn_pic {
        display: none;
    }
}

#link_clients {
    margin-bottom: 3px;
}
@media (min-width: 433px) {
    #link_clients {
        margin-bottom: 0;
    }
}

#new_consult_signup_count {
    background-color: #5271ff;
    color: white;
    border: 1px solid #5271ff;
    padding: 4px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 28px;
    height: 26px;
    font-size: 15px;
}

/* стиль кнопок */
.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #5271ff;
    --bs-btn-border-color: #5271ff;
    --bs-btn-hover-color: #f6f6f6;
    --bs-btn-hover-bg: #3f54b2;
    --bs-btn-hover-border-color: #3f54b2;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5271ff;
    --bs-btn-active-border-color: #5271ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #5271ff;
    --bs-btn-disabled-border-color: #5271ff;
}
.btn-outline-primary {
    --bs-btn-color: #5271ff;
    --bs-btn-border-color: #5271ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #5271ff;
    --bs-btn-hover-border-color: #5271ff;
    --bs-btn-focus-shadow-rgb: 13,110,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #5271ff;
    --bs-btn-active-border-color: #5271ff;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #5271ff;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #5271ff;
    --bs-gradient: none;
}
.btn-danger {
    --bs-btn-bg: #f02767;
    --bs-btn-border-color: #f02767;
    --bs-btn-hover-bg: #bb2d55;
    --bs-btn-hover-border-color: #bb2d55;
    --bs-btn-active-bg: #bb2d55;
    --bs-btn-active-border-color: #bb2d55;
    --bs-btn-disabled-border-color: #f02767;
}
/* стиль кнопок */
.hidden_element {
    display: none !important;
}
.pointer {
    cursor: pointer;
}
table {
    cursor: default;
}
.width_unset {
    width: auto !important;
}
.borderless{
    border: 1px solid white !important;
    background-color: white !important;
}
.my-hover:hover {
    outline-color: #8f8f8f !important;
    outline-style: auto !important;
    outline-width: 1px !important;
}
input[type="radio"] {
    border-radius: 50%;
    border: 1px solid #ced4da;
    width: 20px;
    min-width: 20px;
    height: 20px;
    background-color: #ffffff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input[type="radio"]:checked {
    background-color: white;
    border: solid 6px #5271ff;
}
input[type="radio"]:hover {
    cursor: pointer;
}
input[type="radio"]:focus {
    border-color: #5271ff;
    outline: 0;
    box-shadow: 0 0 0 0.25rem #0d6efd40;
}
.btn_rigth {
    float: right;
}
.sm_square_btn {
    height: 22px;
    width: 22px;
    line-height: 5px;
    padding: 2px;
}
.clientname {
    color: #5271ff;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 600;
    line-height: 22px;
    font-size: large;
}
@media (min-width: 576px) {
    .clientname {
        color: #5271ff;
        text-decoration: none;
        vertical-align: middle;
        font-size: x-large;
        font-weight: 600;
        line-height: initial;
    }
}

caption {
    color: black;
}
/* общее */

/* загрузочный кот */
#load_cat {
    right: 0;
    bottom: 0;
    left: unset;
    top: unset;
    height: auto;
    width: auto;
}
.cat_with_coffee { 
    max-width: 380px;
    width: 70%;  
    filter: drop-shadow(3px 0px 3px #0000004e);
    text-align: end;
}
.modal-backdrop {
    transition: all 1.5s ease;
    --bs-backdrop-bg: #61696e;
    --bs-backdrop-opacity: 0.4;
}
.modal.fade.cat_with_coffee .modal-dialog {
    transform: translate(200px,0px);
    transition: transform 2s ease-out;
}
.modal.show.cat_with_coffee .modal-dialog {
    transform: none;
}
.button_clientname {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
/* загрузочный кот */






/* client_mainpage */
.comment_header {
    width: 280px;
    cursor: move;
    transition: all 1s ease;
    color: #0065fd00;
    margin-right: auto;
    margin-left: auto;
}
.comment_btn.shadow {
    box-shadow: 0 -1px 5px 0.3rem rgb(13 110 253 / 20%) !important;
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
}
.comment_btn.luminosity {
    cursor: default; 
    mix-blend-mode: luminosity;
}
.comment_btn.noluminosity {
    cursor: pointer;
    mix-blend-mode: none;
    filter: hue-rotate(36deg);
}
.luminosity {
    mix-blend-mode: luminosity;
}
.noluminosity {
    mix-blend-mode: none;
    filter: hue-rotate(36deg);
}
.tablerow_name {
    text-align: left;
    width: 128px;
}
/* client_mainpage */


/* health_questionary */
@media screen and (min-width: 576px) {
    .health_questionary_container {
        border: 1px solid #dee2e6;
        border-radius: 10px;
        padding: 30px;
        box-shadow: 0 0 8px 1px #9fbfc5;
    } 
}
.fullname_question, .birthdate_question  {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
#fullname_label, #birthdate_label {
    padding-right: 20px;
    width: 20%;
}
@media screen and (max-width: 991px) {
    #fullname_label, #birthdate_label {
        width: 35%;
    }
}
input[type="radio"]:hover {
    cursor: default;
}
.boolquestion {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion {
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}
.openquestion_line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.boolanswers {
    display: flex;
    flex-direction: row;
    min-width: 7em;
    justify-content: space-between;
    font-size: 20px;
}
@media screen and (max-width: 500px) {
    .boolanswers {
        flex-direction: column;
        align-items: flex-end;
        min-width: 3em;
        margin-right: 5px;
    }
}
.boolanswers p {
    margin-right: 5px;
    margin-bottom: 3px;
}
.exp_question {
    margin-right: 3rem;
    margin-bottom: unset;
    white-space: nowrap;
}
.question {
    margin-right: 2rem;
    margin-bottom: unset;
}
.radioanswers {
    display: flex;
    flex-direction: column;
}
.radioanswer {
    display: flex;
    padding: 1px;
}
.label_for_radio {
    margin-left: 10px;
}
.radioanswer_line {
    display: flex;
    margin: 10px 15px;
}
.radioanswer_line input[type="radio"] {
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
/* health_questionary */

/* measurements */
#measure_table_period {
    max-height: 81vh;
}
.comment_container {
    background-color: white;
    border: 1px solid #cfd6e1;
    border-radius: 7px;
    padding: 5px;
    cursor: default;
}
.container_commentform {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: #ebefff;
    width: 352px;
    max-width: 95vw;
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
.period_select {
    display: flex;
    max-width: 380px;
    align-items: baseline;
    justify-content: space-between;
    white-space: nowrap;
    flex-flow: wrap;
}
#input_period {
    max-width: 70px;
}
.today_measure_table {
    max-width: 500px;
    min-width: 285px;
}
.comment_pic_royalblue {
    filter: hue-rotate(36deg);
}
/* measurements */

/* mealjournal */
#container_recommend_nutrition_form {
    backface-visibility: hidden;
    background-color: #ebefff;
    position: fixed;
    width: 18rem;
    z-index: 10;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}
@media (min-width: 576px) {
    #container_recommend_nutrition_form {
        right: 30%;
    }
}

#select_date_section_mealjournal {
    max-width: 310px;
}
#back_btn_mealjournal {
    margin-top: -18px;
}
.without_info_row input[type="number"] {
    text-align: center;
    display: inline;
}
.without_info_row select {
    display: inline;
    width: unset;
}

#cat_with_coffee {
    height: 122px;
    width: 152px;
    align-self: center;
}
.top_table {
    box-shadow: 0 0 1px 1px #dee2e6;
}
.top_table_ol {
    padding-right: 109px;
    padding-left: 109px;
}

@media screen and (max-width: 991px) {
    .top_table_ol {
        padding-right: 0;
        padding-left: 0;
    }
}
.add_metric_container {
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
#foodmetricsave_status {
    transition: all 1s ease;
    color: #0065fd00;
}
/* mealjournal */

/* foodbymonth */
#cat_with_coffee {
    height: 122px;
    width: 152px;
    align-self: center;
}
.min-vh {
    min-height: 64vh;
}
@media (min-width: 576px) {
    .min-vh {
        min-height: 79vh;
    }  
}
#select_month_section {
    max-width: 310px;
}
/* foodbymonth */

/* foodbydate */
.min-vh {
    min-height: 64vh;
}
@media (min-width: 576px) {
    .min-vh {
        min-height: 79vh;
    }  
}
#select_date_section {
    max-width: 310px;
}
/* foodbydate */


/* anthropometry */
.anthropometry_form {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #dee2e6;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 8px 1px #9fbfc5;
}
.td_photo_btns {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.show_photo_btn.shadow {
    box-shadow: 0 1px 4px 4px rgb(13 110 253 / 20%) !important;
    background-color: rgb(13 110 253 / 20%);
    border-radius: 3px;
    filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5)) hue-rotate(36deg);
    -webkit-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.5)) hue-rotate(36deg);
}
.show_photo_btn {
    cursor: pointer;
    filter: hue-rotate(36deg);
}
.show_photo_btn.luminosity {
    cursor: default;
    mix-blend-mode: luminosity;
}
.container_photo {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    backface-visibility: hidden;
    background-color: #ebefff;
    min-width: 300px;
    max-width: 600px;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 10%;
    right: 10%;
    box-shadow: 0 0 8px 1px #00000052;
}
.container_photo img {
    border-radius: 10px;
    width: -webkit-fill-available;
}
.container_photo p {
    margin-bottom: 4px;
    cursor: default;
}
.close_photo_btn {
    float: right;
}

#btn_show_all:hover {
    filter: contrast(0.9);
    cursor: pointer;
}
/* anthropometry */

/* measurements */
.border-grey {
    border-color: #ced4da !important;
}

#color1 {
    background-color: #27de27;
}
#color2 {
    background-color: #96e332;
}
#color3 {
    background-color: #e3e332;
}
#color4 {
    background-color: #f1b937;
}
#color5 {
    background-color: #ff8063 ;
}

.text-transparent {
    color: #ffffff00;
}
.transition_common {
    transition: all 1s ease;
}

.form_saved {
    color: #00c0f0 !important;
    transition: all 1s ease !important;
}
.form_not_saved {
    color: #ff1943 !important;
    transition: all 1s ease !important;
}

#save_status {
    transition: all 1s ease;
}

#colorsettings_ref:hover img {
    filter: brightness(0) invert(1); 
}

.closed_measurements_header:hover {
    color: #5271ff;
    
    background: white;

}

.closed_measurements_header {
    color: #8b8b8b;
    background: white;

    border: none;
}

/* footer */
footer {
    background-color: #5271ff;
    border-top-color: #b9b9b9;
    border-top-style: solid;
    border-top-width: 3px;
    margin-top: auto;
}
.mail_ref {
    color: #b9b9b9;
    text-decoration: none;
}
.mail_ref:hover {
    color: black;
}

.contact_ico {
    height: 25px;
    filter: invert(1);
}
.contact_ico:hover {
    filter: brightness();
}

#preferred_contact_ico {
    filter: drop-shadow(0px 0px 8px cyan);
}

#client_contacts {
    margin-left: 3.5rem;
}
@media (min-width: 576px) {
    #client_contacts {
        margin-left: 0;
    }
}

