#note-btn {
    position: absolute;
    z-index: 2;
    right: 6rem;
    top: -30px;
    border: 3px solid #b9b9b9;
}
#note-btn img {
    padding: 10px;
}

#note {
    top: 3rem;
    width: 100%;
    overflow: hidden;
}
@media (min-width: 576px) {
    #note {
        top: 182px;
        left: 1.5rem;
        max-width: fit-content;
    }
}
@media (min-width: 992px) {
    #note {
        top: 88px;
    }
}
#note textarea:focus,
#note textarea:focus {
    box-shadow: none;
    border-color: #dee2e6;
}
