{% load static %}

<!-- меню дополнительных функций -->
<div class="extra-menu">
    <div class="extra-menu-date">
      <span class="text-center">{% now "j E" %}</span>
    </div>
    <div class="extra-menu-btns">
        {% if for_expert %}
            <div class="extra-menu-item not-implemented" title="Только для клиента">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                <span>Измерение</span>
            </div>
        {% else %}
            <a class="extra-menu-item" title="Добавить измерения" id="btn_add_anthropo" data-bs-toggle="modal" data-bs-target="#new_entry_modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                <span>Измерение</span>
            </a>
        {% endif %}
        {% if for_expert %}
            {% if photoaccess_allowed %}
                <div class="extra-menu-item not-implemented" title="Клиент разрешил доступ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg>
                    <span>Доступ к фото</span>
                </div>
            {% else %}
                <div class="extra-menu-item not-implemented" title="Клиент запретил доступ">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    <span>Доступ к фото</span>
                </div>
            {% endif %}
        {% else %}
            {% if photoaccess_allowed %}
                <div class="extra-menu-item access-allowed" id="photo-access-btn" title="Переключить доступ эксперта к фото">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    {% csrf_token %}
                    <span>Доступ к фото</span>
                </div>
            {% else %}
                <div class="extra-menu-item" id="photo-access-btn" title="Переключить доступ эксперта к фото">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                    </svg>
                    {% csrf_token %}
                    <span>Доступ к фото</span>
                </div>
            {% endif %}
        {% endif %}
        <a class="extra-menu-item" title="Страница дневных измерений" href="{% url 'measurementspage' %}?client_id={{ client.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-heart" viewBox="0 0 16 16">
                <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
            </svg>
            <span>Дневные измерения</span>
        </a>
    </div>
</div>

<!-- записанные измерения -->
{% if not entries %}
<div class="block-container empty">
    <div class="block-header">
        <span>Измерения</span>
    </div>
    <div class="block-content">
        <p class="text-center mt-2">Данные отсутствуют</p>
    </div>
</div>
{% else %}
    {% if show_all_entries %}
        <!-- все измерения -->
        <div class="block-container">
            <div class="block-header">
                <span>Все измерения</span>
            </div>
            <div class="block-content overflow-auto">
                <table class="table table-bordered table-hover align-middle text-center mb-0" id="all_anthropo_table">
                    <thead class="table-light">
                        <tr class="d-none d-md-table-row">
                            <th class="d-none d-md-table-cell">Дата</th>
                            <th>Плечо</th>
                            <th>Грудь</th>
                            <th>Талия</th>
                            <th>Живот</th>
                            <th>Ягодицы</th>
                            <th>Бедро</th>
                            <th>Голень</th>
                            {% if not for_expert or photoaccess_allowed %}
                                <th>Фото</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for metric in entries.all|dictsort:"date" %}
                        <tr class="d-md-none table-light">
                            <th colspan="8" class="text-start text-sm-center ps-3 ps-sm-0">{{ metric.date|date:"j E Y" }}</th>
                        </tr>
                        <tr class="d-md-none">
                            <td>Плечо</td>
                            <td>Грудь</td>
                            <td>Талия</td>
                            <td>Живот</td>
                            <td>Ягод.</td>
                            <td>Бедро</td>
                            <td>Голень</td>
                            {% if not for_expert or photoaccess_allowed %}
                                <td>Фото</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="d-none d-md-table-cell">{{ metric.date|date:"j E Y" }}</td>
                            <td>{{ metric.shoulder|default_if_none:"-" }}</td>
                            <td>{{ metric.chest|default_if_none:"-" }}</td>
                            <td>{{ metric.waist|default_if_none:"-" }}</td>
                            <td>{{ metric.belly|default_if_none:"-" }}</td>
                            <td>{{ metric.buttocks|default_if_none:"-" }}</td>
                            <td>{{ metric.hip|default_if_none:"-" }}</td>
                            <td>{{ metric.shin|default_if_none:"-" }}</td>
                            {% if not for_expert or photoaccess_allowed %}
                                <td>
                                    {% if metric.photo_1 %}
                                        <img src="{% static 'measurements/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" value="" id="btn_photo_1_metric{{ forloop.counter }}">
                                        <div class="container_photo hidden" id="photo_1_metric{{ forloop.counter }}">
                                            <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                            id="close_photo_1_metric{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                            <p class="text-center">{{ metric.date }}</p>
                                            <img src="{{ metric.photo_1.url }}">
                                        </div>
                                    {% endif %}
                                    {% if metric.photo_2 %}
                                        <img src="{% static 'measurements/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" value="" id="btn_photo_2_metric{{ forloop.counter }}">
                                        <div class="container_photo hidden" id="photo_2_metric{{ forloop.counter }}">
                                            <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                            id="close_photo_2_metric{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                            <p class="text-center">{{ metric.date }}</p>
                                            <img src="{{ metric.photo_2.url }}">
                                        </div>
                                    {% endif %}
                                    {% if metric.photo_3 %}
                                        <img src="{% static 'measurements/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" value="" id="btn_photo_3_metric{{ forloop.counter }}">
                                        <div class="container_photo hidden" id="photo_3_metric{{ forloop.counter }}">
                                            <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                            id="close_photo_3_metric{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                            <p class="text-center">{{ metric.date }}</p>
                                            <img src="{{ metric.photo_3.url }}">
                                        </div>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <!-- первое измерение -->
        <div class="block-container">
            <div class="block-header">
                <span>Первое измерение</span>
            </div>
            <div class="block-content overflow-auto">
                <table class="table table-bordered table-hover align-middle text-center mb-0">
                    <thead class="table-light">
                        <tr class="d-none d-md-table-row">
                            <th class="d-none d-md-table-cell">Дата</th>
                            <th>Плечо</th>
                            <th>Грудь</th>
                            <th>Талия</th>
                            <th>Живот</th>
                            <th>Ягодицы</th>
                            <th>Бедро</th>
                            <th>Голень</th>
                            {% if not for_expert or photoaccess_allowed %}
                                {% if entries.first.photo_1 or entries.first.photo_2 or entries.first.photo_3 %}
                                    <th>Фото</th>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="d-md-none table-light">
                            <th colspan="8" class="text-start text-sm-center ps-3 ps-sm-0">{{ entries.first.date|date:"j E Y" }}</th>
                        </tr>
                        <tr class="d-md-none">
                            <td>Плечо</td>
                            <td>Грудь</td>
                            <td>Талия</td>
                            <td>Живот</td>
                            <td>Ягод.</td>
                            <td>Бедро</td>
                            <td>Голень</td>
                            {% if not for_expert or photoaccess_allowed %}
                                {% if entries.first.photo_1 or entries.first.photo_2 or entries.first.photo_3 %}
                                    <td>Фото</td>
                                {% endif %}
                            {% endif %}
                        </tr>
                        <tr>
                            <td class="d-none d-md-table-cell">{{ entries.first.date|date:"j E Y" }}</td>
                            <td>{{ entries.first.shoulder|default_if_none:"-" }}</td>
                            <td>{{ entries.first.chest|default_if_none:"-" }}</td>
                            <td>{{ entries.first.waist|default_if_none:"-" }}</td>
                            <td>{{ entries.first.belly|default_if_none:"-" }}</td>
                            <td>{{ entries.first.buttocks|default_if_none:"-" }}</td>
                            <td>{{ entries.first.hip|default_if_none:"-" }}</td>
                            <td>{{ entries.first.shin|default_if_none:"-" }}</td>
                            {% if not for_expert or photoaccess_allowed %}
                                {% if entries.first.photo_1 or entries.first.photo_2 or entries.first.photo_3 %}
                                    <td>
                                        {% if entries.first.photo_1 %}
                                            <img src="{% static 'measurements/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" id="btn_photo_1_entries.first{{ forloop.counter }}">
                                            <div class="container_photo hidden" id="photo_1_entries.first{{ forloop.counter }}">
                                                <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                id="close_photo_1_entries.first{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                <p class="text-center">{{ entries.first.date }}</p>
                                                <img src="{{ entries.first.photo_1.url }}">
                                            </div>
                                        {% endif %}
                                        {% if entries.first.photo_2 %}
                                            <img src="{% static 'measurements/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" id="btn_photo_2_entries.first{{ forloop.counter }}">
                                            <div class="container_photo hidden" id="photo_2_entries.first{{ forloop.counter }}">
                                                <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                id="close_photo_2_entries.first{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                <p class="text-center">{{ entries.first.date }}</p>
                                                <img src="{{ entries.first.photo_2.url }}">
                                            </div>
                                        {% endif %}
                                        {% if entries.first.photo_3 %}
                                            <img src="{% static 'measurements/img/photo_pic.png' %}" title="показать фото" width="30"
                                            class="show_photo_btn" id="btn_photo_3_entries.first{{ forloop.counter }}">
                                            <div class="container_photo hidden" id="photo_3_entries.first{{ forloop.counter }}">
                                                <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                id="close_photo_3_entries.first{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                <p class="text-center">{{ entries.first.date }}</p>
                                                <img src="{{ entries.first.photo_3.url }}">
                                            </div>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br>
        {% if entries.last %}
            <!-- последние измерения -->
            <div class="block-container">
                <div class="block-header">
                    <span>Последние измерения</span>
                </div>
                <div class="block-content overflow-auto">
                    <table class="table table-bordered table-hover align-middle text-center mb-0">
                        <thead class="table-light">
                            <tr class="d-none d-md-table-row">
                                <th class="d-none d-md-table-cell">Дата</th>
                                <th>Плечо</th>
                                <th>Грудь</th>
                                <th>Талия</th>
                                <th>Живот</th>
                                <th>Ягодицы</th>
                                <th>Бедро</th>
                                <th>Голень</th>
                                {% if not for_expert or photoaccess_allowed %}
                                    <th>Фото</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for metrics in entries.last %}
                            <tr class="d-md-none table-light">
                                <th colspan="8" class="text-start text-sm-center ps-3 ps-sm-0">{{ metrics.date|date:"j E Y" }}</th>
                            </tr>
                            <tr class="d-md-none">
                                <td>Плечо</td>
                                <td>Грудь</td>
                                <td>Талия</td>
                                <td>Живот</td>
                                <td>Ягод.</td>
                                <td>Бедро</td>
                                <td>Голень</td>
                                {% if not for_expert or photoaccess_allowed %}
                                    {% if metrics.photo_1 or metrics.photo_2 or metrics.photo_3 %}
                                        <td>Фото</td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="d-none d-md-table-cell">{{ metrics.date|date:"j E Y" }}</td>
                                <td>{{ metrics.shoulder|default_if_none:"-" }}</td>
                                <td>{{ metrics.chest|default_if_none:"-" }}</td>
                                <td>{{ metrics.waist|default_if_none:"-" }}</td>
                                <td>{{ metrics.belly|default_if_none:"-" }}</td>
                                <td>{{ metrics.buttocks|default_if_none:"-" }}</td>
                                <td>{{ metrics.hip|default_if_none:"-" }}</td>
                                <td>{{ metrics.shin|default_if_none:"-" }}</td>
                                {% if not for_expert or photoaccess_allowed %}
                                    {% if metrics.photo_1 or metrics.photo_2 or metrics.photo_3 %}
                                        <td>
                                            {% if metrics.photo_1 %}
                                                <img src="{% static 'measurements/img/photo_pic.png' %}" title="показать фото" width="30"
                                                class="show_photo_btn" value="" id="btn_photo_1_metrics{{ forloop.counter }}">
                                                <div class="container_photo hidden" id="photo_1_metrics{{ forloop.counter }}">
                                                    <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                    id="close_photo_1_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                    <p class="text-center">{{ metrics.date }}</p>
                                                    <img src="{{ metrics.photo_1.url }}">
                                                </div>
                                            {% endif %}
                                            {% if metrics.photo_2 %}
                                                <img src="{% static 'measurements/img/photo_pic.png' %}" title="показать фото" width="30"
                                                class="show_photo_btn" value="" id="btn_photo_2_metrics{{ forloop.counter }}">
                                                <div class="container_photo hidden" id="photo_2_metrics{{ forloop.counter }}">
                                                    <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                    id="close_photo_2_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                    <p class="text-center">{{ metrics.date }}</p>
                                                    <img src="{{ metrics.photo_2.url }}">
                                                </div>
                                            {% endif %}
                                            {% if metrics.photo_3 %}
                                                <img src="{% static 'measurements/img/photo_pic.png' %}" title="показать фото" width="30"
                                                class="show_photo_btn" value="" id="btn_photo_3_metrics{{ forloop.counter }}">
                                                <div class="container_photo hidden" id="photo_3_metrics{{ forloop.counter }}">
                                                    <button class="btn btn-outline-primary close_btn close_photo_btn" type="button" 
                                                    id="close_photo_3_metrics{{ forloop.counter }}" onclick="closePhoto(event)">&#10006</button>
                                                    <p class="text-center">{{ metrics.date }}</p>
                                                    <img src="{{ metrics.photo_3.url }}">
                                                </div>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% if entries.all.count > 3 %}
                <!-- кнопка для открытия всех измерений -->
                <form method="get" class="text-center">
                    <input type="hidden" value="{{ client.id }}" name="client_id">
                    <input type="hidden" name="show_all_entries" value="True">
                    <input type="image" name="submit" id="btn_show_all" src="{% static 'measurements/img/arrow_down_tab.svg' %}" style="width: 125px;" title="Все записи">
                </form>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

{% if not for_expert %}
    <!-- модальное окно для внесения новой записи -->
    <div class="modal" id="new_entry_modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="block-header">
                    <span>Внесение новых данных</h3>
                </div>
                <div class="block-content">
                    <!-- (Включение свойства enctype для формы обеспечивает правильное прикрепление загруженного файла к запросу) -->
                    <form method="post" action="{% url 'save_anthropometry' %}" id="add_anthropo_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group row mb-2">
                            <label class="col-sm-3 col-form-label">{{ new_entry_form.date.label }}</label>
                            <div class="col-sm-9">
                                <input type="date" name="date" value="{% now 'Y-m-d' %}" class="form-control" required="" id="id_date">
                            </div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-sm-3 col-form-label">{{ new_entry_form.shoulder.label }}</label>
                            <div class="col-sm-9">{{ new_entry_form.shoulder }}</div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-sm-3 col-form-label">{{ new_entry_form.chest.label }}</label>
                            <div class="col-sm-9">{{ new_entry_form.chest }}</div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-sm-3 col-form-label">{{ new_entry_form.waist.label }}</label>
                            <div class="col-sm-9">{{ new_entry_form.waist }}</div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-sm-3 col-form-label">{{ new_entry_form.belly.label }}</label>
                            <div class="col-sm-9">{{ new_entry_form.belly }}</div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-sm-3 col-form-label">{{ new_entry_form.buttocks.label }}</label>
                            <div class="col-sm-9">{{ new_entry_form.buttocks }}</div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-sm-3 col-form-label">{{ new_entry_form.hip.label }}</label>
                            <div class="col-sm-9">{{ new_entry_form.hip }}</div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-sm-3 col-form-label">{{ new_entry_form.shin.label }}</label>
                            <div class="col-sm-9">{{ new_entry_form.shin }}</div>
                        </div>
                        <br>
                        <div class="form-group row mb-2">
                            <label class="col-sm-12 form-label">{{ new_entry_form.photo_1.label }}</label>
                            <div class="col-sm-12">{{ new_entry_form.photo_1 }}</div>
                        </div>
                        <div class="form-group row mb-2">
                            <label class="col-sm-12 form-label">{{ new_entry_form.photo_2.label }}</label>
                            <div class="col-sm-12">{{ new_entry_form.photo_2 }}</div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 form-label">{{ new_entry_form.photo_3.label }}</label>
                            <div class="col-sm-12">{{ new_entry_form.photo_3 }}</div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-primary float-end">Сохранить</button>
                        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Отмена</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
