{% extends 'expert/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
	<title>{{ client|capfirst }}: контакты</title>
{% endblock %}

{% block content %}
<section id="client-contacts-section">
    <div class="container">
        <div class="card shadow-sm mx-auto" style="max-width: 936px;">
			<div class="card-header bg-primary text-light text-center">
                <h5 class="mb-0">{{ contacts_form.header }}</h5>
			</div>
			<div class="card-body d-flex flex-column mt-3 gap-3">
                <div id="email">
                    <label for="id_email">Почта:</label>
                    <input type="text" name="email" value="{{ client.email }}" readonly class="form-control" id="id_email">
                </div>
                {% for field in contacts_form %}
                    <div id="{{ field.name }}">
                        {{ field.label_tag }}
                        {% if field.field.widget.input_type == 'select' %}
                            {{ field|append_attr:"disabled" }}
                        {% else %}
                            {{ field|append_attr:"readonly"|remove_attr:"placeholder" }}
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-flex justify-content-between mt-4">
                    <button type="button" onclick="history.back();" class="btn btn-outline-primary">Назад</button>
                </div>
			</div>
		</div>
    </div>
</section>
{% endblock %}