{% extends 'expert/layout.html' %}
{% load static %}
{% load nutrition_recommendations %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'home/css/alerts.css' %}">
    <link rel="stylesheet" href="{% static 'expert/css/client_metrics.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/page_menu.css' %}">
{% endblock %}

{% block title %}
	<title>{{ client|capfirst }}: измерения</title>
{% endblock %}

{% block content %}
{% include 'home/alerts.html' %}
{% include 'metrics/period_select.html' %}
{% nutrition_recommendations %}
<section id="metrics-menu-section">
    <div class="container">
        {% include 'metrics/page_menu.html' %}
    </div>
</section>
<section id="metrics-section" class="mb-4">
    <div class="container">
        {% include 'metrics/metrics_table.html' %}
    </div>
</section>
<section id="metrics-levels-section" style="display: none;">
    <div class="container">
        <div class="card shadow-sm mx-auto w-fit">
            <div class="card-header bg-primary text-light text-center">
                <h5 class="mb-0">Настройки уровней и цветов показателей</h5>
            </div>
            <div class="card-body d-flex flex-column flex-sm-row gap-4">
                <div class="d-flex flex-column gap-2">
                    <ul class="list-group">
                        {% for form in levels_forms %}
                            <li class="list-group-item pointer py-1 toggler {% if forloop.counter == 1 %} active {% endif %}" 
                                data-detail-id="{{ form.parameter.value }}">
                                {% if form.instance.pk %}
                                    {{ form.instance.get_parameter_display }}
                                {% else %}
                                    {{ form.parameter.value.label }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                    <ul class="list-group">
                        <li class="list-group-item pointer py-1 toggler" data-detail-id="algorithm">
                            Алгоритм
                        </li>
                        <a href="{% url 'expert:metrics_colors' %}?next={{ request.path }}" class="list-group-item py-1">
                            Настройка цветов
                        </a>
                    </ul>
                </div>
                {% for form in levels_forms %}
                    <div id="{{ form.parameter.value }}" class="detail" 
                        {% if forloop.counter != 1 %} style="display: none" {% endif %}>
                        <form method="POST" action="{% url 'metrics:save_levels' client.id %}" 
                            class="levels-form d-flex flex-column  rounded text-center h-100">
                            {% if form.instance.pk %}
                                <h5 class="mb-0">{{ form.instance.get_parameter_display }}</h5>
                            {% else %}
                                <h5 class="mb-0">{{ form.parameter.value.label }}</h5>
                            {% endif %}
                            <hr class="mx-auto w-50">
                            {% csrf_token %}
                            {{ form.parameter }}
                            <table class="table table-borderless align-middle">
                                <tr>
                                    <td class="px-0">{{ form.lvl1_min }}</td>
                                    <td>≤</td>
                                    <td class="px-0">
                                        <span class="cursor-default form-control" style="background: {{ levels_colors.lvl1 }}">
                                            &emsp;
                                        </span>
                                    </td>
                                    <td>≤</td>
                                    <td class="px-0">{{ form.lvl1_max }}</td>
                                </tr>
                                <tr>
                                    <td class="px-0">{{ form.lvl2_min }}</td>
                                    <td>≤</td>
                                    <td class="px-0">
                                        <span class="cursor-default form-control" style="background: {{ levels_colors.lvl2 }}">
                                            &emsp;
                                        </span>
                                    </td>
                                    <td>≤</td>
                                    <td class="px-0">{{ form.lvl2_max }}</td>
                                </tr>
                                <tr>
                                    <td class="px-0">{{ form.lvl3_min }}</td>
                                    <td>≤</td>
                                    <td class="px-0">
                                        <span class="cursor-default form-control" style="background: {{ levels_colors.lvl3 }}">
                                            &emsp;
                                        </span>
                                    </td>
                                    <td>≤</td>
                                    <td class="px-0">{{ form.lvl3_max }}</td>
                                </tr>
                                <tr>
                                    <td class="px-0">{{ form.lvl4_min }}</td>
                                    <td>≤</td>
                                    <td class="px-0">
                                        <span class="cursor-default form-control" style="background: {{ levels_colors.lvl4 }}">
                                            &emsp;
                                        </span>
                                    </td>
                                    <td>≤</td>
                                    <td class="px-0">{{ form.lvl4_max }}</td>
                                </tr>
                                <tr>
                                    <td class="px-0">{{ form.lvl5_min }}</td>
                                    <td>≤</td>
                                    <td class="px-0">
                                        <span class="cursor-default form-control" style="background: {{ levels_colors.lvl5 }}">
                                            &emsp;
                                        </span>
                                    </td>
                                    <td>≤</td>
                                    <td class="px-0">{{ form.lvl5_max }}</td>
                                </tr>
                            </table>
                            <div class="d-flex flex-row justify-content-between mt-auto">
                                <button type="reset" class="btn btn-outline-primary" title="Сбросить изменения">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/>
                                        <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                                    </svg>
                                </button>
                                <button type="submit" class="btn btn-primary" title="Сохранить изменения">
                                    Сохранить
                                </button>
                            </div>
                        </form>
                    </div>
                {% endfor %}
                <div id="algorithm" class="detail" style="display: none">
                    <h5 class="text-center">Алгоритм окрашивания</h5>
                    <hr class="mx-auto w-50">
                    <p>
                        Вначале программа проверяет цвет первого уровня (зеленый цвет, по умолчанию), означающий идеальные значения,
                        и проверяется соответствие показателя на заданное условие:
                    </p>
                    <p class="text-center">
                        <span class="text-primary me-2">X</span> ≤ <span class="text-primary mx-2">параметр</span> ≤ <span class="text-primary ms-2">Y</span>
                    </p>
                    <p>
                        <span class="text-primary">✔</span> 
                        если условие выполняется, происходит окраска.<br>
                        <span class="text-primary">✖</span> 
                        если условие не выполняется, берется нижеследующий цвет и проверяется его условие.<br>
                        <span class="text-primary">✖✖</span> 
                        Если ни одно условие не выполнено, цвет параметра остается прозрачным.
                    </p>
                    <p>
                        Давление проверяется по двум числам отдельно и окрашивается по худшему результату.
                        Если одно из чисел давления не выполнило ни одного условия, ячейка не окрашивается.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block script %}
    <script src="{% static 'home/js/alerts.js' %}"></script>
    <script src="{% static 'expert/js/client_metrics.js' %}"></script>
{% endblock %}
