{% extends 'expert/layout.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
	<title>{{ client|capfirst }}: профиль</title>
{% endblock %}

{% block content %}
<section id="client-profile-section">
    <div class="container">
        <div class="card shadow-sm mx-auto" style="max-width: 30rem;">
			<div class="card-header bg-primary text-light text-center">
				<h5 class="mb-0">{{ client.username|capfirst }}</h5>
			</div>
			<div class="card-body pt-4">
                <div class="d-flex flex-column flex-sm-row align-items-center gap-3 gap-sm-0 mb-3">
                    <div id="avatar" class="rounded-circle h-fit ms-sm-2" style="max-width: 80px;">
                        {% if client.avatar %}
                            <img src="{{ client.avatar.url }}" width="80" class="rounded-circle w-100">
                        {% else %}
                            {% if client.sex == 'M' %}
                                <img src="{% static 'client/img/avatar_male.png' %}" width="80" class="w-100">
                            {% elif client.sex == 'F' %}
                                <img src="{% static 'client/img/avatar_female.png' %}" width="80" class="w-100">
                            {% else %}
                                <img src="{% static 'client/img/avatar.png' %}" width="80" class="w-100">
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column text-center gap-2 mx-sm-auto">
                        <h5 class="fw-500 text-dark-emphasis mb-0">
                            {{ client.first_name|default:"Имя неизвестно" }}
                        </h5>
                        <h5 class="fw-500 text-dark-emphasis mb-0">
                            {{ client.last_name|default:"Фамилия неизвестна" }}
                        </h5>
                    </div>
                </div>
                <table class="table">
                    <tr>
                        <td class="label">Пол:</td>
                        <td class="text-center">{{ client.get_sex_display|default:"?"|lower }}</td>
                    </tr>
                    <tr>
                        <td class="label">День рождения:</td>
                        {% if client.birthday %}
                            <td class="text-center">{{ client.birthday|date:"d E Y" }}</td>
                        {% else %}
                            <td class="text-center">?</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <td class="label">Возраст:</td>
                        <td class="text-center">
                            {{ client.get_age|default:"?"|add_ending:"год, года, лет" }}
                        </td>
                    </tr>
                    <tr>
                        <td class="label">Рост:</td>
                        <td class="text-center">
                            {{ client.height|default:"?" }}
                            {% if client.height %} см{% endif %}
                        </td>
                    </tr>
                    <tr>
                        <!-- TODO -->
                        <td class="label">Тариф:</td>
                        <td class="text-center">индивидуальный</td>
                    </tr>
                </table>
                <div class="d-flex justify-content-center gap-4">
                    <a href="{% url 'expert:client_contacts' client.id %}" title="Контакты" class="filter-hover-primary">
                        <img src="{% static 'expert/img/envelope.svg' %}" width="20">
                    </a>
                    <a href="{% url 'expert:client_health' client.id %}" title="Данные о здоровье" class="filter-hover-primary">
                        <img src="{% static 'expert/img/postcard-heart.svg' %}" width="20">
                    </a>
                </div>
			</div>
		</div>
    </div>
</section>
{% endblock %}
