{% load static %}
{% if client %}
    {% load chat %}
    {% load expert_notes %}
{% endif %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{% static 'main/img/logo.svg' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/alerts.css' %}">
    <link rel="stylesheet" href="{% static 'expert/css/layout.css' %}">
    {% if client %}
        <link rel="stylesheet" href="{% static 'chat/css/chat.css' %}">
        <link rel="stylesheet" href="{% static 'chat/css/chat_btn_fixed.css' %}">
        <link rel="stylesheet" href="{% static 'expert/css/notes.css' %}">
    {% endif %}
    {% block stylesheet %}{% endblock %}
    {% block title %}{% endblock %}
</head>

<body>
    <header class="border-bottom bg-white shadow py-2">
        <div class="container">
            {% if client %}
                <div class="d-flex flex-wrap gap-lg-2 align-items-center justify-content-center justify-content-lg-between">
                    <div class="col-lg-3">
                        <a href="{% url 'expert:client_profile' client.id %}" title="Профиль" class="btn-link">
                            <h5 class="fw-500 text-dark-emphasis mb-0">{{ client.username|capfirst }}</h5>
                        </a>
                    </div>
                    <ul class="nav col-12 col-lg-auto justify-content-center mb-1 mb-lg-0">
                        {% with request.resolver_match.view_name as url %}
                        <li class="d-none d-sm-block">
                            <a href="{% url 'expert:client_profile' client.id %}?client_id={{ client.id }}" 
                            class="nav-link px-2 px-lg-3 
                            {% if url in 'expert:client_profile, expert:client_contacts, expert:client_health' %} active {% endif %}">
                                Профиль
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'metrics:daily' %}?client_id={{ client.id }}" 
                                class="nav-link px-2 px-lg-3 {% if 'metrics' in url %} active {% endif %}">
                                Измерения
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'nutrition:nutrition' %}?client_id={{ client.id }}" 
                                class="nav-link px-2 px-lg-3 {% if 'nutrition' in url %} active {% endif %}">
                                Питание
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'training:trainings' %}?client_id={{ client.id }}" 
                                class="nav-link px-2 px-lg-3 {% if 'training' in url %} active {% endif %}">
                                Тренировки
                            </a>
                        </li>
                        {% endwith %}
                    </ul>
                    <div class="col-lg-3 d-flex flex-nowrap align-items-center justify-content-end gap-2">
                        <a href="{% url 'expert:clients' %}" class="btn btn-primary">Кабинет</a>
                        {% if user.is_staff or user.is_superuser %}
                            <a href="{% url 'admin:index' %}" class="btn btn-primary">Админ панель</a>
                        {% endif %}
                        <form method="POST" action="{% url 'users:logout' %}" class="d-inline">
                            {% csrf_token %}
                            <input type="Submit" class="btn btn-primary" title="Выход" value="Выход">
                        </form>
                    </div>
                </div>
            {% else %}
                <div class="d-flex flex-wrap gap-2 align-items-center justify-content-center justify-content-sm-between">
                    <div class="col-sm-3">
                        <a href="/" class="d-inline-flex align-middle">
                            <img id="logo" src="{% static 'main/img/logo_text.svg' %}" type="image/svg+xml" width="90">
                        </a>
                    </div>
                    <ul class="nav col-12 col-sm-auto justify-content-center">
                        {% with request.resolver_match.view_name as url %}
                        <li>
                            <a href="{% url 'expert:clients' %}" class="nav-link px-2 px-lg-3 
                            {% if 'client' in url %} active {% endif %}">
                                Клиенты
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'expert:consult_requests' %}" class="nav-link px-2 px-lg-3 
                            {% if 'consult' in url %} active {% endif %}">
                                Заявки
                                {% if new_requests.count > 0 %}
                                    <span id="new-requests-badge" class="badge rounded-pill bg-primary">
                                        {{ new_requests.count }}
                                    </span>
                                {% endif %}
                            </a>
                        </li>
                        {% endwith %}
                    </ul>
                    <div class="col-sm-3 d-flex flex-nowrap align-items-center justify-content-end gap-2">
                        {% if user.is_staff %}
                            <a href="{% url 'admin:index' %}" class="btn btn-primary me-2">Админ панель</a>
                        {% endif %}
                        <form method="POST" action="{% url 'users:logout' %}" class="d-inline">
                            {% csrf_token %}
                            <input type="Submit" class="btn btn-primary" title="Выход" value="Выход">
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </header>
    <main>
        {% include 'main/alerts.html' %}
        {% if client %}
            {% expert_notes %}
            {% chat partner_id=client.id %}
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'main/js/alerts.js' %}"></script>
<script src="{% static 'main/js/lazy_images.js' %}"></script>
{% if client %}
    <script src="{% static 'main/js/draggable.js' %}"></script>
    <script src="{% static 'chat/js/chat.js' %}"></script>
    <script src="{% static 'expert/js/notes.js' %}"></script>
{% endif %}
{% block script %}{% endblock %}

</html>
