{% load static %}

<div class="dummy-front">
    <svg width="100%" viewBox="0 0 400 872" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image xlink:href="{% static 'training/img/dummy/female/front/dummy.png' %}" x="0" y="0" height="872" width="400"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/delts_left.png' %}" x="105" y="141" height="54" width="53" class="area delts-front" data-area="delts-front"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/delts_right.png' %}" x="241" y="142" height="54" width="53" class="area delts-front" data-area="delts-front"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/shoulders_left.png' %}" x="86" y="204" height="112" width="53" class="area shoulders-front" data-area="shoulders-front"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/shoulders_right.png' %}" x="260" y="204" height="112" width="53" class="area shoulders-front" data-area="shoulders-front"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/chest.png' %}" x="132" y="136" height="118" width="136" class="area chest" data-area="chest"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/sides_left.png' %}" x="128" y="248" height="155" width="46" class="area belly-sides" data-area="belly-sides"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/sides_right.png' %}" x="225" y="248" height="155" width="46" class="area belly-sides" data-area="belly-sides"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/hips.png' %}" x="134" y="367" height="245" width="131" class="area hips-front" data-area="hips-front"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/press.png' %}" x="171" y="243" height="176" width="57" class="area press" data-area="press"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/hips_inner.png' %}" x="179" y="408" height="107" width="41" class="area hips-inner" data-area="hips-inner"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/hips_outer_left.png' %}" x="115" y="355" height="148" width="21" class="area hips-sides" data-area="hips-sides"/>
        <image xlink:href="{% static 'training/img/dummy/female/front/hips_outer_right.png' %}" x="263" y="351" height="154" width="21" class="area hips-sides" data-area="hips-sides"/>

    </svg>
</div>

<div class="dummy-back">
    <svg width="100%" viewBox="0 0 400 876" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image xlink:href="{% static 'training/img/dummy/female/back/dummy.png' %}" x="0" y="0" height="876" width="400"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/upperspine_left.png' %}" x="128" y="133" height="128" width="63" class="area spine-upper" data-area="spine-upper"/> 
        <image xlink:href="{% static 'training/img/dummy/female/back/upperspine_right.png' %}" x="209" y="134" height="126" width="62" class="area spine-upper" data-area="spine-upper"/> 
        <image xlink:href="{% static 'training/img/dummy/female/back/delts_left.png' %}" x="105" y="141" height="54" width="53" class="area delts-back" data-area="delts-back"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/delts_right.png' %}" x="242" y="142" height="54" width="53" class="area delts-back" data-area="delts-back"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/shoulders_left.png' %}" x="88" y="197" height="115" width="50" class="area shoulders-back" data-area="shoulders-back"/> 
        <image xlink:href="{% static 'training/img/dummy/female/back/shoulders_right.png' %}" x="263" y="197" height="115" width="50" class="area shoulders-back" data-area="shoulders-back"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/spine.png' %}" x="192" y="106" height="277" width="17" class="area spine-backbone" data-area="spine-backbone"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/lowerspine_left.png' %}" x="136" y="258" height="114" width="54" class="area spine-lower" data-area="spine-lower"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/lowerspine_right.png' %}" x="210" y="258" height="114" width="54" class="area spine-lower" data-area="spine-lower"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/butt.png' %}" x="130" y="352" height="97" width="141" class="area butt" data-area="butt"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/hips.png' %}" x="132" y="433" height="191" width="136" class="area hips-back" data-area="hips-back"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/hips_inner.png' %}" x="183" y="439" height="96" width="34" class="area hips-inner" data-area="hips-inner"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/hips_outer_left.png' %}" x="116" y="355" height="145" width="21" class="area hips-sides" data-area="hips-sides"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/hips_outer_right.png' %}" x="263" y="354" height="145" width="21" class="area hips-sides" data-area="hips-sides"/>
        <image xlink:href="{% static 'training/img/dummy/female/back/shins.png' %}" x="143" y="613" height="205" width="113" class="area shins" data-area="shins"/>
    </svg>
</div>
