{% load static %}

<div class="dummy-front">
  <svg width="100%" viewBox="0 0 400 819" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <image xlink:href="{% static 'training/img/dummy/male/front/dummy.png' %}" x="0" y="0" height="819" width="400"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/delts_left.png' %}" x="85" y="144" height="69" width="59" class="area delts-front" data-area="delts-front"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/delts_right.png' %}" x="256" y="144" height="69" width="59" class="area delts-front" data-area="delts-front"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/shoulders_left.png' %}" x="77" y="200" height="93" width="45" class="area shoulders-front" data-area="shoulders-front"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/shoulders_right.png' %}" x="278" y="200" height="93" width="45" class="area shoulders-front" data-area="shoulders-front"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/chest.png' %}" x="116" y="142" height="117" width="168" class="area chest" data-area="chest"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/sides_left.png' %}" x="124" y="257" height="124" width="38" class="area belly-sides" data-area="belly-sides"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/sides_right.png' %}" x="237" y="257" height="127" width="39" class="area belly-sides" data-area="belly-sides"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/hips.png' %}" x="139" y="362" height="236" width="122" class="area hips-front" data-area="hips-front"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/press.png' %}" x="163" y="247" height="175" width="73" class="area press" data-area="press"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/hips_inner.png' %}" x="181" y="422" height="100" width="38" class="area hips-inner" data-area="hips-inner"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/hips_outer_left.png' %}" x="127" y="346" height="187" width="15" class="area hips-sides" data-area="hips-sides"/>
    <image xlink:href="{% static 'training/img/dummy/male/front/hips_outer_right.png' %}" x="258" y="346" height="187" width="15" class="area hips-sides" data-area="hips-sides"/>
  </svg>
</div>

<div class="dummy-back">
  <svg width="100%" viewBox="0 0 400 827" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <image xlink:href="{% static 'training/img/dummy/male/back/dummy.png' %}" x="0" y="0" height="827" width="400"/> 
    <image xlink:href="{% static 'training/img/dummy/male/back/upperspine_left.png' %}" x="118" y="101" height="177" width="68" class="area spine-upper" data-area="spine-upper"/> 
    <image xlink:href="{% static 'training/img/dummy/male/back/upperspine_right.png' %}" x="214" y="101" height="177" width="68" class="area spine-upper" data-area="spine-upper"/> 
    <image xlink:href="{% static 'training/img/dummy/male/back/delts_left.png' %}" x="85" y="144" height="69" width="59" class="area delts-back" data-area="delts-back"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/delts_right.png' %}" x="256" y="144" height="69" width="59" class="area delts-back" data-area="delts-back"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/shoulders_left.png' %}" x="77" y="204" height="92" width="45" class="area shoulders-back" data-area="shoulders-back"/> 
    <image xlink:href="{% static 'training/img/dummy/male/back/shoulders_right.png' %}" x="278" y="204" height="92" width="45" class="area shoulders-back" data-area="shoulders-back"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/spine.png' %}" x="186" y="98" height="288" width="28" class="area spine-backbone" data-area="spine-backbone"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/lowerspine_left.png' %}" x="123" y="257" height="112" width="60" class="area spine-lower" data-area="spine-lower"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/lowerspine_right.png' %}" x="217" y="258" height="112" width="60" class="area spine-lower" data-area="spine-lower"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/butt.png' %}" x="139" y="352" height="93" width="122" class="area butt" data-area="butt"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/hips.png' %}" x="139" y="436" height="155" width="122" class="area hips-back" data-area="hips-back"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/hips_inner.png' %}" x="182" y="439" height="86" width="37" class="area hips-inner" data-area="hips-inner"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/hips_outer_left.png' %}" x="125" y="347" height="173" width="15" class="area hips-sides" data-area="hips-sides"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/hips_outer_right.png' %}" x="260" y="347" height="173" width="15" class="area hips-sides" data-area="hips-sides"/>
    <image xlink:href="{% static 'training/img/dummy/male/back/shins.png' %}" x="142" y="580" height="205" width="116" class="area shins" data-area="shins"/>
  </svg>
</div>
